.nav-panel {
    position: absolute;
    bottom: 80px;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
}
.nav {
    height: 80px;
    width: 80px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius:50%;
    border: solid 3px #fff;
    color: #fff;
}
.nav:hover {
    color: #ffffff;
}
.nav .icon {
    width: 30px;
    height: 30px;
}
.nav .name {
    margin-top: 5px;
    width:55px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.nav-1 {
    background: #32afc5;
}
.nav-2 {
    background: #b0cc26;
}
.nav-3 {
    background: #ec5aa0;
}
.nav-4 {
    background: #fc8371;
}
.nav-5 {
    background: #22b9b2;
}
.nav-6 {
    background: #f8604a;
}
.nav-7 {
    background: #edb020;
}
.nav-8 {
    background: #9767e8;
}
.nav-0 {
    background: #107aaf;
}