@charset "utf-8";
/* 
* @Author: Samphay
* @Date:   2014-11-28 09:57:33
* @Last Modified by:   星辉
* @Last Modified time: 2014-12-25 14:37:29
* @Verson: Alpha 1.0
*/
*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    font-family:Helvetica, "微软雅黑", Verdana;
     -webkit-text-size-adjust:none; 
}
*:focus{
    outline:none;}
html,body{ 
      -webkit-text-size-adjust:none; 
} 
body{
    background-color: #2086ce;
    background-size: cover;
    background-repeat: no-repeat;
}

.myul{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;  }
.myli{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex:1; 
    /*max-height: 90px;*/
}

.DonforAll{Width:90%;margin:15px auto; border:1px solid #fff;border-radius: 10px;padding-bottom: 5%; }
.DonforAll .DonforKj{Width:29%;height:60px;Padding-Top:30px;Margin:10px 0 0 10px;BackGround:#fff;color:#156A00;Font-Weight:600;text-align:center;}
.DonforXs{Float:Left;Width:100%;Font-Weight:600;Font-Size:14px;Height:auto;Clear:both;Color:#ff0000;Padding:0 0 20px 0;}
.Donfor{Float:Left;Width:100%;}
div#d0 {
    background-color: rgb(255,85,85);
    color: #fff;
}
.Btitle{
    width:100%;
    text-align:center;
    color:#fff;
    font-size:20px;}
.time{
    width:100%;
    text-align:center;
    color:#fff;
    font-size:18px;}

.go{
    background-color:rgba(255,255,255,0.5); 
    }
.Arrow span {
    text-shadow: 0px 0px 7px rgba(0,0,0,1);
}
.ShopItem:nth-child(even) .PriceTag span#RMB {
    position: absolute;
    left: 5%;
}
.leftTimes {
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #004280;
    font-size: 16px;
    font-weight: 600;
}

.comentBox {
    width: 100%;
    margin-top: 25px;
}

.comment {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
}