/* 
* @Author: 星辉
* @Date:   2015-02-06 10:23:04
* @Last Modified by:   星辉
* @Last Modified time: 2015-03-20 17:45:13
*/
.header {
    background-color: rgb(106,201,193);
    color: white;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
}

body {
    background-color: rgb(242,242,242);
    
}

.havBox {
    width: 70%;
    margin: 24px auto;
    border: 1px solid rgb(180,180,180);
    height: 30px;
    line-height: 30px;
    color: rgb(106,201,193);
    background-color: #fff;
}

.hav.on {
    background-color: rgb(106,201,193);
    color: #fff;
}

.inputWrap {
    border: 1px solid rgb(180,180,180);
    background-color: #fff;
    width: 82%;
    margin: 0 auto 20px;
    padding: 18px 4%;
}

.inputItem {
    padding-bottom: 12px;
}

.inputItemName {
    color: rgb(64,64,64);
    margin-bottom: 8px;
}

.district select {
    border: 1px solid rgb(180,180,180);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
    background-color: rgb(240,240,240);
    color: rgb(159,159,159);
    -webkit-appearance: none;
    position: relative;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}



.district {
    margin-top: 8px;
}

.district .select {
    width: 42%;
    margin-left: 4%;
    position: relative;
    border: 1px solid rgb(180,180,180);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: rgb(242,242,242);
}

.select:after{
    content:"";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    border-left: 1px solid rgb(180,180,180);
    border-bottom: 1px solid rgb(180,180,180);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 8px;
    bottom: 8px;
}

.input-a .input {
    margin: 0 4% 0 22%;
    width: 40%;
    position: relative;
    border: 1px solid rgb(180,180,180);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color:rgb(242,242,242);
    height: 26px;
    line-height: 26px;
}



.input input{
    border:none;
    background:none;
    width: 94%;
    height: 100%;
    font-size: 13px;
    padding-left: 4%;
     line-height: 24px;
}

input{
	border: 1px solid rgb(180,180,180);
	background-color: rgb(242,242,242);
	border-radius: 4px;
	-webkit-border-radius:4px;
	height: 24px;
	line-height: 24px;
	margin-right: 12px;
}

.input-c .input {
    border: 1px solid rgb(180,180,180);
    background-color: rgb(242,242,242);
    position: relative;
    width: 30%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    height: 24px;
    line-height: 24px;
}

.inputLabel {
    min-width: 34%;
    line-height: 26px;
}
.input-a label {
    position: static;
}

label{
	color: rgb(64,64,64);
	line-height: 24px;
	position: absolute;
	right: -28px;
	top: 0;
}

.iRadioWrap {
    border: 1px solid rgb(180,180,180);
    width: 20px;
    height: 20px;
  
}

.wudingStyle,
.electStyle,
.moneyStyle,
.electStationStyle,
.directionStyle {
    margin-right: 12px;
    white-space: nowrap;
    position: relative;
    height: 24px;
    width: 33%;
    flex:1;
    -webkit-box-flex:1;
}

.iRadio {
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    left: 3px;
}

.on .iRadio{
    background-color:rgb(106,201,193)
}

.wudingStyle div:nth-of-type(2),
.electStyle div:nth-of-type(2),
.moneyStyle div:nth-of-type(2),
.electStationStyle div:nth-of-type(2),
.directionStyle div:nth-of-type(2) {
    margin-left: 6px;
    line-height: 22px;
    position: absolute;
    width: 60%;
}

.inputBtn {
    text-align: center;
    margin: 10px auto;
    width: 160px;
    height: 42px;
    line-height: 42px;
    background-color: rgb(106,201,193);
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.actionHavBox {
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: rgb(106,201,193);
    position: relative;
    bottom: 0;
}

.actionHav:nth-of-type(1){
    background-color:rgb(82,186,175)
}

.resultNotice {
    color: rgb(253,0,1);
    width: 94%;
    margin: 0 3%;
    position: relative;
    margin-top: 20px;
    font-size: 12px;
}

.resultNotice div {
    min-width: 42px;

}

.resultBox {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin-bottom: 40px;
}

.resultItem {
    width: 85%;
    margin: 0 auto 14px;
    font-size: 14px;
    color: rgb(99, 99, 99);
}

.resultItemName {
    width: 40%;
}

.result {
    color: rgb(253,0,1);
    width: 66%;
    text-align: right;
}

.resuleContent {
    width: 50%;
}

.resultUnit {
    text-align: right;
    width: 24%;
}

.label {
    position: absolute;
    right: -40px;
    color: rgb(64,64,64);
	line-height: 24px;
}

.marginTop20{
	margin-top: 20px;
}

.input-b {
    margin-bottom: 6px;
}

.input.input-ex {
    width: 53%;
}

.input {
    width: 70%;
    height: 32px;
    border: 1px solid rgb(180,180,180);
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: rgb(242,242,242);
}

.onBtn {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.label.label-ex {
    right: -26px;
    line-height: 32px;
}

.select select {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    background: none;
    border: none;
    text-align: center;
    text-align: -webkit-center;
}

.select.select-ex:after {
    bottom: 12px;
    right: 12px;
}

.marginTop8{
	margin-top:8px;
}

.icon:before{
	content:"";
	background-image: url(../img/icon.png);
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 120%;
	background-repeat: no-repeat;
	position: relative;
	top: 2px;
}

.icon-name:before {
    background-position: -1px -2px;
}

.icon-phone:before {
    background-position: -1px -25px;
}

.icon-address:before {
    background-position: -1px -52px;
}

.icon-house:before {
    background-position: -1px -76px;
}

.icon-host:before {
    background-position: -1px -99px;
}
.pc-select-area {
    height: 32px;
    line-height: 32px;
}