.header {
	background: url(../images/index_01.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 200px;
	box-shadow: 0px 3px 5px #ccc;
}
.header img {
	width: 100%;
}
.update {
	background: url(../images/index_15.png) no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.update_on {
	background: url(../images/index_14.png) no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.people {
	background: url(../images/index_17.png) no-repeat;
	background-size: 100% 100%;
	width: 15px;
	height: 20px;
	margin: 0 auto;
}
.people_on {
	background: url(../images/index_13.png) no-repeat;
	background-size: 100% 100%;
	width: 15px;
	height: 20px;
	margin: 0 auto;
}
.add {
	background: url(../images/index_20.png) no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.add_on {
	background: url(../images/index_12.png) no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.ldg_bao {
	background: url(../images/index_04.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.w90 {
	width: 90%;
	margin: 0 auto;
}
.ldg_nav {
	width: 47%;
	border-bottom: 1px solid #E7E7E7;
	padding: 20px 0px;
	text-align: center;
}
.Line {
	display: inline-block;
	float: left;
	height: 70px;
	width: 4px;
	border-right: 1px solid #E7E7E7;
}
.Line1 {
	display: inline-block;
	float: left;
	height: 66px;
	width: 4px;
	border-right: 1px solid #E7E7E7;
}
.left {
	padding-left: 41px;
	margin-top: 4px;
	position: absolute;
	left: 30px;
}
.right {
	font-size: 13px;
	padding-left: 20px;
	margin-top: 4px;
}
.On_line {
	background: url(../images/index_06.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.List {
	background: url(../images/index_10.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.Criticism {
	background: url(../images/index_11.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_Information {
	background: url(../images/lgd_03.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_Notice {
	background: url(../images/lgd_05.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_tel {
	background: url(../images/lgd_09.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_pople {
	background: url(../images/lgd_11.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_Appeal {
	background: url(../images/lgd_16.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_dongtai {
	background: url(../images/Work_03.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_Post {
	background: url(../images/Work_05.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_Market {
	background: url(../images/Work_10.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 14px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_Skill {
	background: url(../images/Work_12.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.icon_money {
	background: url(../images/Work_17.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left: 14px;
	display: inline-block;
	position: absolute;
	top: 15px;
}
.left1 {
	padding-left: 21px;
	margin-top: 4px;
	position: absolute;
	left: 30px;
}
.right1 {
	padding-left: 16px;
	margin-top: 4px;
	position: absolute;
	left: 30px;
}
.ml5 {
	margin-left: 5px;
}
/*Labor*/
	.laodong_top {
	width: 100%;
	height: 130px;
	background-color: #f2f2f1;
	border-bottom: 5px solid #e33940;
	padding-top: 30px;
}
.laodong_yuan {
	width: 80px;
	height: 80px;
	border: 2px solid #e33940;
	border-radius: 50%;
	background-color:#f2f2f1 ;
	margin: 0 auto;
}
.laodong_img {
	background: url(../images/laodong.png) no-repeat;
	background-size: 100% 100%;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.mt5 {
	margin-top: 5px;
}
.on_line {
	width: 100%;
	margin-top: 10px;
	text-align:center;
	color: #e98387;
}
.laodong_nav {
	padding-top: 30px;
	width: 100%;
}
.laodong_code {
	border: 1px solid #999999;
	height: 50px;
	margin-top: 7px;
	line-height: 50px;
}
.laodong_code input {
	border: 0;
	font-size: 32px;
	width: 96%;
	padding: 5px;
	color: #ccc;
}
.laodong_btn {
	padding-top: 40px;
}
.btn {
	background-color: #d73f3e;
	color: #fff;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	width: 120px;
	display: block;
	margin: 0 auto;
	box-shadow: 0 2px 2px rgba(255,255,255,0.5) inset;
}
/*Law*/
	.Law_line {
	color: red;
	padding: 5px 0;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
}
.Law_yuan {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid red;
	display: block;
	position: relative;
}
.Law_i {
	font-size: 20px;
	color: red;
	position: absolute;
	right: 3px;
	top: -3px;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
	right: 9px;
	bottom: 22px;
}
.header_red {
	background-color: #e23840;
	width: 100%;
	height: 48px;
	color: #fff;
	line-height: 48px;
	font-size: 16px;
	text-align: center;
}
.footer_data {
	}
.footer_data input {
	border: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px 0;
	margin-left: 10px;
	padding: 10px 0;
	width: 70%;
}
.footer_btn {
	text-align: center;
	width: 23%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px 0;
	padding: 7px 0;
	display: inline-block;
	color: #000;
	font-size: 14px;
}
.w90 ul {
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}
.w90 ul li {
	width: 49.5%;
	display: block;
	position: relative;
	height: 50px;
	line-height: 50px;
	border: 0;
	border-bottom: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	list-style-type: none;
	float: left;
	padding-bottom: 10px;
	font-size: 12px;
}
/*complaint*/
	.complaint_header {
	width: 100%;
	position: relative;
}
.active {
	color: #fff !important;
	/* border-bottom: 3px solid #fff !important; */
	background-color: #AE4747;
}
.complaint_header_top {
	display: -webkit-box;
	background-color: #dd3546;
	height: 38px;
	line-height: 38px;
}
.complaint_header_top li {
	-webkit-box-flex: 1;
	text-align: center;
	color: #edaba8;
	font-size: 14px;
	/* border-bottom: 3px solid #421019; */
}
.hide {
	display: none;
}
.complaint_header_user {
	border-radius: 5px;
	border: 1px solid #bebcb9;
	background-color: #ffffff;
	padding: 10px;
	position: relative;
	white-space: nowrap;
}
.complaint_header_user1 {
	border-radius: 5px;
	border: 1px solid #bebcb9;
	background-color: #ffffff;
	padding: 10px;
	position: relative;
	white-space: nowrap;
}

.selectBox {
	display: inline-block;
	width: 32%;
	box-sizing: border-box;
	margin: 0 1px;
	position: relative;
}

.selectBox:after{
	content: "\f107";
	position:absolute;
	right: 4px;
	top: 2px;
}

.selectBox select{
	border:none;
	position: relative;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.complaint_user p {
	font-size: 14px;
	padding: 5px;
	color: #000000;
}
.complaint_header_user input {
	border: 0;
}
.complaint_header_user1 input {
	border: 0;
}
.complaint_header_user textarea {
	/*overflow:hidden;*/
	resize:none;
	border: 0;
	width: 100%;
	height: 100px;
}
.p5 {
	padding:5px;
}
.Company p {
	padding-bottom: 5px;
}
.Handle_nav {
	text-align: right;
}
.Handle_nav span {
	display: inline-block;
	padding: 5px;
}
.Handle_nav_red {
	background-color: #e23840;
	border-radius: 20px;
	color: #fff;
}
.Handle_nav_green {
	background-color: #61b852;
	border-radius: 20px;
	color: #fff;
}
/*Land*/
	.Land {
	margin: 0 auto;
	padding: 30px 0;
}
.Land_nav {
	width: 70%;
	border-radius: 20px;
	padding: 10px;
	background: #f7f7f7;
	border: 1px solid #bfbfbf;
	margin:0 auto;
	margin-bottom: 15px;
}
.Land_img {
	background: url(../images/pople.png) no-repeat;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	display: inline-block;
	margin-left: 5px;
}
.Land_user {
	padding: 0 5px;
	border-left: 1px solid #bfbfbf;
	margin-left: 10px;
	background-color: #f7f7f7;
}
.Land_user input {
	border: 0;
	background-color: #f7f7f7;
	margin-left: 5px;
}
.Land_pass {
	background: url(../images/suo.png) no-repeat;
	width: 15px;
	height: 20px;
	background-size: 100% 100%;
	display: inline-block;
	margin-left: 7px;
	margin-right: 3px;
}
.w85 {
	width: 85%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.user {
	width: 76px;
	height: 76px;
	border-radius: 50%;
	margin: 0 auto;
	/* box-shadow: 0 0 0px 6px #ec8e7c,0 0 0 12px #af2b3c,0 0 15px 18px rgba(255,255,255,.1);*/
	/* left: calc(50% - 40px);*/
	border: 1px solid #f7c3bd;
	overflow: hidden;
	margin-top: 10px;
	text-align: center;
	margin: 0 auto;
}
.user_one {
	width: 68px;
	height:68px;
	border-radius: 50%;
	border: 1px solid #efd9d3;
	background-color: #ec8e7c;
	text-align: center;
	margin: 0 auto;
	margin-top: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.user_two {
	width:60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #bb6248;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	margin-top: 3px;
}
.user img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.user_header {
	background-color: #dd3546;
	padding: 10px;
	border-bottom: 2px solid #e97c6d;
	box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}
.user_header_name {
	width: 40%;
	border: 1px solid #e68b8b;
	line-height: 30px;
	text-align: center;
	color: #fad0ce;
	margin: 0 auto;
	margin-top: 10px;
}
.user_header_edit {
	border: 2px solid #fad1cf;
	width: 70px;
	text-align: center;
	color: #ed8d81;
	border-radius: 20px;
	float: right;
	text-shadow: 0px 0px 2px #000;
	box-shadow: 0px 0px 1px #000 inset;
	font-size: 14px;
}
.p10 {
	padding: 10px;
}
.user_nav {
	font-size: 14px;
	color: #a4a3a3;
	background-color: #f2f0ee;
	box-shadow: 0px 1px 5px #ccc inset;
}
.user_center p {
	font-size: 12px;
	margin-left: 10px;
}
.user_center p input {
	border: 0 ;
}
.user_name {
	display: -webkit-box;
}
.user_input {
	border: 1px solid #dcdad9 !important;
	border-radius: 5px;
	background-color: #f2f0ee;
	line-height: 22px;
	-webkit-box-flex: 1;
}
.user_input_color {
	border: 0;
	background-color: #f2f0ee;
	width: 95%;
}
.black {
	color: #000000;
}
.user_money {
	position: absolute;
	right: 10px;
	top: 0;
}
.wen{
	position: absolute;
	right: 10px;
	top: 10px
}
.complaint_header_user1.shadow.on .user_sex{
	display: block;
}
.user_sex{
	position: absolute;
	right: 0px;
  	top: 37px;
  	z-index: 9999;
  	display: none;
}
.user_sex ul{
	border-radius: 5px;
	background-color: #8A8A8A;
}
.user_sex ul li{
	padding: 5px;
	text-align: center;
	width: 50px;
	color: #fff;
}
.complaint_header_center{
	width: 90%;
	margin:0 auto;
}
/* .complaint_header_user select{
	width:28%;
}
.complaint_header_user select:first-child{
	width: 40%;
} */
#location_p{
	position: relative;
}
#location_b{
	position: relative;
}
#location_a{
	position: relative;
}
.arrow_dw{
	  position: absolute;
	  top: 10px;
	  left: 97px;	
}
.arrow_dw1{
	  position: absolute;
	  top: 10px;
	  left: 175px;	
}
.arrow_dw2{
	  position: absolute;
	  top: 10px;
	  left: 97px;	
}
.shenfen{
	width: 93%;
	border: 0;
	outline: none;
	text-overflow: ellipsis;
}
.complaint_user { margin-top: 10px; }