*{margin:0;padding:0}
ul,li{list-style:none}
img{border:0}
a{text-decoration:none;color:#4b7fd0}
body{margin:0 auto;height:100%;background: #f1f1f1;font-size:14px;ffont-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;line-height:1.5;color:#666;-webkit-text-size-adjust:100%}
.co_red{color:#d50900}
.co_gray{color:#999!important}
.address_ico,.address2 .address_item .address_btn,.address2 .address_item .address_checked,.watermark,.return_ico,.tips_ico,.tips_follow_txt i,.goods_num_ico,.ftips_follow:before,.ftips_follow_opt a:before{background-image:url(../images/buy_v8.png);background-repeat:no-repeat;-webkit-background-size:250px 61px;background-size:250px 61px}
.btn_buy{margin:15px 10px 0;width:auto;display:block;height:42px;border:1px solid #656a66;line-height:42px;color:#fff;text-align:center;font-size:18px;font-weight:bold;-webkit-text-shadow:#ad5e00 0 -1px 0;border-radius:8px;-webkit-box-shadow:1px 1px 0 #96d89b inset,-1px -1px 0 #96d89b inset;background:#03940e;background:-webkit-gradient(linear,0 0,0 100%,from(#51bf5a),to(#03940e));background:-ms-linear-gradient(top,#51bf5a,#03940e);background:-moz-linear-gradient(top,#51bf5a,#03940e);background:-o-linear-gradient(top,#51bf5a,#03940e);text-shadow:0 1px 1px #666;position:relative;z-index:2}
.btn_buy:hover{-webkit-box-shadow:1px 1px 0 #52ad5a inset,-1px -1px 0 #52ad5a inset;background:#066c10;background:-webkit-gradient(linear,0 0,0 100%,from(#2b9b35),to(#00660a));background:-ms-linear-gradient(top,#2b9b35,#00660a);background:-moz-linear-gradient(top,#2b9b35,#00660a);background:-o-linear-gradient(top,#2b9b35,#00660a)}
.btn_buy_disabled{margin:15px 10px 0;width:auto;display:block;height:42px;border:1px solid #666;line-height:42px;color:#ddd;text-align:center;font-size:18px;font-weight:bold;-webkit-text-shadow:#ad5e00 0 -1px 0;border-radius:8px;-webkit-box-shadow:1px 1px 0 #838383 inset,-1px -1px 0 #838383 inset;background:#03940e;background:-webkit-gradient(linear,0 0,0 100%,from(#8b8b8b),to(#6e6e6e));background:-ms-linear-gradient(top,#8b8b8b,#6e6e6e);background:-moz-linear-gradient(top,#8b8b8b,#6e6e6e);background:-o-linear-gradient(top,#8b8b8b,#6e6e6e);text-shadow:0 1px 1px #666;position:relative;z-index:2}
.btn_sure{margin:0 0 10px 0;display:block;width:auto;height:42px;line-height:42px;color:#fff;text-align:center;font-size:18px;font-weight:bold;background:#03940e;position:relative;z-index:2}
.btn_cancle{margin:0 0 10px 0;display:block;width:auto;height:42px; background:#fff;border:1px solid #dbdbdb;line-height:42px;color:#333;text-align:center;font-size:18px;font-weight:bold;position:relative;z-index:2; }
.ftips_info{margin:40px 10px 0 10px; text-align:center; display:block;}
.ftips_ico{height:50px;font-size:28px;color:#0f8703;line-height:50px; padding:5px 10px 0 70px; display:inline-block;}
.success_ico{background-image:url(../images/success.png);background-repeat:no-repeat;-webkit-background-size:50px 50px;background-size:50px 50px}
.error_ico{background-image:url(../images/error.png);background-repeat:no-repeat;-webkit-background-size:50px 50px;background-size:50px 50px}
.block_ico{background-image:url(../images/block.png);background-repeat:no-repeat;-webkit-background-size:50px 50px;background-size:50px 50px}
.info_ico{background-image:url(../images/info.png);background-repeat:no-repeat;-webkit-background-size:50px 50px;background-size:50px 50px}
.ftips_tit{font-size:18px;color:#0f8703;line-height:28px;margin-bottom:3px}
.ftips_txt{color:#666;}
.ftips_txt b{color:#fe9400;font-weight:normal}
.ftips_btn{padding:15px 0}
.ftips_btn a{margin:0 10px}
.fshare{margin:40px 10px 0 10px; display:block;}
.fshare_goods{height:auto;overflow:hidden; margin-bottom:30px;font-size:20px;}
.fshare_img{float:left;margin-right:10px}
.fshare_img img{display:block;width:80px;height:80px;overflow:hidden;border: 1px solid #E2E2E2;}
.fshare_info{display:block;padding-top:5px}
.fshare_title{margin-bottom:5px;color:#0F8703}
.fshare_name{line-height:18px;color:#666; margin-bottom:5px;}
.fshare_name span.co_red{color:#D50900; font-size:16px;}
.fshare_btn{clear:both;height:auto;overflow:hidden}
.fshare_btn a{font-weight:normal}
