/* 
* @Author: zhang
* @Date:   2015-04-17 17:24:33
* @Last Modified by:   zhang
* @Last Modified time: 2015-04-22 10:18:23
*/
*,img,a{
	padding: 0;
	margin:0;
	text-decoration: none;
	border: 0;
	font-family: "微软雅黑","STHeitiTC-Medium",Verdana,Helvetica;
	list-style: none;
}
*:focus{
	outline: none;
}
.bodys{
	background: #e6e6e6;
	text-align: center;
}
body{
	max-width: 640px;
	margin: 0 auto;
}
/*
	头部蓝色
 */

.header-blue{
    background:#0BA7FE;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    position: relative;
    color: #fff;
    text-align: center;
}
ul{
    width: 100%;
}
ul li{
	border-bottom: 1px solid #d2d2d2;
	display: flex;
	display: -webkit-box;
	padding: 8px 0;
}
ul li .left{
	width: 40%;
	text-align: center;
}
ul li .left div{
	width: 102px;
	margin: 0 auto;
	position: relative;
}
ul li .left div img{
	border-radius: 50%;
	border: 1px solid #969696;
	width: 100px;
	height: 100px;
}
ul li .left div a{
	display: block;
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background: #ff4445;
	border-radius: 2px;
	border: 1px solid #ff1516;
	font-size: 12px;
}
ul li .right{
    width: 56%;
}
.title{
   font-size: 15px;
   margin-top: 24px;
}
.content{
	font-size: 12px;
	margin-top: 6px;
}
.price:before{
    content: "￥";
    color: #ff4546;
    font-size: 15px;
}
.price{
	font-size: 15px;
	color: #ff4546;
	text-align: right;
	font-weight: 700;
}

/*第二页*/
.showimg{
	width: 100%;
	position: relative;
}
.showimg img{
	width: 100%;
}
.showimg .title{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.4);
	height: 28px;
	line-height: 28px;
	display: flex;
	display: -webkit-box;
	font-size: 12px;
}
.showimg .title .titles{
	width: 80%;
	color: #fff;
	text-indent: 8px;
}
.showimg .title .prices{
	width: 20%;
	color: #ff0101;
	font-weight: 700;
}
.showimg .title .prices:before{
	content: "￥";
	color: #ff0101;
}
/*介绍说明*/
.instro{
	width: 90%;
    margin: 10px auto 0;
    line-height: 24px;
}
/*四张图片*/
.picture{
	width: 90%;
	margin: 10px auto 0;
	display: flex;
	display: -webkit-box;
}
.picture .left,.picture .right{
	width: 48%;
}
.picture .middle{
	width: 4%;
}
.picture .left img,.picture .right img{
	width: 100%;
}

footer{
	position: fixed;;
	bottom: 0;
	width: 100%;
	height: 40px;
	display: flex;
	display: -webkit-box;
	background: #ccc;
	text-align: center;
}
footer .left{
	width: 70%;
	line-height: 40px;
}
footer .right{
	width: 30%;
	background: #ff393a;
	line-height: 40px;
	color: #fff;
	display: block;
}
footer .left .jian,footer .left .number,footer .left .jia{
	padding: 6px 12px;
	background: #fff;
}