/* 
* @Author: Administrator
* @Date:   2015-09-24 17:49:09
* @Last Modified by:   Administrator
* @Last Modified time: 2015-10-16 12:01:19
*/
.return-top{
	background-color: #ffffff;
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
}
.icon-chevron-thin-left.thin-left{
	color: #818181;
	font-size: 16px;
	vertical-align: text-bottom;
}
.return-text{
	font-size: 15px;
	margin-left: 5px;
	color: #d1d1d1;
}
.content{
	padding-top: 43px;
	padding-bottom: 50px;
}
.week{
	padding: 10px;
	background-color: #7ebe29;
	display:-webkit-box;
	position:relative;
}
.week-title{
	background-color: #71ab25;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #e5f2d4;
	border: 1px solid #e5f2d4;
	border-radius: 50%;
}
.week-title p:first-child{
	padding-top: 12px;
}
.week-text{
	line-height: 62px;
	color:#fff;
	font-size: 16px;
	margin-left: 10px;
}
.week-evaluate {
	background-color: #659821;
	padding: 5px 8px;
	border-radius: 20px;
	color: #fff;
	position: absolute;
	right: 10px;
	top: calc(50% - 13px);
}
.course{
	background-color: #fff;
	padding: 0 10px;
	font-size: 16px;
	border-bottom: 1px solid #e0e0e0;
	color: #595959;
}
.course p{
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #e0e0e0;
}
.course p:last-child{
	border-bottom:0;
}
.course-content{
	margin: 10px 10px 0;
	padding: 10px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	border-radius: 5px;
}
.course-content-title{
	font-size: 15px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}
.course-content-text{
	line-height: 30px;
	margin-top: 8px;
	color: #7f7f7f;
}
.course-affirm {
	-webkit-box-flex: 1;
	text-align: center;
	border-radius: 5px;
	margin: 0 5px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	background-color: #e0e0e0;
}
.course-affirm:last-child{
	color: #fff;
	background-color: #7ebe29;
}
.course-btn{
	padding: 15px 10px;
	display: -webkit-box;
}
.footer-inform{
	width:100%;
	height: 50px;
	line-height: 50px;
	position:  fixed;
	bottom: 0;
	text-align: center;
	background-color: #fff;
	color: #5ea500;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	font-size:16px;
}
.Mask-content{
	width: 90%;
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 5px;
/*	top:-webkit-calc(50% - 96.5px);*/
	top:20%;
}
.Mask-title{
	padding: 10px;
	font-size: 16px;
	text-align: center;
	margin: 0 10px;
	border-bottom: 1px solid #d9d9d9;
}
.Mask-text{
	font-size: 16px;
	text-align: center;
	margin: 20px 0;
}
.Mask-btn{
	padding: 10px;
	display: -webkit-box;
}
.Mask-tab-btn{
	-webkit-box-flex: 1;
	text-align: center;
	background-color: #e0e0e0;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-radius: 5px;
	margin-right: 10px;
}
.Mask-tab-btn:last-child{
	margin-right:0;
	background-color: #7ebe29;
	color: #fff;
}
.Mask-from{
	  padding: 10px;
}
.Mask-input{
	background-color: #f5f5f5;
	padding: 10px;
	border: 1px solid #d9d9d9;
	margin-bottom:10px;
	color: rgb(176, 176, 176);
	position: relative;
}
.Mask-input input{
	background-color: #f5f5f5;
	border: 0;
	font-family: 微软雅黑;
}
.Mask-textarea{
	padding: 10px;
	background-color: whitesmoke;
	border: 1px solid #D9D9D9;
	height: 80px;
}
.Mask-textarea textarea{
	border: 0;
	resize: none;
	background-color: whitesmoke;
	font-family: 微软雅黑;
	width: 100%;
	height: 100%;
	outline: none;
}
.down{
	position: absolute;
	right: 10px;
	color: #a2a2a2;
	top: 11px;
	font-size: 15px;
}
.Mask-pull-down{
	position: absolute;
	right: 0;
	bottom: -87px;
	width: 36%;
	text-align: center;
	background-color: #F5F5F5;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	display: none;
}
.Mask-pull-down-ul-li{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #D9D9D9;
}
.Mask-pull-down-ul-li:last-child{
	border-bottom:0;
}
.Mask-pull-down.on{
	display: block;
}
.Mask-select{
	/* width: 100%; */
	background-color: #f5f5f5;
	padding: 10px;
	border: 1px solid #d9d9d9;
	margin-bottom: 10px;
	position: relative;
	/* color: #A9A9A9; */
	/* font-family: 微软雅黑; */
	/* outline: none; */
}
.week.teacher{
	background-color: #0087be;
}
.week-title.teacher{
	background-color: #0087be;
}
.week-evaluate.teacher{
	background-color: #0078aa;
}
.week-inform{
	color: #b3e0f2;
	line-height: 62px;
}
.course-btn-date{
	margin:15px 10px;
	background-color: #ffad0f;
	color: #fff;
	height: 40px;
	line-height:40px;
	text-align: center;
	font-size:16px;
	border-radius: 5px;
}
.btn-date{
	margin:15px 10px;
	background-color: #ffad0f;
	color: #fff;
	height: 40px;
	line-height:40px;
	text-align: center;
	font-size:16px;
	border-radius: 5px;
}
.icon-star-full{
	margin: 0 5px;
	font-size: 18px;
	color: #b7b7b7;
}
.star{
	padding: 10px;
	font-size: 14px;
}
#star-full span.on{
	color:#ffad0f;
}
.star-full span.on{
	color:#ffad0f;
}
.Mask-textarea.m10{
	margin:0 10px 10px;
	height: 100px;
}
.English{
	margin-right: 20px;
	background-color: #0096d4;
	position: absolute;
	right: 10px;
	border-radius: 16px;
	height: 15px;
	top: 10px;
	padding: 5px 15px;
	line-height: 15px;
	color: #fff;
}
.return-top.b-bottom{
	border-bottom: 2px solid #0096d4
}
.messages{
	display: -webkit-box;
	background-color: #fff;
	padding: 10px;
	position: relative;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	margin-bottom: 10px;
}
.messages:first-child{
	border-top:0;
}
.messages-img{
	width: 75px;
}
.messages-img img{
	border-radius: 50%;
}
.messages-text p.messages-name{
	font-size: 16px;
	color: #1d1d1d;
}
.messages-text{
	margin-left: 10px;
	line-height: 23px;
	margin-top: 5px;
}
.messages-text p{
	color: #808080;
}
.status{
	position: absolute;
	right: 10px;
	top: 15px;
	text-align: center;
	width: 60px;
	background-color: #c5c5c5;
	padding: 3px 8px;
	border-radius: 20px;
	color: #fff;
}
.status.evaluate{
	background-color:#ffad0f;
}
.status.exit{
	background-color: #7ebe29;
}
.mr5.cancel{
	font-size: 14px;
	vertical-align: text-bottom;
}
.bj-white{
	background-color: #fff;
}
.inquire-content{
	padding: 20px;
}
.inquire{
	background-color: #f5f5f5;
	border: 1px solid #d9d9d9;
	padding: 10px;
	margin-bottom: 20px;
}
.inquire input{
	border: 0;
	font-size: 14px;
	background-color: #f5f5f5;
	font-family: 微软雅黑;
}
.btn-inquire{
	background-color: #ffad0f;
	text-align: center;
	color: #fff;
	height: 40px;
	font-size: 16px;
	border-radius: 5px;
	line-height: 40px;
}
.Word-top{
	background-color: #7ebe29;
	display: -webkit-box;
	padding: 10px;
}
.Word-title{
	width: 50px;
	background-color: #71ab25;
	height: 50px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 52px;
	font-size: 14px;
	border: 2px solid #d8ebbe;
	}
.Word-text{
	font-size: 16px;
	line-height: 50px;
	color: #fff;
	-webkit-box-flex: 1;
	text-align: right;
}
.Test-title{
	padding: 30px 10px;
	font-size: 16px;
}
.Test-option{
	margin: 0 15px;
	background-color: #f5f5f5;
	color: #636363;
	padding: 10px;
	border: 1px solid #d9d9d9;
	font-size: 14px;
	position: relative;
	margin-bottom: 10px;
}
.icon-check-alt.alt{
	position: absolute;
	right: 10px;
	line-height: 21px;
	font-size: 17px;
	color:#f5f5f5;
}
.Test-option.on{
	background-color: #ffad0f;
	color: #fff;
}
.Test-option.on .icon-check-alt.alt{
	color: #fff
}
.btn-topic{
	margin: 60px 15px 10px;
	display: -webkit-box;
}
.btn-topic-up,.btn-topic-down{
	text-align: center;
	-webkit-box-flex: 1;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-radius: 5px;
}
.btn-topic-up{
	background-color: #e0e0e0;
	margin-right:10px;
}
.btn-topic-down{
	background-color: #7ebe29;
	color: #fff;
	margin-right: 0;
}
#star-full{
	display:inline-block;
}
.time-day{
	background-color: #0096d4;
	height: 55px;
	line-height: 55px;
	font-size:14px;
	color: #fff;
	text-align: center;
	position: relative;
}
.icon-chevron-with-circle-left,.icon-chevron-with-circle-right{
	position: absolute;
	font-size: 25px;
	color: #99d5ee;
	line-height: 55px !important;
}
.icon-chevron-with-circle-left{
	left: 10px;
}
.icon-chevron-with-circle-right{
	right:10px;
}
.table-title-ul,.table-main-ul{
	display: -webkit-box;
	font-size:10px;
}
li.table-title-ul-li:first-child{
	  line-height: 55px;
	  width:10%;
}
.table-main-ul-li:first-child{
	width:10%;
	text-align: left;
	font-size:10px;
}
li.table-title-ul-li,.table-main-ul-li{
	width:18%;
	text-align: center;
	height: 55px;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	font-size:10px;
}
li.table-title-ul-li p:first-child{
	  margin-top: 5px;
}
li.table-title-ul-li p{
	line-height: 20px;
}
.table-title-ul-li:last-child{
	border-right:0;
}
.table-main-ul-li:last-child{
	border-right:0;
}
.above{
	background-color: #7ebe29;
	color: #fff
}
.Have{
	background-color: #ffad0f;
	color: #fff;
}
.user-top{
	background-color: #7ebe29;
	padding: 10px;
	position: relative;
}
.user-img{
	width: 80px;
	margin: 0 auto;
	margin-top: 15px;
}
.user-img img{
	border-radius: 50%;
}
.user-title{
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin-top: 10px;
}
.user-text{
	text-align: center;
	color: #e5f2d4;
	margin-bottom: 10px;
}
.user-main-title{
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
	background-color: #fff;
}
.user-main-title span:first-child{
	font-size: 16px;
	color: #404040;
}
.user-main-title span:last-child{
	text-align: right;
	float: right;
	display: inline-block;
	line-height: 24px;
}
.messages-img.s-user{
	width: 65px;
	margin-top: 5px;
}
.messages.b-m{
	margin-bottom:0;
}
.messages.b-m {
	margin-bottom: 0;
	margin: 0 10px;
	border-top: 0;
}
.messages-main {
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}
.b-m:last-child{
	border-bottom: 0px
}
.demand{
	margin-top: 10px;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	margin-bottom: 20px;
}
.demand-title{
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	color: rgb(64, 64, 64);
	font-size: 16px;
}
.demand-content{
	display: -webkit-box;
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}
.demand-text p:first-child{
	font-size: 16px;
	color: #404040;
}
.demand-text p:last-child{
	  color: #a2a2a2;
}
.demand-score{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.demand-score span:first-child{
	color: #A2A2A2;
}
.demand-score span:last-child{
	font-size: 18px;
	color: #fc5858;
}
.demand-content:last-child{
	border-bottom: 0;
}
.demand-main{
	margin: 0 10px;
}
.icon-relieve,.icon-swop{
	position: absolute;
	top: 10px;
	border-radius: 50%;
	background-color: #58851d;
	color: #abc28e;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.icon-relieve{
	font-size: 17px;
	right: 10px;
}
.icon-swop{
	font-size:14px;
	right: 43px;
}
.Mask-T-tab{
	margin: 10px 10px 0;
	background-color: #f5f5f5;
	border: 1px solid #d9d9d9;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 10px;
}
.icon-uniE704.draw{
	float: right;
	line-height: 40px;
	color: #d8d8d8;
	font-size: 18px;
}
.Mask-T-tab.on .icon-uniE704.draw{
	color: #7ebe29;
}
.Mask-select select{
	width: 100%;
	background-color: whitesmoke !important;
	border: 0 !important;
	color: #A9A9A9;
	font-family: 微软雅黑;
	outline: none;
}
.message-day{
	position: relative;
}
.message-day-main{
	font-size: 18px;
	color: #242424;
	padding: 10px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background-color: #fff;
}
.message-day-main:first-child{
	border-top:0;
}
.icon-chevron-thin-down{
	position: absolute;
	right: 10px;
	top: 17px;
	color: #b3b3b3;
	font-size: 18px;
}
.message-down{
	background-color: #fff;
	padding: 0 10px;
	display: -webkit-box;
}
.message-down-left{
	border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 15px;
    color: #737373;
    line-height: 66px;
    padding: 10px;
}
.message-down-right{
	border-bottom: 1px solid #e6e6e6;
	-webkit-box-flex: 1;
	padding: 10px;
	color: #666666;
	font-size: 15px;
	position: relative;
}
.message{
	margin-bottom: 10px;
}
.message-down-right.b0,.message-down-left.b0{
	border-bottom:0;
}
.message-down-content{
	border-bottom: 1px solid #e6e6e6;
	display: none;
}
.look-message{
	position: absolute;
	right: 0;
	bottom: 10px;
	font-size: 12px;
	color: #85c4e5;
}
.message-course{
	background-color: #fff;
	padding: 10px;
	font-size: 13px;
	color: #676767;
}
.message-course-content{
	padding:3px 0;
}
.message-course-content{
	display: -webkit-box;
}
.course-text{
	-webkit-box-flex:1;
}
.fr_text{
	font-size:12px;
	color:#239fd5;
}
li.tab-ul-li{
    float: left;
    width: 33.3333333333%;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
	box-sizing: border-box;
	letter-spacing: 1px;
	padding:15px 0;
}
li.tab-ul-li:nth-child(3n){
	border-right:0;
}
.icon-17,.icon-24,.icon-32,.icon-42,.icon-uniE807,.icon-like{
	font-size: 20px;
	margin-bottom: 10px;
}
.icon-17{
	color:#ff9a1c;
}
.icon-24{
	color:#43b5fe;
}
.icon-32{
	color:#f35959;
}
.icon-42{
	color:#4fd1c7;
}
.icon-uniE807{
	color:#da5ce4;
}
.icon-like{
	color: #F5F5F5;
}
.icon-17.arrow,.icon-uniE805,.icon-uniE806,.icon-uniE808,.icon-uniE613,.icon-edg-1,.icon-uniE80A,.icon-uniE809{
	font-size:12px;
	color: #676767;
	margin-right:10px;
}
.Course{
	padding-top:42px;
}
.Course-title{
	height:30px;
	line-height: 30px;
	padding:10px;
	color:#fff;
	background: #7ebe29;
	font-size:16px;
}
.return-top.b-bottom.tt{
	border-bottom:0;
}
.Course-day-content{
	display: -webkit-box;
	padding: 10px 2%;
}
.Course-day{
	width: 44%;
	display: 
	
	-webkit-box;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	padding: 2%;
	box-sizing: border-box;
	position: relative;
}
.icon-calendar2{
	font-size: 14px;
	vertical-align: text-bottom;
	color:#808080;
}
.data{
	width: 100px;
	text-indent: 10px;
}
.data input{
	border:0;
	width:100px;
	font-family: 微软雅黑;
}
.dao{
	width: 12%;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	color: #808080;
}
.icon-chevron-down2{
	position: absolute;
    top: 31%;
    right: 3%;
    color: #808080;

}
.Course-main{
	margin: 0 10px 10px;
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid #e6e6e6;
}
.ml24{
	margin-left: 24px
}
.Course-text{
	margin-bottom:8px;
}
.icon-star-full.m0{
	margin:0;
}
.color808080{
	color:#808080;
}
.Course-title.blue{
	background:#0096d4; 
}
.Course3-main{
	border: 1px solid #e6e6e6;
	background-color: #fff;
	margin: 10px;
	border-radius: 5px;
	padding: 15px;
	position: relative;
}
.Course3-main p{
	margin-bottom: 8px;
}
.Course3-main p:last-child{
	text-align: right;
	color: #40b0df;
	margin-top:10px;
}
.Course-title.orange{
	background: #ffad0f;
}
.yuan{
	position: absolute;
	right: 15px;
	width: 60px;
	top: 30px;
}
.icon-uniE805.f15,.icon-uniE808.f15,.icon-uniE806.f15{
	font-size:15px;
}
.icon-uniE80A.f15,.icon-uniE809.f15{
	margin-right:12px;
	font-size:16px;
}
.white{
color:#fff;
}
.binding{
	margin-top: 25%;
}
.binding p{
	font-size:16px;
	color: #b2b2b2;
	margin:10px 0;
	text-align:center;
}