@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?32re13');
	src:url('fonts/icomoon.eot?32re13#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?32re13') format('truetype'),
		url('fonts/icomoon.woff?32re13') format('woff'),
		url('fonts/icomoon.svg?32re13#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE809:before {
	content: "\e809";
}
.icon-uniE80A:before {
	content: "\e80a";
}
.icon-uniE804:before {
	content: "\e804";
}
.icon-uniE805:before {
	content: "\e805";
}
.icon-uniE806:before {
	content: "\e806";
}
.icon-uniE807:before {
	content: "\e807";
}
.icon-uniE808:before {
	content: "\e808";
}
.icon-17:before {
	content: "\e800";
}
.icon-24:before {
	content: "\e801";
}
.icon-32:before {
	content: "\e802";
}
.icon-42:before {
	content: "\e803";
}
.icon-bell:before {
	content: "\e713";
}
.icon-swop:before {
	content: "\e712";
}
.icon-relieve:before {
	content: "\e710";
}
.icon-34:before {
	content: "\e70f";
}
.icon-women1:before {
	content: "\e705";
}
.icon-man1:before {
	content: "\e706";
}
.icon-student:before {
	content: "\e707";
}
.icon-uniE6F6:before {
	content: "\e6f6";
}
.icon-uniE6F7:before {
	content: "\e6f7";
}
.icon-uniE6F8:before {
	content: "\e6f8";
}
.icon-uniE6F9:before {
	content: "\e6f9";
}
.icon-uniE6FA:before {
	content: "\e6fa";
}
.icon-uniE6FB:before {
	content: "\e6fb";
}
.icon-uniE6FC:before {
	content: "\e6fc";
}
.icon-uniE6FD:before {
	content: "\e6fd";
}
.icon-uniE6FE:before {
	content: "\e6fe";
}
.icon-uniE6FF:before {
	content: "\e6ff";
}
.icon-uniE700:before {
	content: "\e700";
}
.icon-uniE701:before {
	content: "\e701";
}
.icon-uniE702:before {
	content: "\e702";
}
.icon-uniE703:before {
	content: "\e703";
}
.icon-uniE704:before {
	content: "\e704";
}
.icon-16 .path1:before {
	content: "\e6d1";
	color: rgb(25, 25, 25);
}
.icon-16 .path2:before {
	content: "\e6d2";
	margin-left: -1.509765625em;
	color: rgb(252, 252, 252);
}
.icon-16 .path3:before {
	content: "\e6d3";
	margin-left: -1.509765625em;
	color: rgb(252, 252, 252);
}
.icon-16 .path4:before {
	content: "\e6d4";
	margin-left: -1.509765625em;
	color: rgb(252, 252, 252);
}
.icon-16 .path5:before {
	content: "\e6d5";
	margin-left: -1.509765625em;
	color: rgb(252, 252, 252);
}
.icon-16 .path6:before {
	content: "\e6d6";
	margin-left: -1.509765625em;
	color: rgb(252, 252, 252);
}
.icon-15 .path1:before {
	content: "\e696";
	color: rgb(255, 255, 255);
}
.icon-15 .path2:before {
	content: "\e697";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-15 .path3:before {
	content: "\e698";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-15 .path4:before {
	content: "\e699";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-15 .path5:before {
	content: "\e69a";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-15 .path6:before {
	content: "\e69b";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-15 .path7:before {
	content: "\e69c";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-15 .path8:before {
	content: "\e69d";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-15 .path9:before {
	content: "\e69e";
	margin-left: -1.509765625em;
	color: rgb(20, 95, 223);
}
.icon-15 .path10:before {
	content: "\e69f";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path11:before {
	content: "\e6a0";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path12:before {
	content: "\e6a1";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path13:before {
	content: "\e6a2";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path14:before {
	content: "\e6a3";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path15:before {
	content: "\e6a4";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path16:before {
	content: "\e6a5";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path17:before {
	content: "\e6a6";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path18:before {
	content: "\e6a7";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path19:before {
	content: "\e6a8";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path20:before {
	content: "\e6a9";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path21:before {
	content: "\e6aa";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path22:before {
	content: "\e6ab";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path23:before {
	content: "\e6ac";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path24:before {
	content: "\e6ad";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path25:before {
	content: "\e6ae";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path26:before {
	content: "\e6af";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path27:before {
	content: "\e6b0";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path28:before {
	content: "\e6b1";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path29:before {
	content: "\e6b2";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path30:before {
	content: "\e6b3";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path31:before {
	content: "\e6b4";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path32:before {
	content: "\e6b5";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path33:before {
	content: "\e6b6";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path34:before {
	content: "\e6b7";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path35:before {
	content: "\e6b8";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path36:before {
	content: "\e6b9";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path37:before {
	content: "\e6ba";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path38:before {
	content: "\e6bb";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path39:before {
	content: "\e6bc";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path40:before {
	content: "\e6bd";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path41:before {
	content: "\e6be";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path42:before {
	content: "\e6bf";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path43:before {
	content: "\e6c0";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path44:before {
	content: "\e6c1";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path45:before {
	content: "\e6c2";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path46:before {
	content: "\e6c3";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path47:before {
	content: "\e6c4";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path48:before {
	content: "\e6c5";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path49:before {
	content: "\e6c6";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path50:before {
	content: "\e6c7";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path51:before {
	content: "\e6c8";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path52:before {
	content: "\e6c9";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path53:before {
	content: "\e6ca";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path54:before {
	content: "\e6cb";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path55:before {
	content: "\e6cc";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path56:before {
	content: "\e6cd";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path57:before {
	content: "\e6ce";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path58:before {
	content: "\e6cf";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-15 .path59:before {
	content: "\e6d0";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path1:before {
	content: "\e655";
	color: rgb(255, 255, 255);
}
.icon-USA .path2:before {
	content: "\e656";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-USA .path3:before {
	content: "\e657";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-USA .path4:before {
	content: "\e658";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-USA .path5:before {
	content: "\e659";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-USA .path6:before {
	content: "\e65a";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-USA .path7:before {
	content: "\e65b";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-USA .path8:before {
	content: "\e65c";
	margin-left: -1.509765625em;
	color: rgb(254, 0, 0);
}
.icon-USA .path9:before {
	content: "\e65d";
	margin-left: -1.509765625em;
	color: rgb(20, 95, 223);
}
.icon-USA .path10:before {
	content: "\e65e";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path11:before {
	content: "\e65f";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path12:before {
	content: "\e660";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path13:before {
	content: "\e661";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path14:before {
	content: "\e662";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path15:before {
	content: "\e663";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path16:before {
	content: "\e664";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path17:before {
	content: "\e665";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path18:before {
	content: "\e666";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path19:before {
	content: "\e667";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path20:before {
	content: "\e668";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path21:before {
	content: "\e669";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path22:before {
	content: "\e66a";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path23:before {
	content: "\e66b";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path24:before {
	content: "\e66c";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path25:before {
	content: "\e66d";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path26:before {
	content: "\e66e";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path27:before {
	content: "\e66f";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path28:before {
	content: "\e670";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path29:before {
	content: "\e671";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path30:before {
	content: "\e672";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path31:before {
	content: "\e673";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path32:before {
	content: "\e674";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path33:before {
	content: "\e675";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path34:before {
	content: "\e676";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path35:before {
	content: "\e677";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path36:before {
	content: "\e678";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path37:before {
	content: "\e679";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path38:before {
	content: "\e67a";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path39:before {
	content: "\e67b";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path40:before {
	content: "\e67c";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path41:before {
	content: "\e67d";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path42:before {
	content: "\e67e";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path43:before {
	content: "\e67f";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path44:before {
	content: "\e680";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path45:before {
	content: "\e681";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path46:before {
	content: "\e682";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path47:before {
	content: "\e683";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path48:before {
	content: "\e684";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path49:before {
	content: "\e685";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path50:before {
	content: "\e686";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path51:before {
	content: "\e687";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path52:before {
	content: "\e688";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path53:before {
	content: "\e689";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path54:before {
	content: "\e68a";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path55:before {
	content: "\e68b";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path56:before {
	content: "\e68c";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path57:before {
	content: "\e68d";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path58:before {
	content: "\e68e";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-USA .path59:before {
	content: "\e68f";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 255);
}
.icon-china .path1:before {
	content: "\e690";
	color: rgb(254, 0, 0);
}
.icon-china .path2:before {
	content: "\e691";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 0);
}
.icon-china .path3:before {
	content: "\e692";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 0);
}
.icon-china .path4:before {
	content: "\e693";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 0);
}
.icon-china .path5:before {
	content: "\e694";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 0);
}
.icon-china .path6:before {
	content: "\e695";
	margin-left: -1.509765625em;
	color: rgb(255, 255, 0);
}
.icon-usertest:before {
	content: "\e64f";
}
.icon-outtest:before {
	content: "\e650";
}
.icon-edg-1:before {
	content: "\e648";
}
.icon-edg-2:before {
	content: "\e649";
}
.icon-edg-3:before {
	content: "\e64a";
}
.icon-edg-4:before {
	content: "\e64b";
}
.icon-edg-5:before {
	content: "\e64c";
}
.icon-edg-6:before {
	content: "\e64d";
}
.icon-edg-7:before {
	content: "\e64e";
}
.icon-truck:before {
	content: "\e636";
}
.icon-jian:before {
	content: "\e633";
}
.icon-jia:before {
	content: "\e632";
}
.icon-hghg:before {
	content: "\e620";
}
.icon-card:before {
	content: "\e621";
}
.icon-uniE622:before {
	content: "\e622";
}
.icon-uniE623:before {
	content: "\e623";
}
.icon-uniE624:before {
	content: "\e624";
}
.icon-232:before {
	content: "\e625";
}
.icon-uniE626:before {
	content: "\e626";
}
.icon-uniE627:before {
	content: "\e627";
}
.icon-uniE628:before {
	content: "\e628";
}
.icon-uniE629:before {
	content: "\e629";
}
.icon-uniE62A:before {
	content: "\e62a";
}
.icon-uniE62B:before {
	content: "\e62b";
}
.icon-uniE62C:before {
	content: "\e62c";
}
.icon-12:before {
	content: "\e608";
}
.icon-13:before {
	content: "\e61d";
}
.icon-3:before {
	content: "\e61e";
}
.icon-4:before {
	content: "\e61f";
}
.icon-uniE616:before {
	content: "\e616";
}
.icon-uniE617:before {
	content: "\e617";
}
.icon-uniE618:before {
	content: "\e618";
}
.icon-uniE619:before {
	content: "\e619";
}
.icon-uniE61A:before {
	content: "\e61a";
}
.icon-uniE61B:before {
	content: "\e61b";
}
.icon-uniE61C:before {
	content: "\e61c";
}
.icon-2:before {
	content: "\e60c";
}
.icon-dui:before {
	content: "\e600";
}
.icon-dui2:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE606:before {
	content: "\e606";
}
.icon-dui3:before {
	content: "\e60d";
}
.icon-dui22:before {
	content: "\e60e";
}
.icon-uniE60F:before {
	content: "\e60f";
}
.icon-1:before {
	content: "\e610";
}
.icon-22:before {
	content: "\e611";
}
.icon-uniE612:before {
	content: "\e612";
}
.icon-uniE613:before {
	content: "\e613";
}
.icon-uniE614:before {
	content: "\e614";
}
.icon-23:before {
	content: "\e615";
}
.icon-14:before {
	content: "\e631";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE609:before {
	content: "\e609";
}
.icon-uniE60A:before {
	content: "\e60a";
}
.icon-uniE60B:before {
	content: "\e60b";
}
.icon-check-alt:before {
	content: "\e6e0";
}
.icon-calendar-alt-fill:before {
	content: "\e6e1";
}
.icon-loop-alt1:before {
	content: "\e6ef";
}
.icon-loop-alt3:before {
	content: "\e711";
}
.icon-arrow-left-alt1:before {
	content: "\e708";
}
.icon-arrow-right-alt1:before {
	content: "\e709";
}
.icon-sun-stroke:before {
	content: "\e6e2";
}
.icon-sun-fill:before {
	content: "\e6e3";
}
.icon-calendar:before {
	content: "\f068";
}
.icon-chevron-down:before {
	content: "\f0a3";
}
.icon-chevron-left:before {
	content: "\f0a4";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-chevron-up:before {
	content: "\f0a2";
}
.icon-diff-added:before {
	content: "\f06b";
}
.icon-file-text:before {
	content: "\f011";
}
.icon-gift:before {
	content: "\f042";
}
.icon-search2:before {
	content: "\f02e";
}
.icon-triangle-down:before {
	content: "\f05b";
}
.icon-triangle-left:before {
	content: "\f044";
}
.icon-triangle-right:before {
	content: "\f05a";
}
.icon-triangle-up:before {
	content: "\f0aa";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-sun:before {
	content: "\e9d4";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-man:before {
	content: "\e9dc";
}
.icon-woman:before {
	content: "\e9dd";
}
.icon-man-woman:before {
	content: "\e9de";
}
.icon-point-up:before {
	content: "\ea03";
}
.icon-ctrl:before {
	content: "\ea50";
}
.icon-paragraph-justify:before {
	content: "\ea7a";
}
.icon-reload:before {
	content: "\e6f0";
}
.icon-arrow-with-circle-left:before {
	content: "\e651";
}
.icon-arrow-with-circle-right:before {
	content: "\e652";
}
.icon-chevron-down2:before {
	content: "\e637";
}
.icon-chevron-left2:before {
	content: "\e638";
}
.icon-chevron-right2:before {
	content: "\e639";
}
.icon-chevron-small-down:before {
	content: "\e63a";
}
.icon-chevron-small-left:before {
	content: "\e63b";
}
.icon-chevron-small-right:before {
	content: "\e63c";
}
.icon-chevron-small-up:before {
	content: "\e63d";
}
.icon-chevron-thin-down:before {
	content: "\e63e";
}
.icon-chevron-thin-left:before {
	content: "\e63f";
}
.icon-chevron-thin-right:before {
	content: "\e640";
}
.icon-chevron-thin-up:before {
	content: "\e641";
}
.icon-chevron-up2:before {
	content: "\e642";
}
.icon-chevron-with-circle-down:before {
	content: "\e6d8";
}
.icon-chevron-with-circle-left:before {
	content: "\e6d9";
}
.icon-chevron-with-circle-right:before {
	content: "\e6da";
}
.icon-chevron-with-circle-up:before {
	content: "\e6db";
}
.icon-dots-three-horizontal:before {
	content: "\e644";
}
.icon-triangle-down2:before {
	content: "\e70a";
}
.icon-triangle-left2:before {
	content: "\e70b";
}
.icon-triangle-right2:before {
	content: "\e70c";
}
.icon-triangle-up2:before {
	content: "\e70d";
}
.icon-ccw:before {
	content: "\e6f1";
}
.icon-light-up:before {
	content: "\e6e4";
}
.icon-lock:before {
	content: "\e714";
}
.icon-magnifying-glass:before {
	content: "\e647";
}
.icon-minus:before {
	content: "\e634";
}
.icon-plus:before {
	content: "\e635";
}
.icon-reply:before {
	content: "\e6f2";
}
.icon-retweet:before {
	content: "\e6f3";
}
.icon-thumbs-up:before {
	content: "\e630";
}
.icon-cancel:before {
	content: "\e645";
}
.icon-cancel2:before {
	content: "\e646";
}
.icon-plus2:before {
	content: "\e6dc";
}
.icon-plus3:before {
	content: "\e6dd";
}
.icon-minus3:before {
	content: "\e6de";
}
.icon-minus4:before {
	content: "\e6df";
}
.icon-magnifier:before {
	content: "\e643";
}
.icon-chat:before {
	content: "\e62f";
}
.icon-reply2:before {
	content: "\e6f4";
}
.icon-retweet2:before {
	content: "\e6f5";
}
.icon-rain:before {
	content: "\e6e7";
}
.icon-snow:before {
	content: "\e6e8";
}
.icon-lightning:before {
	content: "\e6e9";
}
.icon-sun2:before {
	content: "\e6e5";
}
.icon-moon:before {
	content: "\e6ea";
}
.icon-cloudy:before {
	content: "\e6eb";
}
.icon-cloudy2:before {
	content: "\e6ec";
}
.icon-add:before {
	content: "\e653";
}
.icon-minus2:before {
	content: "\e654";
}
.icon-switch:before {
	content: "\e6ee";
}
.icon-cloud:before {
	content: "\e6ed";
}
.icon-star:before {
	content: "\e70e";
}
.icon-search:before {
	content: "\e62d";
}
.icon-news:before {
	content: "\e6d7";
}
.icon-like:before {
	content: "\e62e";
}
.icon-calendar2:before {
	content: "\e6e6";
}

