*{
	padding:0;
	margin:0;}
	*:focus { outline: none; }
body{
	background-image: url(../img/bg5.png);
	background-color:rgba(66,157,226,1);
	background-repeat:no-repeat;
	/* background-size: contain; */}
.containt{
	color:#FFF;
	font-family:"微软雅黑";
	font-size:20px;
	z-index:1;}
#logo{
	z-index:1;
	margin:-10px 0px 0px 10px;}

#logo-text{
	margin:0px 0px 0px 5px;
	float:left;}
#shop-name{
    color:rgba(230,92,32,1);
    font-size:18px;
    position:relative;
    top:-30px;
    left:42px;
    }
.loginbox{
	-o-border-radius: 10px;
	-moz-border-radius:10px; 
-webkit-border-radius: 10px; 
border-radius:10px;
	font-size:25px;
	color:#085189;
	z-index:1;
	height: 393px;
	width: 298px;
	background-color:rgba(255,255,255,0.6);
	position: relative;
	/* top:80px; */
	margin: 0 auto;
	/* right:500px; */
	border:#943d18 0px solid;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#632c14,direction=120,strength=4);/*ie*/
    -moz-box-shadow: 2px 2px 10px #632c14;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #632c14;/*safari鎴朿hrome*/
    box-shadow:2px 2px 10px #632c14;/*opera鎴杋e9*/
	}


#loginbox-title{
	margin:10px;
	text-align:center;
	padding: 1px;
}
#loginbox-form{
	z-index:1;
	overflow:hidden;
	position:relative;
	top:10px;
	margin:0 auto;
	padding:0px 0px 20px 0px;
	width:80%;
	border:0px solid red;
	}
#loginbox-logo{
	margin: 20px auto;
	height: 100px;
	width: 100px;
	background: url(../img/logo%20notext.png) no-repeat;
	background-size:cover;

	
transition:background-image 0.5s;
transition-timing-function:ease-out;
/* Firefox 4 */
-moz-transition:background-image 0.5s;
-moz-transition-timing-function:ease-out;
/* Safari and Chrome */
-webkit-transition:background-image 0.5s;
-webkit-transition-timing-function:ease-out;
/* Opera */
-o-transition:background-image 0.5s;
-o-transition-timing-function:ease-out;
	}
#loginbox-select{
    position:relative;
    top:1px;}
	
#loginbox-logo:hover{
	margin:20px auto;
	height:150px;
	width:150px;
	
	background-image:url(../img/logo%20notext02.png);
	background-size:cover;}
	
	
#loginbox-select,#loginbox-name,#loginbox-password{
	height:40px;
	background-color:rgba(255,255,255,0);
	border:1px #e65c20 solid;}
#loginbox-name{
	margin:0px 0 0 0;}
#loginbox-password{
	margin:-1px 0 0 0;}
#loginbox-comfirm{
	height:31px;
	width: 238px;
	
	}

.input{
	position:relative;
	left:15%;
	border:0px;
	font-size:18px;
	height:40px;
	width:85%;
	background-color:rgba(255,255,255,0);}
#input-select{
    position:relative;
    top:1px;  
	width:283px;
	border:1px rgba(230,92,32,1) solid;		
	left:37px;}
#input-select,#input-name,#input-password{
	position:relative;
	top:-37px;
	font-size:18px;
	color:#e59775;
	border:0px #FF0000 solid; }
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #e59775;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #e59775;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #e59775;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #e59775;
}

.loginbox-icon.se{
	background-image:url(../img/01.png);
	background-size:cover;
	}
.loginbox-icon{
	margin:6px;
	border:0px solid red;
	width:30px;
	height:25px;
	display:block;}

.loginbox-icon.un{
	background-image:url(../img/02.png);
	background-size:cover;
	}
.loginbox-icon.psw{
	background-image:url(../img/03.png);
	background-size:cover;
	}
#input-submit{
	-o-border-radius: 5px;
	-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border-radius:5px;
border:0px solid #000; 

	font-size:18px;
	background-color:rgba(230,92,32,1);
	padding:3px 0px 3px 0;
	text-align:center;
	height:25px;
	width: 238px;
	margin:8px 0 0 0;
	display:block;

transition:background-color 0.5s;
transition-timing-function:ease-out;
/* Firefox 4 */
-moz-transition:background-color 0.5s;
-moz-transition-timing-function:ease-out;
/* Safari and Chrome */
-webkit-transition:background-color 0.5s;
-webkit-transition-timing-function:ease-out;
/* Opera */
-o-transition:background-color 0.5s;
-o-transition-timing-function:ease-out;
	}
a#input-submit:link {color: #fff;
text-decoration:none;}		/* 鏈闂殑閾炬帴 */
a#input-submit:visited {color: #fff;text-decoration:none;}	/* 宸茶闂殑閾炬帴 */
a#input-submit:hover {color: #FFF;text-decoration:none;}	/* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */
a#input-submit:active {color: #fFF;text-decoration:none;}	/* 閫夊畾鐨勯摼鎺� */
 
 
 #input-submit:hover{

	background-color:rgba(252,100,35,1);}




.loginbox-forget-pwd{
	position:relative;
	left:200px;
	color:#459ae9;
	font-size:14px;
	border:0px red solid;}	
a.logo-text:hover{
	color:#fff;
	text-decoration:none;}
a.logo-text:link{
	color:#fff;
	text-decoration:none;}
a.logo-text:visited{
	color:#fff;
	text-decoration:none;}
a.logo-text:before{
	display:inline-block;
	content:url(../img/logo-min.png);
	height:70px;
	width:70px;
	position:relative;
	top:23px;}
a.loginbox-forget-pwd:link{
	text-decoration:none;}
a.loginbox-forget-pwd:hover{
	text-decoration:underline;}
.vm{
	
	position:relative;
	top:0px;
	color:rgba(230,92,32,1);
	font-size:16px;}