/* 
* @Author: 星辉
* @Date:   2014-12-25 15:54:37
* @Last Modified by:   星辉
* @Last Modified time: 2015-02-05 10:06:44
*/
*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    font-family:"方正准圆简体",Helvetica, "微软雅黑",Verdana;
    -webkit-text-size-adjust:none;
}
*:focus{
    outline:none;
}
/*@font-face{
    font-family:"方正准圆简体";
    src:url('font/方正准圆简体.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"方正细圆简体";
    src:url('font/方正细圆简体.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
.myul{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;  }
.myli{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex:1;
    /*max-height: 90px;*/
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.clearFloat{
    clear: both;
}
.fitbg{
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: cover !important;

}
.bottomFixed{
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
}
.nobg{
    border:0px;
    background: none;
}
.noneBG{
    background: none !important;
}
input::-webkit-input-placeholder{
    color: rgb(199,255,252);
    font-size: 18px;
}
.hide{
    display: none;
}
.PersonBox.right div {
    margin: 0 auto;
}
/********************************边角******************************/
.circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ban_circle{
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.border5{
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.border10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.border15{
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
.border20{
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.border25{
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
.border50{
    border-radius: 50px;
    -webkit-border-radius: 50px;
}
/******************************************************************/
/********************************icon****************************/
.icon{
    background-image: url(../img/icon.png);
}
.icon.home {
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -2px -324px;
}

.icon.userCenter {
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -12px -130px;
}

.icon.customerService {
    background-repeat: no-repeat;  background-size: 155%;
    background-position: -9px -211px;
}
.icon.getSort {
    background-repeat: no-repeat;  background-size: 155%;
    background-position: -9px -111px;
}
.icon.icName {
    background-repeat: no-repeat;
    background-size: 155%;
    background-position: -10px -495px;
}

.icon.icContact {
    background-repeat: no-repeat;  background-size: 155%;
    background-position: -10px -275px;
}

.icon.icAddress {
    background-repeat: no-repeat;  background-size: 155%;
    background-position: -10px -45px;
}

.icon.icNote {
    background-repeat: no-repeat;  background-size: 155%;
    background-position: -11px -575px;
}
.icon.getlocation {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -6px -105px;
}
span#delX {
    position: relative;
    font-size: 27px;
    left: 10px;
    top: 1px;
    color:RGBA(255,255,255,0);
}
.getSort{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}
.home:after{
    content:"主页";
    font-size: 10px;
    line-height: 79px;
}
.userCenter:after{
    content:"我要签到";
    font-size: 10px;
    line-height: 79px;
    text-align:center;
    white-space:nowrap;
    position: relative;
    left: -7px;
}
.right20 {
    right: 12%;
}

.icon.locate {
    background-repeat: no-repeat;
    background-size: 155%;
    background-position: -10px -37px;
    height: 32px;
}
.locate:after{
    content:"定位";
    position:relative;
    line-height: 79px;
    font-size: 10px;
    left: 6px;
}
/******************************************************************/
/********************************颜色表****************************/
.light-green{
    color: rgb(77,208,200);
    font-size: 13px;
}
.light-green-bg{
    background-color: rgb(228, 94, 76);
}
.light-green-border{
    border-color: rgb(77,208,200);
}
.lightness-green{
    color: rgb(199,255,252);
}
.lightness-green-bg{
    background-color: rgb(199,255,252);
}
.lightness-green-border{
    border-color: rgb(199,255,252);
}
.lighter-green{
    color: rgb(133,217,212);
}
.lighter-green-bg{
    background-color: rgb(247, 247, 238);
}
.lighter-green-border{
    border-color: rgb(133,217,212);
}
.dark-green{
    color: rgb(55,185,177);
}
.dark-green-bg{
    background-color: rgb(228, 94, 76);
}
.dark-green-border{
    border-color: rgb(55,185,177);
}
.darkless-green{
    color: rgb(60,191,183);
}
.darkless-green-bg{
    background-color: rgb(228, 94, 76);
}
.darkless-green-border{
    border-color: rgb(60,191,183);
}
.darker-green{
    color: rgb(33,132,127);
}
.darker-green-bg{
    background-color: rgb(33,132,127);
}
.darker-green-border{
    border-color: rgb(33,132,127);
}
.darker-green-30{
    color: rgba(33,132,127,0.3) !important;
}
.darker-green-30-bg{
    background-color: rgba(33,132,127,0.3) !important;
}
.darker-green-30-border{
    border-color: rgba(33,132,127,0.3) !important;
}
.light-gray{
    color: rgb(241,241,241);
}
.light-gray-bg{
    background-color: rgb(241,241,241);
}
.light-gray-border{
    border-color: rgb(241,241,241);
}
.dark-gray{
    color: rgb(158,158,158);
}
.dark-gray-bg{
    background-color: rgb(158,158,158);
}
.dark-gray-border{
    border-color: rgb(158,158,158);
}
.darkless-gray{
    color: rgb(177,177,177);
}
.darkless-gray-bg{
    background-color: rgb(177,177,177);
}
.darkless-gray-border{
    border-color: rgb(177,177,177);
}
.dark-black{
    color: rgb(44,44,44);
}
.dark-black-bg{
    background-color: rgb(44,44,44);
}
.dark-black-border{
    border-color: rgb(44,44,44);
}
.light-yellow{
    color: rgb(255,199,102);
}
.light-yellow-bg{
    background-color: rgb(255,199,102);
}
.light-yellow-border{
    border-color: rgb(255,199,102);
}
.dark-yellow{
    color: rgb(234,183,17);
}
.dark-yellow-bg{
    background-color: rgb(234,183,17);
}
.dark-yellow-border{
    border-color: rgb(234,183,17);
}
.light-pink{
    color: rgb(243,150,180);
}
.light-pink-bg{
    background-color: rgb(243,150,180);
}
.light-pink-border{
    border-color: rgb(243,150,180);
}
.light-blue{
    color: rgb(147,209,250);
}
.light-blue-bg{
    background-color: rgb(147,209,250);
}
.light-blue-border{
    border-color: rgb(147,209,250);
}
.light-red{
    color: rgb(239,88,88);
}
.light-red-bg{
    background-color: rgb(239,88,88);
}
.light-red-border{
    border-color: rgb(239,88,88);
}
.dark-red{
    color: rgb(236,0,0);
}
.dark-red-bg{
    background-color: rgb(236,0,0);
}
.dark-red-border{
    border-color: rgb(236,0,0);
}
.white{
    color: rgb(255,255,255);
    text-align:center;
}
.white-bg{
    background-color: rgb(255,255,255);
}
.white-border{
    border-color: rgb(255,255,255);
}
/******************************************************************/
/******************************top*********************************/
.top {
    height: 43px;
    width: 100%;
    position: relative;
}
.topFixed{
    position:fixed;
    top:0px;
    z-index:9999;
}
.titleBox.middle {
    width: 40%;
    text-align: center;
    position: relative;
    height: 100%;
    line-height: 55px;
    /* border: 1px solid red; */
    margin: 0 auto;
    font-size: 20px;
}

.homeBox {
    width: 20%;
    position: absolute;
    height: 100%;
    /* border: 1px solid; */
    top: -8px;
}

.PersonBox {
    position: absolute;
    width: 20%;
    height: 100%;
    /* border: 1px solid; */
    top: -8px;
}
.left {
    left: 4%;
}

.right {
    right: 0%;
}

.home {
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 12%;
}

.person {
    width: 35px;
    height: 35px;
    /* margin-left: 30%; */
    position: relative;
    top: 8%;
}
.person:nth-of-type(2) {
    margin-left:12%;
}

/******************************************************************/
/*********************Banner**************************************/
.bannerBox {
    width: 100%;
    height: 180px;
    /* box-shadow: 0 0px 3px rgba(0,0,0,0.5); */
    overflow: hidden;
}

.bannerBoxSwrap {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
/*****************************************************************/
/********************menu4****************************************/
.menu4 .menu {
    width: 22% !important;
}

.menu4 .menu:nth-of-type(2n) {
    margin-left: 3%;
    margin-right: 3%;
}
.menu4 .menu.floatLeft:nth-of-type(2n) {
    margin-left: 3%;
    margin-right: 3%;
}
.menu4>.item {
    width: 60% !important;
}

.menuBox.menu4 {
    /* min-height: 85px !important;*/

    /* background-color: #fff; */
    width: 100%;
    padding: 0;
}
.menu4 span {
    font-size: 14px;
}
.menuTitle {
    width: 90%;
    margin: 2px auto;
    font-size: 13px;
}
/*.msm:nth-of-type(4n+1) .ism{
    background-color: rgb(147,209,250);
}
.msm:nth-of-type(4n+1) span{
    color: rgb(147,209,250);
}
.msm:nth-of-type(4n+2) .ism{
    background-color: rgb(68,181,215);
}
.msm:nth-of-type(4n+2) span{
    color: rgb(68,181,215);
}
.msm:nth-of-type(4n+3) .ism{
    background-color: rgb(255,199,102);
}
.msm:nth-of-type(4n+3) span{
    color: rgb(255,199,102);
}
.msm:nth-of-type(4n) .ism{
    background-color: rgb(243,150,180);
}
.msm:nth-of-type(4n) span{
    color: rgb(243,150,180);
}*/
/*****************************************************************/
/********************menu*****************************************/
.menuBox {
    width: 95%;
    min-height: 100px;
    height: auto;
    padding: 5% 0% 5% 0%;
    position: relative;
}

.menu {
    width: 30%;
    /* margin-left: 15px; */
    margin-bottom: 2%;
    padding-bottom: 0%;
}
.menu:nth-of-type(3n+2){
    /* margin-left: 4%; */
    /* margin-right: 4%; */
}
.menu.floatLeft:nth-of-type(3n+2){
    /* margin-left: 0%; */
    /* margin-right: 0%; */
}
.menuBoxSwrap {
    width: 96%;
    height: 100%;
    position: relative;
    padding-top: 2%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding-left: 8px;
}

.item {
    width: 63%;
    margin: 5% auto 0% auto;
}

.item+span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
.mlarge:nth-of-type(9n+1) .ilarge{
    background-color: rgb(76,179,246);
}
.mlarge:nth-of-type(9n+1) span{
    color: rgb(76,179,246);
}
.mlarge:nth-of-type(9n+2) .ilarge{
    background-color: rgb(76,187,145);
}
.mlarge:nth-of-type(9n+2) span{
    color: rgb(76,187,145);
}
.mlarge:nth-of-type(9n+3) .ilarge{
    background-color: rgb(170,112,66);
}
.mlarge:nth-of-type(9n+3) span{
    color: rgb(170,112,66);
}
.mlarge:nth-of-type(9n+4) .ilarge{
    background-color: rgb(241,89,137);
}
.mlarge:nth-of-type(9n+4) span{
    color: rgb(241,89,137);
}
.mlarge:nth-of-type(9n+5) .ilarge{
    background-color: rgb(68,181,215);
}
.mlarge:nth-of-type(9n+5) span{
    color: rgb(68,181,215);
}
.mlarge:nth-of-type(9n+6) .ilarge{
    background-color: rgb(164,141,213);
}
.mlarge:nth-of-type(9n+6) span{
    color: rgb(164,141,213);
}
.mlarge:nth-of-type(9n+7) .ilarge{
    background-color: rgb(254,162,1);
}
.mlarge:nth-of-type(9n+7) span{
    color: rgb(254,162,1);
}
.mlarge:nth-of-type(9n+8) .ilarge{
    background-color: rgb(220,52,52);
}
.mlarge:nth-of-type(9n+8) span{
    color: rgb(220,52,52);
}
.mlarge:nth-of-type(9n) .ilarge{
    background-color: rgb(125,184,240);
}
.mlarge:nth-of-type(9n) span{
    color: rgb(125,184,240);
}
/*****************************************************************/
/*********************selector************************************/
.selectorBox {
    width: 100%;
    height: 40px;
    position: relative;
}
.selectorSwrap {
    width: 49%;
    height: 92%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin-top:1px;
}
.selectorSwrap:first-child {
    border-right:2px solid  rgba(33,132,127,0.2);
}
.location+.shopContentBox{
    width: 50%;
    width: calc(49% + 4px);
    width: -webkit-calc(49% + 4px);
    right: 0px;
}

.shopContentBox {
    position: absolute;
    z-index: 999;
    width: 49%;
    width: calc(49% - 2px);
    width: -webkit-calc(49% - 2px);
    top: 98%;
    height: 200px;
    border:2px solid rgba(33,132,183,0.4);
    border-top: 0;
    overflow: auto;
}

.span:after {
    content: "" ;
    display: inline-block ;
    width: 0;
    height: 0;
    border-top: 11px solid rgb(77,208,200);
    border-bottom: 0px solid rgb(77,208,200) ;
    border-right: 8px solid transparent ;
    border-left: 8px solid transparent ;
    margin-left: 5px;
}
.span.on:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0px solid rgb(77,208,200);
    border-bottom: 11px solid rgb(77,208,200);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-left: 5px;
}
/*#location,#shop{
    overflow: hidden;
}*/
.min{
    font-size: 14px;
    /*line-height: 0px;*/
    position: relative;
    /*bottom: 8px;*/
    margin-left: 8px;
}
/*****************************************************************/
/**************************shop***********************************/
.m:after{
    content: "米";
}
.shopBox {
    width: 100%;
}

.shop {
    width: 100%;
    height: 85px;
    padding: 4px 0;
}
.shop:nth-child(odd) {
    background-color:#fff;
}
.shop:nth-child(even) {
    background-color:rgb(244,244,244);
}
.shop:nth-of-type(3n+1) .circleBox{
    border-color: rgba(147,209,250,0.6);
}
.shop:nth-of-type(3n+2) .circleBox{
    border-color: rgba(239,88,88,0.6);
}
.shop:nth-of-type(3n+3) .circleBox{
    border-color: rgba(255,199,102,0.6);
}
.circleBox {
    width: 100px;
   height: 83px;

}

.contentBox {
    width: 66%;
    height: 70%;
    margin-top: 2%;
    padding-left: 8px;
}

.incircle {
    width: 85%;
    height: 94%;
    position: relative;
    top: 8%;
    left: 8%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.shopName {
    font-size: 14px;
    margin-bottom: 4px;
}

.describ {
    font-size: 11px;
    margin-bottom: 3px;
}

span#derection {
    font-size: 12px;
    margin-left: 5px;
}
/*****************************************************************/
/***********************location**********************************/
.autoLocationBox {
    width: 40%;
    height: 200px;
    margin: 12% auto;
    margin-bottom: -15%;
}

.circle-normal {
    border: 2px solid;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.cityName {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 8%;
}

.selectSwrap {
    width: 80%;
    height: 50px;
    margin: 2% auto;
    border:1px solid #fff;
}
.btnSelect{
    width: 80%;
    height: 50px;
    margin: 8% auto;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}
.select{
    width: 50%;
    height: 40px;
    margin: 3% auto;
    display: block;
    background: none;
    color: white;
    text-align: center;
    border:0px;
    font-size: 16px;
    -webkit-appearance: none;
}
.selectSwrap:after{
    content: "";

    display: block;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 35px;
    left: 70%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.locationBox option{
    background:none;
    color:rgb(44,44,44);
    font-size: 18px;
}
/*****************************************************************/
/*********************inputBox************************************/
.inputBox {
    font-family:"方正细圆简体";
    width: 75%;
    margin: 8% auto;
    /* border: 1px solid; */
    margin-bottom: 30px;
}

.inputSwrap {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.inputSwrap .title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px !important;
    line-height: 55px !important;
}

.circle-icon {
    width: 40px;
    height: 40px;
    border: 2px solid;
    position: absolute;
    top: 15px;
    left: 11px;
    text-align: center;
    line-height: 40px;
}

.input {
    position: absolute;
    width: 78%;
    /* border: 1px solid red; */
    height: 50px;
    top: 12px;
    left: 70px;
}
.infoItem{
    font-family:"方正细圆简体";
    line-height: 26px;
    font-size: 18px;
}
.input input {
    font-family:"方正细圆简体";
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    font-size: 18px;
    font-weight: lighter;
}
.btnGoBuy {
    width: 80%;
    height: 45px;
    border: 1px solid;
    margin: 20px auto;
    text-align: center;
    line-height: 45px;
}
.xuanze {
    position: relative;
    top: 0;
    height: auto;
    margin: 4% 0;
}

.circleSelectorSwrap {
    border: 2px solid;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 8%;
    left: 8%;
}

.circleSelector {
    width: 19px;
    height: 19px;
    position: relative;
    top: 3px;
    left: 3px;
}
.circleSelected{
    background-color: rgb(250, 252, 252);
}
.circleDeleteSwrap {
    width: 27px;
	height: 27px;
	position: absolute;
	/* border: 2px solid; */
	bottom: 8%;
	left: 8%;
	background-color: rgba(200, 9, 9, 0.7);
}
.circleDelete {
    width: 40%;
    margin: 12px auto;
    border: 1px solid #fff;

}
/*****************************************************************/
/*************************userInfo********************************/
.userLogo {
    width: 75px;
    height: 75px;
    border: 2px solid;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.userInfo {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.username {
    font-size: 36px;
}

.jifen {
    font-size: 16px;
}

.havBox {
    width: 99%;
    height: 33px;
    /* margin: 8% auto; */
    margin-bottom: 0;
}

.hav {
    width: 30%;
    height: 25px;
    border: 1px solid;
    margin-left: 2%;
    margin-right: 0%;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
.hav.on{
    background-color:rgb(132, 41, 33)
}
.Box {
    display: none;
    width: 98%;
    margin-left: 1%;
}
.Box.on{
    display: block;
}
.panelBox {
    width: 100%;

}

.panelHead {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    border-bottom: 1px solid rgb(223, 217, 217);
}
.panelHead:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: relative;
    right: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -5px;
    color: rgb(148, 137, 137);
}
.panelHead.on:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: relative;
    right: 10px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    top: 5px;
}
.timeBox {
    width: 78%;
    position: relative;
    left: 3%;
}

span.date {
    margin-right: 2%;
}

.totalPrice {
    width: 20%;
}

#RMB:before {
    content:"￥"
}
.panelContent {
    width: 100%;
    border-bottom: 1px solid rgb(216, 215, 215);
}

.goodsItem {
    width: 95%;
    margin: 0 auto;
    height: auto;
    line-height: 25px;
    padding: 5px 0px 5px 0px;
}

.goods {
    width: 90%;
    font-size:12px;
}

.shopname {
    width: 8%;
    height: auto;
    text-align: center;
}
.ExtendCode {
    width: 55%;
    height: 200px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5% auto;
}
.btn {
    width: 88px;
    height: 35px;
    border: 1px solid;
    color: rgb(221, 196, 196);
}

.btnCenter {
    text-align: center;
    line-height: 35px;
    margin: 4% auto;
}
/*****************************************************************/
/**************************login**********************************/
.logoBox {
    width: 100%;
    height: auto;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 15% auto;
    margin-bottom: 30%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% !important;
}

.loginInput {
    margin: 4% auto;
    width: 85%;
    height: 65px;
}

.loginInput input {
    font-family: "方正细圆简体";
    width: 100%;
    height: 100%;
    border: 0;
    background: none;
    font-size: 20px;
    color: rgb(60,191,183);
    text-align: center;
}

.loginInput input::-webkit-input-placeholder{
    color: rgb(60,191,183);
    font-size: 20px;
}

.loginInput.regist,.loginInput.login {
    font-size: 20px;
    text-align: center;
    line-height: 67px;
    margin-top: 15%;
}

.actionBox {
    margin: 0 auto;
    width: 70%;
}
span.fogetPW {
    position: absolute;
    left: 15%;
}

span.goRegist {
    position: absolute;
    right: 15%;
}
.welcome {
    width: 80%;
    margin: 10% auto;
    text-align: center;
    font-size: 20px;
}
/*****************************************************************/
/******************滚动字幕***************************************/
marquee.marqueeBox {
    background-color: rgba(181, 41, 41, 0.6);
color: white;
width: 100%;
height: 25px;
top: 173px;
line-height: 25px;
font-size: 14px;
}
/*****************************************************************/
/****************************商品*********************************/

.waresBox {
    width: 100%;
    position: relative;
    top:-3px;
}

.waresBoxSwrap {
    width: 80%;
    /* padding: 5% 0% 0% 0%; */
    position: relative;
    left: 20%;
    margin-top:2px;
}

.waresItem {
    width: 98%;
    height: 60px;
    margin-top: 1%;
    margin-bottom: 0%;
    position: relative;
    padding-left: 2%;
    border-bottom: 1px solid rgb(199,199,199);
}
/* .waresItem:nth-of-type(3n+2){
    margin-left: 2%;
    margin-right: 2%;
} */
.waresCircleSwrap {
    width: 60px;
    height: 50px;
}
.wareInfo {
    width: 32%;
    position: relative;
    padding-left: 5px;
    left: 2px;
    height: 20px;
}
.waresCircle {
    width: 100%;
    height: 100%;
    border: 1px solid;
    position: relative;
    top: 4%;
    left: 0%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.countBuy {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px !important;
    right: 114%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
.priceTag {
    width: 97%;
    margin: 13% auto;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
}

.priceNow {
    font-size: 12px;
}

.priceOld {
    font-size: 12px;
    text-decoration: line-through;
}

.waresDescrib {
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
    margin-top: 2%;
    white-space: nowrap;
}
.loadMoreBox {
    text-align: center;
    margin: 0 auto;
}

span#loadMore {
    font-size: 12px;
}

/*****************************************************************/
/****************************购物车*******************************/
.shopCartIsNullBox {
    width: 54%;
    margin: 12px auto;
}

.warming {
    width: 15px;
    height: 15px;
    border: 1px solid;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 36px;
}
.shopCartHasGoods {
    height: 80%;
    width: 94%;
    margin: 2% auto;
    margin-bottom: 0;
    position: relative;
}

.arrowCricleSwrap {
    width: 25px;
    height: 25px;
    border: 1px solid;
}
.arrowCricleSwrap:after{
    content:"";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid rgb(33,132,127);
    border-right: 1px solid rgb(33,132,127);
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 7px;
    left: 9px;
}
.arrowCricleSwrap.on:after{
    content:"";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid rgb(33,132,127);
    border-right: 1px solid rgb(33,132,127);
    position: absolute;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    top: 11px;
    left: 9px;
}
.arrowCricle {
    width: 17px;
    height: 17px;
    border: 1px solid;
    position: relative;
    top: 3px;
    left: 3px;
}

.totalCount {
    margin-left: 8px;
    font-size: 14px;
    line-height: 28px;
}

span#num {
    font-size: 18px;
    margin-right: 4px;
}

span#price {
    font-size: 18px;  margin-right: 4px;
}
.goOrder {
    width: 33%;
    height: 30px;
    position: absolute;
    right: 0;
    top: -4px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.shopCartContent {
    position: fixed;
    left: 0px;
    height: 150px;
    bottom: 35px;
    width: 100%;
    border-top: 1px solid rgba(44,44,44,0.5);
    overflow: auto;
}

.shopCartContent .goodsItem {
    width: 90%;
    font-size: 14px;
    line-height: 28px;
    position: relative;
}
span.storename {
    position: absolute;
    right: 22%;
    font-size: 12px;
    color: rgb(158,158,158);
}
.delete {
    width: 22px;
    height: 22px;
    border: 1px solid;
    text-align: center;
    position: absolute;
    right: -3%;
    top: 18%;
    line-height: 23px;
}
.deleteone {
    width: 22px;
    height: 22px;  border: 1px solid;  text-align: center;  position: absolute;
    right: 11%;
    top: 18%;
    line-height: 22px;
}
.deleteone.wares {
    width: 18px;
    height: 18px;  border: 1px solid;  text-align: center;
    position: absolute;
    right: -63%;
    top: 46%;
    font-size: 15px;
    line-height: 15px;
}
.addOne.wares{
    width: 18px;
    height: 18px;  border: 1px solid;  text-align: center;
    position: absolute;
    right: -117%;
    top: 46%;
    font-size: 15px;
    line-height: 17px;
}
#wrap {
    /*position:relative;  /* needed */*/
z-index:1;          /* needed and important */
    /*height:500px;       /* needed */*/
overflow:hidden;    /* suggested */
}

#scroller {
    position:absolute;  /* optional. Seems to work with absolute, relative and without it */
    top:0;              /* optional */
    /*    padding:10px;
        background:#eee;*/
    width: 100%;
}
/*****************************************************************/
/***************************分类筛选******************************/
.sortBox{
    position: absolute;
    background-color: rgba(236, 236, 236, 1);
    width: 20%;
    height: 100%;
}
.blur{
    display: none;
    position: fixed;
    z-index: 9998;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 92%;
    top: 55px;
}
.ArrowTipsLeft{
    width: 20px;
    height: 20px;
    border-bottom: 4px solid;
    border-left: 4px solid;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    position: absolute;
    right: 25%;
    top: 40%;
    opacity: 0.8 ;
    -webkit-animation: ArrowTipsLeft 1s  ease-out alternate;
    -moz-animation: ArrowTipsLeft 1s  ease-out alternate;
    animation: ArrowTipsLeft 1s  ease-out alternate;
    animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;/*
animation-delay:2s;
-webkit-animation-delay:2s;*/}

@-webkit-keyframes ArrowTipsLeft{
    0% {right: 25%;opacity: 0.8 !important;}
    100% {right: 28%;opacity: 0 !important;
    }
}
@-moz-keyframes ArrowTipsLeft{
    0% {right: 25%;opacity: 0.8 !important;}
    100% {right: 28%;opacity: 0 !important;
    }
}
@keyframes ArrowTipsLeft{
    0% {right: 25%;opacity: 0.8 !important;}
    100% {right: 28%;opacity: 0 !important;
    }
}

.sortPanelBox {
    width: 100%;
    margin: 0% auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(231, 231, 231, 1);
}

.sortPanelFirst {
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 8px 0;
    color: rgb(123, 118, 118);
}

.sortPanelFirstContent {
    width: 80%;
    margin: 10% auto;
}

.sortPanelSecondContent {
    width: 80%;
    margin: 15% auto;
}

.sortPanelSecond {
    margin: 16% auto;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid rgb(245, 242, 242);
    padding-bottom: 5px;
}

.sortPanelThirdContent {
    margin: 15% auto;
    text-align: center;
    font-size: 12px;
}

/* .sortPanelFirst:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: relative;
    right: -40%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -5px;
} */
/* .sortPanelFirst.on:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: relative;
    right: -40%;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    top: 3px;
} */
.sortPanelFirst.on {
    background-color: rgb(228, 94, 76);
    color: #fff;
}

.sortPanelSecond.on {
    color: rgba(60,191,183,1);
}
#sortScroll {
    position:absolute;/**/  /* optional. Seems to work with absolute, relative and without it */
    top:0;              /* optional */
    /*    padding:10px;
        background:#eee;*/
    width: 100%;
}
#sortWrap {
    position:relative;  /* needed */
    z-index:1000000;          /* needed and important */
    height:500px;       /* needed */
    /*overflow:hidden;    /* suggested */*/
}

/*****************************************************************/
/********************loading**************************************/
.loadingBox{
    width: 100%;
    height: 467px;
    background-color: rgb(239,239,239);
}
.loading{
    width: 50%;
    height: 50%;
    margin: 0% auto;
    padding-top: 25%;
    background-image: url(../img/loading3.gif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*****************************************************************/
