@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		/*vertical-align: baseline;*/
	}
html{font-size:62.5%;}
body{/*font-family:Helvetica, Arial, sans-serif; */
	background:#F4F4F4;
	line-height:150%;
	color:#db1f80;
}
.top {background:#db1f80;height:40px;line-height:40px;font-size:24px;color:#FFF;font-weight:bold;text-align:left;padding-left:15px;}

.zhong{ color:#db1f80;height:auto;background:#f7f39c;margin:0 auto;text-align:center;}
.zhong h1{ text-align:center; font-size:20px;font-weight:bold; padding-top:9px; height:40px; line-height:40px;}
.zhong1 h1{font-size:20px;font-weight:bold; padding-top:9px; height:40px; line-height:40px; text-align:center;}
.zhong2{ clear:left;}
.box { width:100%; height:auto; margin:0 auto;}
.box ul{ margin: 0 auto; width:100%; list-style:none; height:auto;}
.box li {float:left;width:100%; height:auto; font-size:14px; text-align:left;}
.box li div{ float:left; margin-right:9px;}
.yy1{ width:48%;}
.yy2{ width:20%; text-align:center;}
.yy4{ width:19%; text-align:right;}
.box td{ margin-right:13px;}
.zhong3{ background-color:#f7f39c; width:100%; height:10px;}


table{border-collapse:collapse; border-spacing:0}
fieldset, img{border:0}
legend{display:none}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal; font-weight:normal}
ol, ul{list-style:none}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal}
q:before, q:after{content:''}
abbr, acronym{border:0}
a{color:#1E4674; color:#db1f80;}
a:focus{color:#CC0000; outline:none;}
.clear{clear:both; height:0; overflow:hidden}
/*reset end
===================================================================================================================*/
body{background:url(../images/mhy_bg.jpg) repeat;}
html{-webkit-text-size-adjust:none; } /*禁用iphone中safari的字号自动调整*/
input[type="text"], input[type="button"], input[type="submit"]{-webkit-appearance:none; border-radius:0;} /*去除iphone默认样式（input的圆角）*/
/*input[type="checkbox"]{margin:0 3px 3px 4px;}*/
img{max-width:100%;} /*液态图片*/

.cRed{color:#CC0000;}

/*a{-webkit-tap-highlight-color:rgba(0,0,0,0);}*/

.mhy-page{width:100%; font-size:1.4rem; min-height:371px; /*padding-top:45px;*/}
.mhy-line-box{width:100%; height:auto; clear:both; overflow:hidden; margin-bottom:10px;}

header{font-size:1.4rem; }


/*试驾和保养*/
.shijia-form{width:100%; background:#fff;}
.shijia-form h2{width:100%; background:#db1f80; border-bottom:1px solid #CCCCCC; text-align:center; font-size:2.0rem; font-weight:bold; line-height:40px; color:#fff; }
.shijia-form .content{width:100%-10px; background:#eee; padding:10px 0 10px 10px; text-align:left; font-size:1.6rem; color:#000; line-height:1.5;}
.shijia-form ul{width:94%; margin:0 auto; overflow:hidden;}
.shijia-form ul select{height:30px; width:100%; font-size:1.4rem; }
.shijia-form ul li{padding:8px 0;}
.shijia-form ul li p{font-weight:bold; padding-bottom:8px;}
.shijia-form ul li p em{font-weight:bold; font-size:1.8rem; color:Red; margin-right:5px;}
.shijia-form ul li.double-select select{width:49%;}
.shijia-form ul li .inputtext{width:95%; height:30px; border:2px solid #fdc5e2; font-size:1.4rem; color:#db1f80; padding-left:5px}
.shijia-form ul li textarea{width:95.2%; height:56px; border:2px solid #fdc5e2; font-size:1.4rem; color:#fea9d5; resize: none}
.shijia-form ul li input.radio{width:2%; height:12px; margin-left:5px;}
.shijia-form ul li label{height:12px; margin-left:1px; margin-right:5px;font-size:1.4rem;}
　
.shijia-form ul li.shijia-form-btn{margin-bottom:40px;border-radius:6px; }
.shijia-form ul li.shijia-form-btn input{
	width:100%;
	height:40px;
	line-height:40px;
	border:none; /*border-bottom:1px solid #515B63; background:-webkit-gradient(linear, left top, left bottom, from(#798690), to(#59646E)); background:-moz-linear-gradient(top, #798690, #59646E); background:-ms-linear-gradient(top, #798690, #59646E);*/
	background-color:#f7f39c;
	border-radius:5px;
	font-size:2.0rem;
	color:#FFFFFF;
}
.shijia-form ul li.shijia-form-btn-touch input{background:-webkit-gradient(linear, left top, left bottom, from(#59646E), to(#798690)); background:-moz-linear-gradient(top, #59646E, #798690); background:-ms-linear-gradient(top, #59646E, #798690);}
 
.shijia-form ul li input#guestname {width:60%;}
@media screen and (max-device-width: 480px) {
　　　.shijia-form ul li input#guestname {width:55%;}
}



/*404*/
.page-404{width:100%; height:100%; text-align:center; font-size:2.0rem; font-weight:bold; line-height:28px; padding-top:80px}
.index-page-none, .about-us-none{height:240px; text-align:center; font-size:1.8rem; font-weight:bold; line-height:28px; padding-top:50px}

@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    /* iPhone 5 only */
    .mhy-page, .xunjia-form, .xunjia-form2, .big-map, .about-us{min-height:415px;}
}

@media only screen and (min-device-width : 768px) {
	.mhy-page, .xunjia-form, .xunjia-form2, .big-map, .about-us{min-height:520px;}
}

.footer {
	height:50px;
	background:#db1f80;
	font-size:12px;
	text-align:center;
	padding-top:10px;
	margin-top:30px; color:#FFF;}

.footer ol {
	height:22px;
	line-height:22px;
	text-align:center;
}
.footer ol span {
	font-size:13px;
}
        .cwxBg
        {
            position: absolute;
            display: none;
            background: #000;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: 1000;
        }
        .cwxWd
        {
            position: absolute;
            display: none;
            border: 3px solid #e4007f;
            padding: 15px;
            background: #FFF;
            z-index: 1500;
        }
        .cwxEx
        {
            max-width: 300px;
            background: none;
            display: block;
            text-align: right;
            margin-top: -25px;
            margin-right: -25px;
        }
        .cwxEx img
        {
            max-width: 25px;
        }
        .cwxCn
        {
            line-height: 30px;
            max-width: 235px;
            background: #FFF;
	        color:#000;
            display: block;
            font-size:18px;
        }
        .content3 {
	        padding-top:20px;
	        text-align:left; 
	        line-height:1.5;     
	        color:#DB1F80;
	        font-size:15px;
        }
        
         .btn
        {
        	height:28px;
        	 font-size:17px; 
        	 width:112px;
        	 border-color:#fbbe2a;
        	 background:#fbbe2a;
        	}