@charset "utf-8";

html {height: 100%;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight:rgba(0,0,0,0);
-webkit-text-size-adjust:none;
overflow:-moz-scrollbars-vertical; overflow:hidden;}
body { position: relative; font-family:"Microsoft Yahei"; width: 640px; max-width: 640px; min-width: 640px; height: 100%; 
margin: 0 auto; font-size:0.75em; }
* {
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
header{width:100%;height: 210px;background:#00a098;}
	aside{
		width: 68%;
		color: #fff;
		padding-top: 5px;
		font-size: 38px;
		border-right: 1px solid #fff;
		height: 200px;
		float: left;
	}
	.sha{
		width: 20%;
		margin-top: 50px;
		height: 84px;
		margin-left: 25%;
	}
	.sha img{
		width: 70px;
		height: 70px;
	}
	.xia {
		width: 20%;
		height: 57px;
		margin-left: 25%;
		font-size: 25px;
		padding-left: 18px;
	}
	.hen{
		width: 100%;
		height: 50px;
		background: #efefef;
		text-align: center;
		color: #00A098;
		line-height: 50px;
		font-size: 20px;
	}
	.mon{
		width: 100px;
		float: right;
		margin-right: 32%;
		margin-top: -30%;
	}
	aside b{ font-size:80px; line-height:100px;margin-left: 18px;}
	.feilei{ float:left;width:400px;padding:0 0 0 20px;}
	.feilei span{display:inline-block;float:left;width:125px;height:50px;margin:4px;background:#fff url(../img/icon_02.png) left no-repeat;line-height:50px;border-radius:12px;font-size:28px;color:#00a098;text-indent:1.6em;}
	.feilei span.this{background:#ea7215 url(../img/icon_01.png) left no-repeat;color:#fff;}
	.feilei .kong20{ clear:both; line-height:1px; height:20px;}
	.feilei b{clear:both;display:block;width:200px;margin:0 auto;padding:0;height:50px;background:#ea7215;border-radius:12px; line-height:50px;font-size:28px; text-align:center;color:#fff;}
	section{width:100%;height:100%;    clear: both;    margin-bottom: 40px;}
	section h2{line-height:10px;font-size:24px;font-weight:100;padding: 0px 15px 5px 16px;color:#E5F7F6;text-indent:0.5em;margin-top: -80px;}
	ul{margin:0;padding:0;}
	li{
		list-style: none;
		display: inline-block;
		float: left;
		width: 24.8%;
		height: 140px;
		background: #FFFFFF;
		font-size: 28px;
		text-align: center;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		color: #00A098;
	}
	li:nth-child(4){
		border-right:none;
	}
	li:nth-child(8){
		border-right:none;
	}
	li:nth-child(12){
		border-right:none;
	}
	li:nth-child(16){
		border-right:none;
	}
	li:nth-child(20){
		border-right:none;
	}
	li:nth-child(24){
		border-right:none;
	}
	li b{display:block;line-height:90px;font-size:70px;    font-weight: 600; text-align:center;font-family:Arial;}
	li.lion{background:#ea7215;color:#fff;}
	li.gr{background:#ADADAD;}
	li img{vertical-align:middle;padding-bottom:5px;}
	#paymoney{
		float: right;
		margin-top: 5px;
		margin-right: 35px;
	}
	footer{position:fixed;z-index: 10;left: 0;bottom:0px;width:100%;padding: 10px;line-height: 30px;    background: rgba(12, 12, 12, 0.6);color:#fff; text-align:center;font-size:24px;margin-bottom:0;}

	.title{
		width: 30%;
		height: 200px;
		float: right;
	}
	.title table{
		width:100%;
	}
	.title table tr{
		height: 100px;
	}
	.title td{
		color: #fff;
		font-size: 28px;
		text-align: center;
	}
	.lefts {
		float: left;
		width: 40%;
		color: #fff;
		margin-left: 20px;
		font-size: 25px;
	}
	.rights{
		float: right;
		width: 30%;
		color: #fff;
		background: #ea7215;
		font-size: 25px;
		margin-right: 20px;
		text-align: center;
		padding: 5px;
		border-radius: 9px;
	}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	padding: 0;
}
.ucenter-menu{position: fixed;left:0;bottom:0;width:100%;height:40px;padding:13px 0 0px;background:#fff;z-index:10;text-align: center;border-top:1px solid #f0f0f0;}
.ucenter-menu li{position:relative;float: left;width:33.3333333%;height:40px;color:#888;line-height: 1.2;border:none}