/* 
* @Author: 星辉
* @Date:   2015-02-06 10:23:04
* @Last Modified by:   星辉
* @Last Modified time: 2015-03-27 17:45:08
*/

/*这是首页的样式*/
/*header*/
.header.userInfo {
    width: 100%;
    height: 180px;
    position: relative;

    line-height: inherit;
}

.userLessInfo {
    width: 96%;
    margin: 0 auto;
    position: relative;
    top: 12px;
    color: #fff;
    font-size: 14px;
}

.dateLocate {
    text-align: right;
}

.userFeeling {
    width: 100%;
    text-align: right;
    margin-top: 4px;
    margin-bottom: 2px;
}

.userFeeling span {
    text-align: right;
    display: inline-block;
    width: 100%;
}

div#changeFeeling {
    border: 2px solid;
    padding: 1px;
    color: #fa405e;
    width: 14px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    margin-left: 4px;
}

.userMainInfo {
    width: 150px;
    margin: 10px auto 6px;
}

.settingWrap {
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    position: relative;
    top: 20px;
    margin-right: 10px;
}

.setting {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.userLogoWrap {
    width: 68px;
    height: 68px;
    border: 1px solid #fff;
    position: relative;
}

.userLogo {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.msgWrap {
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    position: relative;
    top: 20px;
    margin-left: 10px;
}

.msg {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.msgTip {
    width: 4px;
    height: 4px;
    border: 1px solid #fff;
    position: absolute;
    top: 14%;
    right: 12%;
    background-color: rgb(251,64,95);
}


.userName {
    font-size: 16px;
    color: #fff;

    margin: 2px 0;
}

.userMoreInfo {
    width: 270px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
}

.userMoreInfo span{
    margin-right:4px;
}

.userBlog {
    font-size: 16px;
}

.daLo {
    font-size: 16px;
}

.userMIB {
	width: 64%;
}

.shareUser {
	width: 36%;
}
/**/
/* private	 */
.privateBox nav {
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	background-color: rgb(251,64,95);
	color: #fff;
}

section {
    width: 100%;
    position: relative;
}

.ad_title { padding-left: 5px; }
section.center { text-align: center; }
.ad_title_body {   text-align: left;  background-color: #F3F3F3;  padding: 10px 0;  position: relative;  top: -5px;
  width: 96%;  margin: 0 auto; }
.ad_title_body .ad_title { color: #000; }
.ad_title_body .ad_like_num {   position: absolute;  right: 0; top: 3px; }
.ad_number { position: relative;  top: -10px;  color: #F96E6F;  font-size: 20px; }

nav .hav.on:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: 42%;
	border-bottom: 10px solid rgb(255, 255, 255);
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
}

.item.hav {
    position: relative;
}

.picLikeBox {
    margin: 2%;
    width: 96%;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pic {
    width: 100%;
    height: 110px;
}

.likeBox {
    width: 98%;
    height: 30px;
    line-height: 30px;
    padding-left: 2%;
    background-color: rgb(243,243,243);

    position: relative;
}

span.picTitle {
    font-size: 16px;

}

span.picLike {
    position: absolute;
    top: 0;
    right: 2%;
    color: rgb(251,64,95);
}

.aLink {
	width: 96%;
	margin: 10px auto;
	font-size: 16px;
	min-height: 28px;
	line-height: 22px;
	color: rgb(103,103,103);	
	position: relative;
}

.aLink>a:before {
    content: "-";
}

.aLink a {
    position: relative;
}

.aLink.new>a:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -12px;
    width: 8px;
    height: 8px;
    background-color: rgb(231,47,75);
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

/*public*/
.publicBox nav {
	width: 100%;
	height: 44px;
	background-color: rgb(251, 64, 95);
	line-height: 48px;
	padding: 3px 0;
	font-size: 16px;
	color:#fff
}

.publicBox nav .hav {
    border-left:1px solid rgba(255,255,255,.3)
}

.publicBox nav .hav:nth-of-type(1){
    border-left:none;
}
.sliderBox{
	width: 100%;
	height: 120px;
	overflow: hidden;
	position: relative;
}

.sliderWrap{
	width: 100%;
	height: 100%;	
	display: -webkit-box;
	background-color: #ccc;
}
.slider{
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #ccc;
	
}

.slider.on{
	z-index: 2
}

.provideBox {
	width: 100%;
	height: 46px;
	background-color: rgb(194,167,148);
	color: #fff;
}

marquee.marqueeBox {
	color: #f97a8d;
	font-size: 16px;
	width: 100%;
	height: 38px;
	line-height: 38px;
}

.linkBox {
    width: 96%;
    margin: 0 auto;
    border-top: 1px solid rgb(196,168,146);
    position:relative;
}

.linkBox:before{
    content: "";
    color: rgb(196,168,146);
    display: block;
    font-size: 24px;
    position: absolute;
    top: -6px;
    left: 47%;
    width: 21px;
    height: 10px;
    background-color: #fff;	    
}
.linkBox:after{
    content: "";	   
    display: block;
    font-size: 24px;
    position: absolute;
    top: -4px;
    left: 49%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgb(196,168,146);    
}
.linkBox .aLink {
    width: 100%;
}

.footer {
	width: 100%;
	height: 52px;
	background-color: rgb(202,202,202);
	color: rgb(49,49,49);
	font-size: 12px;
	text-align: center;
}

.footer.fixBottom{
	z-index: 10;
}
[class*=" icon-"] {
    width: 28px;
    height: 28px;
    margin: 4px auto 2px;
}

/*header*/
header.header{
    height: 46px;
    line-height: 46px;
    width: 100%;	
    background-color: rgb(49,51,74);
    color: #fff;
}

.icon-back {
    width: 14px;
    height: 14px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 16px;
    top: 12px;
}

.publicBox nav.secondary {
    /* background-color: rgb(251,103,127); */
}

nav.secondary .hav.on:after {
    bottom: -4px;
}

nav.secondary a{
	padding: 12px;
}

section.brandList {
    width: 96%;
    margin: 6px auto 0;
}

.brandImage {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 6px;
}

.brandImage:nth-of-type(2n){
    height: 140px;
}

/* 商品	 */

section.goodsList {
margin-top: 6px;
}

.goods {
	margin-bottom: 6px;
	position: relative;
	width: 100%;

}

.goods header {
	width: 100%;
	position: relative;
	margin-bottom: 2px;

}

.goodsSort {
	width: 90px;	
	position: relative;
	z-index: 1;
	color: #fff;
	font-size: 18px;
}

.goodsHeaderBg {
	width: 80%;
	height: 100%;
	top: 0;
}

.goodsSort span {
	display: block;
	width: 44px;
	text-align: center;
	position: relative;
	top: 14px;
    padding-bottom: 22px;
	left: 19px;
}

ul.goodsBlock {
	width: 100%;
	position: relative;
}

.goodsBlock li {
	float: left;
	width: 50%;
	height: 86px;
}

.goodsBlock li:last-child {
	clear: both;
	width: 100%;
	height: 130px;
	float: none;

	overflow: hidden;
}

.goods:nth-of-type(3n+1) header .goodsSort{
	background-image: url(../img/green.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
}

.goods:nth-of-type(3n+2) header .goodsSort{
	background-image: url(../img/lighter-green.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
}

.goods:nth-of-type(3n) header .goodsSort{
	background-image: url(../img/hot-green.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
}

/* 团购 */

section.grouponList {
	width: 96%;
	margin: 10px auto 0;
}

.groupon {
	width: 100%;
	position: relative;
	margin-bottom: 10px;

	overflow: hidden;
}

.groupon.new:before,
.groupon.off:before{
	content: "";
	color: #fff;
	display: block;
	position: absolute;	
	/* width: 30px; */
	/* height: 30px; */
	z-index: 1;
	text-align: center;
	border-left: 40px solid rgba(0, 0, 0, 0);
	border-right: 40px solid rgba(0, 0, 0, 0);
	border-top: 40px solid rgb(251, 64, 95);
	/* background-color: rgb(251, 64, 95); */
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	right: -30px;
	top: -10px;
}

.groupon.new:after{
	content: "NEW";
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	color: #fff;
	position: absolute;	
	z-index: 1;
	top: 11px;
	right: 3px;
	font-size: 12px;
}

.groupon.off:after{
	content: "结束";
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	color: #fff;
	position: absolute;	
	z-index: 1;
	top: 11px;
	right: 3px;
	font-size: 12px;
}

.preSell.off,
.groupon.off{
	filter:Gray; 
	-webkit-filter: grayscale(100%);
}

.img {
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
}

.imgDescribe {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	background-color: rgba(251, 64, 95,.8);
	color: #fff;
	line-height: 32px;
	font-size: 15px;
}

.gTitle {
	position: relative;
	left: 10px;
}

.RMB.gPrice {
	position: absolute;
	right: 76px;
	font-size: 16px;
}

.RMB.gPrice:before{
	font-size: 14px;
	position: relative;
	left: 4px;
}

.oldGPrice {
	font-size: 10px;
	width: 70px;
	text-align: center;
	line-height: inherit;
	text-shadow:1px 1px 2px rgba(0,0,0,.6);
	background-image: url(../img/1.png);
	background-position: 0;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.oldGPrice div:nth-of-type(1) {
    height: 16px;
    line-height: 0;
    position: relative;
    top: 12px;
    left: 4px;
}

.oldGPrice div:nth-of-type(2) {
    height: 16px;
    line-height: 0;
    position: relative;
    top: 8px;
    left: 4px;
    text-decoration: line-through;
}


.gMoreInfo {
	width: 100%;
	position: relative;
	color: #fff;
	background-color: rgb(106,106,106);
	line-height: 42px;
	min-height: 42px;
	bottom: 2px;
}

span.moreDescribe {
	position: relative;
	/*left: 4px;*/
	font-size: 18px;
	display: inline-block;
	width: 68%;
	line-height: initial;
}

span.gSold {
	font-size: 12px;
	margin-right: 6px;
}

span.gAssessment {
	font-size: 12px;
	margin-right: 6px;
}

/* 预售 */
	section.preSellList {
    width: 96%;
    margin: 10px auto 0;
}

.preSell {
    width: 100%;
    position: relative;
    margin-bottom:10px;
}

.preSellInfo {
    width: 100%;
    position: relative;
    background-color: rgb(251,102,126);
    color: #fff;
    padding: 3px 0;
}

.preTitle {
    width: 96%;
    margin: 0 auto 4px;
    font-size: 16px;
}

.preState {
    width: 96%;    margin: 0 auto;    
    font-size: 12px;
    color: rgba(255,255,255,.6);
}

.preState .setRight{
    right: 2%;
}

.preImg {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.preImg .setBottom {
    left: 0;
    width: 100%;
    background-color: rgba(201, 168, 148, .9);
    line-height: 22px;
}

.preImg .setBottom span {
    display: inline-block;
    margin-left: 2%;
    font-size: 14px;
}

.preImg .setBottom span.setRight {
    font-size: 10px;
    right: 2%;
    margin-left: 0;
}

.preSellAction {
    width: 100%;
    height: 38px;
    background-color: rgb(106,106,106);
    color: #fff;
    line-height: 38px;
}

span.preSellPrice {
    font-size: 16px;
    margin-left: 2%;
}

span.preToSellPrice {
    font-size: 10px;
    text-decoration: line-through;
}

.preSellAction a.setRight {
    background-color:rgb(251,64,95);
    text-align:center;
    padding:0 10px;
    font-size:18px;
    display:inline-block;
    width: 86px;}

.preSell.off .preSellInfo{
	background-color: rgb(173,173,173);
}

.preSell.off .toPreBuy{
	background-color: rgb(152,152,152);
}

/*  商品详情页  */
	.goodsBody .sliderBox {
    height: 180px;
}

.goodsInfo {
    width: 100%;
    background-color: #fff;
    position: relative;
}

body.goodsBody {
    background-color: rgb(247,247,247);
}

.gBName {
    width: 60%;
    margin-left: 2%;
    font-size: 16px;
    color: rgb(41,41,41);
}

.gBPrice {
    max-width: 120px;
    margin: 4px 0 0 2%;
    font-size: 18px;
    color: rgb(251,64,95);
    font-weight: 600;
}

a.nextGoods.setRight {
    right: 2%;
    top: 4px;
    color: rgb(196,196,196);
    padding: 12px;
}

.goodIntroduction {
    margin-top: 8px;
    background-color: #fff;
    padding-bottom: 8px;
}

.goodIntroduction nav.myul {
    border-bottom: 1px solid rgb(220,220,220);
    border-top: 1px solid rgb(220,220,220);
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}

.goodIntroduction nav.myul li {
    border-left: 1px solid rgb(220,220,220);
}

.goodIntroduction nav.myul li:first-child {
    border-left: none;
}

.goodIntroduction nav.myul li.on {
    color: rgb(251,64,95);
}

.afterSell {
    width: 100%;
    border-bottom: 1px solid rgb(250,60,88);
}

.afterSell header.textMiddle {
    background-color: rgb(194,167,148);
    color: #fff;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
}

ul.sellService {
    width: 100%;
    height: 48px;
    background-color: rgb(236,236,236);
}

.iSellService div {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

li.iSellService {
    position: relative;
}

li.myli.iSellService {}

.gBAssessment {
    background-color: #fff;
    width: 100%;
}

.gBAssessment header {
    width: 94%;
    margin: 0 auto;
    font-size: 18px;
    color: rgb(91,91,91);
    position: relative;
    height: 38px;
    line-height: 38px;
}

span.betterPercent {
    font-size: 14px;
    color: rgb(254,73,68);
}

.totalSellingInfo {
    right: 4%;
    font-size: 14px;
    bottom: -2px;
}

.gBIAssessment {
    border-top: 1px solid rgb(159,159,159);
    color: rgb(93,93,93);
    width: 94%;
    margin: 0 auto;
    position: relative;
    padding: 8px 0;
}

.gBIAssessment div {
    margin-top: 8px;
}

.setRight.userRank {
    top: 2px;
    right: 4%;
}

/*common*/
.posRight { position: absolute; right: 0; }
.posLeft { position: absolute; left: 0;}
.fl { float: left;}
.fr { float: right; }
.of { overflow: hidden; }
.cl { clear: both;}
.mTitle { color: #484848; margin: 5px 10px; }


/*产品详细页*/
.detail-taocan { text-align: center; }
.detail-taocan span { display: inline-block; padding: 2px 4px; background-color: #CCC; color: #FFF; font-size: 12px;}
.detail-taocan .hover { background-color: rgb(251,64,95);} 

.detail-car { text-align:  center; font-size: 14px;   height: 70px; }
.detail-car .detail-b-item { display: inline-block;}
.detail-car .detail-b-item .btn { padding: 15px 20px; color: #FFF; border-radius: 4px; -webkit-radius: 4px; }
.detail-car .detail-b-item .carBtn { background-color: #F3AF32; }
.detail-car .detail-b-item .buyBtn { background-color: #FB405F; }
.detail-car .detail-b-item.l-icon { position: relative; top: 14px;   padding: 0 5px;}
.fixBottonShare {   background-color: #FB405F;  border-radius: 50%;  width: 60px;  height: 60px;
  padding: 7px;  position: fixed;  bottom: 95px;  right: 20px; }

/*品牌详情页*/
.pinpai-photo { position: relative; }
.pinpai-show{ position: absolute; top: 120px;  width: 79px; }
.main-content { width: 70%; margin-left: 90px; color: #6C6C6C; }
.pinpai-title { font-size: 18px; color: #FB405F; font-weight: bold; margin-top: 10px;}
.pinpai-row { margin: 5px 0;}
.pinpai-hr { border-top: 1px solid #FB405F; margin: 20px 0;   margin-left: 90px; }
.pinpai-mgr-body { position: relative; background: url('../img/pinpai-mgr-bg.png');  height: 772px;
  background-size: 100%;  z-index: 1; }
.pinpai-mgr-body .block { position: absolute;  width: 40%;  text-align: center; }
.pinpai-mgr-body .pinpai-mgr { top: 10px; right: 10px;   box-shadow: 1px; box-shadow: 1px 3px 7px #000; padding: 5px; }
.pinpai-mgr-body .block.ad1 {  top: 100px;  left: 5%;}
.pinpai-mgr-body .block.ad2 {  top: 200px;  right: 5%;}
.pinpai-mgr-body .block.ad3 {  top: 300px;  left: 5%;}
.pinpai-mgr-body .block.ad4 {  top: 400px;  right: 5%;}
.pinpai-mgr-body .block.ad5 {  top: 526px;  left: 5%; width: 70%; }
.pinpai-mgr-body .block.ad6 {  top: 574px;  left: -8%;  width: 70%;  font-size: 12px;  color: #FFF; }
.pinpai-mgr-body .block.ad5 img { float: left; margin-left: 10px;}
.pinpai-dongtai { margin-left: 90px;}
.pinpai-online {   position: absolute;  top: 219px;  width: 20px;  z-index: 100;  background-color: #FB677F;
  border-radius: 4px;  color: #FFF;  padding: 8px; }

  /*品牌详细页*/
.search_bg {   background-image: url('../img/pinpai_search.png');  background-size: 100%;  background-repeat: no-repeat;
 height: 24px;  display: inline-block;  position: relative;  top: 12px; }
.search_bg input {   border: 0;  background-color: transparent;   position: relative;  top: -13px;  margin-left: 10%;  width: 80%; }
.goodsType { color: #4A3034; width: 29%; }
  nav .goodsType.hav.on:after { border-bottom: 10px solid #2E2E2E; }
.pinpai-body { position: static;}
.pinpai-body .pinpai-list { width: 30%;  background-color: #2E2E2E;  color: #FFF;  text-align: center;  position: absolute;
  bottom: 0;  top: 216px;   height: 80%; }
.pinpai-body .pinpai-list ul li { padding: 10px 4px;}
.pinpai-body .pinpai-list ul li.on { background-color: #3A3A3A; border-right: 2px solid #F23F5D;}
.pinpai-body .pinpai-list .pinpai-T { font-size: 16px; background-color: #FB405F;  margin-top: 26px; }
.pinpai-body .pinpai-content {   left: 33%;  position: relative;  width: 65%; }
.pinpai-body .pinpai-name {   font-size: 17px;  font-weight: bold;  color: #C3A996;  padding: 10px; 
 border-bottom: 2px solid #D3D3D3; }
.pinpai-body .sub-pinpai li {   float: left;  color: #686868;  padding: 5px 10px; }
.pinpai-body .sub-pinpai {   overflow: hidden; }
.pinpai-body .pinpai-special .pinpai-name { border: 0; margin-top: 20px; }
.pinpai-body .pinpai-special ul li { width: 17%; border: 1px solid #CCC; margin: 5px;}

/*商品*/
header.header.goodsTitle { background-color: #21292C; }
header.header .closeIcon {   margin-left: 15px;  border-right: 2px solid #161C1D;  padding-right: 17px;
  height: 24px;  margin-top: 10px; }
header.header .closeIcon img { position: relative; top: -9px;}
.pageBox {   width: auto;  padding: 10px;  }
.pageBox .pageTitle {   font-size: 18px;  font-weight: bold;  margin: 10px 0; }
.pageBox .ltitle { margin: 10px 0; color: #858585; }
.pageBox .ltitle a { color: #5D7AA5;}
.pageBox .like-number {   position: relative;  top: -8px; color: #F94C68;  font-size: 14px; }
.message .mRow { color: #949494;  border-bottom: 1px solid #AAAAAA;  padding-bottom: 5px;   margin-top: 15px;  }
.message .mRow .sMsg { margin: 5px 0;}
.message .mRowBody { padding: 10px; background-color: #F4F4F4;  border: 1px solid #C1C1C1;   padding-top: 0;  }
.message .mRow .user { color: #000; }
.message .mRow .user .say { color: #8C8C8C;}
.message .mRowBody .mRow:last-child { border-bottom: 0; }
.message .dashLine { display: inline-block; border-bottom: 1px dashed #CCC; width: 41%; }
.message .tuiguang { color: #7A7A7A;   position: relative;  top: 5px; }
.message .mTuiGuang { background-color: #F4F4F4;}
.message .mTuiGuang .mTGAdd { margin-top: 15px; }
.bShareMa {   bottom: 0;  right: 40%;  border: 10px solid #FFF;   width: 30px;  height: 30px; }
.bShareMa img.shareImg{position:absolute;bottom:4px;left:4px;}
.shareMa {   width: 100%;  height: 25%;  border-radius: 0;  right: 0;  bottom: 40px; background-color: transparent; }
.shareMa .con { position: absolute; top: 0; width: 100%; height: 100%; }
.shareMa .con.bg { background-color: #000; opacity: 0.7; }
.shareMa .con.mMessageBody { color: #FFF; }
.mMessageBody div.mItem { width: 27%; float: left;} 
.mMessageBody div.mItem p{font-size:12px;}
.cot{position:absolute;bottom:35px;text-align:center;width:100%;color:#fb405f;}
.message .send-message {   width: 99%;  height: 80px;  text-indent: 10px; }
.message .clickBtnMessage { position: absolute; right: 10px;}