@charset "utf-8";
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button {
    -webkit-appearance: none;
}
/*.rpbtn.getit {
    -webkit-appearance: button !important;
}*/
*{
    font-family:"微软雅黑";
    padding:0;
    margin:0;
    -webkit-tap-highlight-color:transparent;
    /*	-webkit-user-select:auto;*/
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;}
*:focus{
    outline:none;}
body{
    height:100%;
    width:100%;
    /* background-image:url(../img/bg1.jpg?a=123);
     background-repeat:no-repeat;*/}
.bg{
    height:100%;
    width:100%;
    background-image:url(../img/bg1.jpg?a=123);
    background-repeat:no-repeat;
    position: absolute;
    background-size: 100% 100%;
}
.text{
    position:relative;
    background-size:90%;
    background-repeat:no-repeat;
    background-position:center;
    margin-left:auto;
    margin-right:auto;
}
.textlogo{
    width: 63%;
    height: 14%;
    position: absolute;
    left: 18%;
    top: 14%;
}
.textsuccess{
    background-image:url(../img/textsuccess.png);}
.textover{
    background-image:url(../img/textover.png);
    background-size: contain;
}
.textok{
    background-image:url(../img/c2.png);
    background-size: 65%;
}
.bottom{
    display:none;
    bottom: 26%;
    position: absolute;
    width: 63%;
    height: 14%;
    left: 18%;

}
.over{
    /* border: 1px solid; */
    width: 100%;
    height: 42px;
    position: absolute;
    left: 0%;
}
.mid{
    position: absolute;
    /* background-image:url(../img/textlogo.png); */
    background-size:90%;
    background-repeat:no-repeat;
    background-position:center;
    margin-left:auto;
    margin-right:auto;
    width: 63%;
    height: 43%;
    top: 28%;
    left: 18%;
    /* border: 1px solid; */
}

.texttap{
    position: absolute;
    /*background-image:url(../img/textlogo.png);*/
    background-size:90%;
    background-repeat:no-repeat;
    background-position:center;
    margin-left:auto;
    margin-right:auto;
    bottom: 14%;
    left: 18%;
    width: 63%;
}

.finger{


    /*border:1px solid;*/
    position:relative;
    background-repeat:no-repeat;



    background-size: 100%;
    background-position:center;
    background-image:url(../img/finger.gif?a=123);


    height: 100% !important;


}
.btn{

    background-repeat:no-repeat;
    background-size:40%;
    background-position:center;}
.btnsmall{
    background-image:url(../img/btn-small.png);}

.btnlarge{
    background-size:35%;
    /* background-image:url(../img/btn-large.png); */}
#tapped{
    -moz-box-shadow:  3px 6px 100px -3px #b92529;
    -webkit-box-shadow:   3px 6px 100px -3px #b92529;
    box-shadow:  3px 6px 100px -3px #b92529;}
.box{
    height: 40px;
    width: 80px;
    margin: 0 auto;
    position: relative;
    top: 8px;}
.move{
    transition:all 0.2s;
    transition-timing-function:ease-out;
    /* Firefox 4 */
    -moz-transition:all 0.2s;
    -moz-transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 0.2s;
    -webkit-transition-timing-function:ease-out;
    /* Opera */
    -o-transition:all 0.2s;
    -o-transition-timing-function:ease-out;}
.btntext{
    background-repeat:no-repeat;
    background-size:30%;
    background-position:center;
    text-align: center;
    color: #fff;
    font-size: 20px;}
.clickme{
    background-image:url(../img/clickme.png);}
.invite{
    background-image:url(../img/invite.png);}
.helphim{
    background-image:url(../img/c1.png);
    background-size: 65%;}
.logo{
    //background-image:url(../img/logo.png);
    position:relative;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    background-image:url(../img/logo.gif);
    width: 100%;
    height: 80%;

}
.line{
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
    margin: 0 auto;
    border-bottom:1px solid #fff;}
.tips{
    color:#FFF;
    display:inline-flex;
    display:-webkit-box;}
.tips li{
    list-style: none;
    margin-left: 10px !important;
    width: 42%;
    height: 100%;
    /* border: 1px solid; */
}
.gtip{
    font-size: 12px;
    color: #fff;
    width: 86%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;}


.showbox{
    color:#fff;
    display:none;
    z-index:999;
    position:fixed;
    top:5%;
    left:5%;
    height:90%;
    width:90%;

    background-color:rgba(0,0,0,0.7);}

.showboxtitle{
    text-align:center;
    margin:10% auto;
    width:30%;}
.showboxcontent{
    /*border:1px solid;*/
    height:80%;
    width:95%;
    margin:0 auto;
    overflow:scroll;
    /* text-indent: 2em; */
    line-height:25px;}
p{
    text-indent: 2em;}
.myrank{
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    margin:0 auto;
    width:95%;
    position:absolute;
    left: 2%;
    top: 10%;}
.icount{
    width:60%;}
.iranking {
    width:40%;
}
.rankboxtitle{
    text-align:center;
    margin:25% auto;
    width:30%;
    font-size:17px;
    font-weight:800;}
.ranklistbox{
    height: 63%;
    width: 95%;
    position: relative;
    margin: 0 auto;
    top: -15%;
    overflow: scroll;}
.ul{
    margin-bottom: 2%;
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    width:90%;}
.li{
    width:30%;
    text-align:center;
    list-style:none;}
.li:nth-child(1){
    width:22%;
    text-align:center;
    list-style:none;}
.li:nth-child(2){
    width:50%;
    text-align:center;
    list-style:none;}
.close,.closesn{
    color: #F00;
    font-size: 35px;
    position: absolute;
    top: 5%;
    right: 1%;
    /* float: right; */
    height: 80px;
    width: 80px;
    text-align: right;}

.money{

    background-color:transparent !important;
    background-image:url(../img/rbb.png?=12);
    background-repeat:no-repeat;
    background-size:108%;
    background-position:center;

    color:#fff;
    z-index:999;
    position:fixed;
    top:5%;
    left:5%;
    height:90%;
    width:90%;

    background-color:rgba(0,0,0,0.7);}
.myrp{
    background-color: transparent !important;
    background-image: url(../img/rbb.png?=12);
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: center;
    color: #fff;
    z-index: 999;
    position: fixed;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    background-color: rgba(0,0,0,0.7);
}
.share{
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-image:url(../img/guide.png);
    background-position:top;
    background-repeat:no-repeat;
    background-size:100%;}
.checkpublic{
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-image:url(../img/guideuser.png);
    background-position:top;
    background-repeat:no-repeat;
    background-size:100%;
}
.rpbox{
    /* text-align:center; */
    color:#f00;
    height: 150px;
    width: 80%;
    height: 84%;
    top: 15%;
    left: 15%;
    /*border: 1px solid;*/
    margin: 0 auto;
    position:absolute !important;

}
.rbtitle{
    position:absolute;
    top:10px;
    font-weight: 100;
    text-align: center;
}
.rpbox div{
    white-space:nowrap;
    padding-bottom:10px;
    position: relative;
    width: 100%;}
input{
    width: 99%;
    height:30px;
    /* border:1px solid #f00; */
    background-color: #fff;
    text-align: center;
    /* color: red; */
}
.giftstate {
    /* position: relative !important; */
    /* top: 15%; */
}
.rbtitle {
    /* top: 0px; */
}
.gift {
    /* top: 35px; */
    text-align: center;
    margin-top: 3%;
    left: -3%;
    font-size: 20px;
    font-weight: 600;
}
.pls {
    top: 8%;
    text-align: center;
}
.inputnum {
    top: 10%;
}

.rpbtn{
    /* top: 15%; */
    border: 1px solid hsl(359, 83%, 30%);
    /*height: 20px;
    width: 130px;*/
    margin: 0 auto;
    border-radius: 8px;


    /*left: 50px;*/
    line-height: 27px;
    text-align: center;
    background-color: hsl(359, 83%, 39%);
    color: #fff;
    /* background-image:url(../img/inbtn.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 8%;
    width: 55% !important;
    height: 5%;
}
.sncodebox {
    /* position: relative; */
    /* top: 0%; */
}
.howtouse {
    /* position: relative; */
    /* top: 40%; */
    width: 100%;
    height: 23%;
    overflow: scroll;
    /*border: 1px solid;*/
    /* padding-bottom: 0px !important; */
    white-space: normal !important;
}
.ranktitlebox {
    position: relative;
    top: -15%;
    width: 95%;
    margin: 0 auto;
}
.inputpw{
    /* top: 15%; */}
span.checkbtn {
    border: 1px solid red;
    padding: 4px;
    border-radius: 8px;
    /* color: white !important; */
    /* background-color: red; */

    font-size: 12px;
}

#guizhe{
    background-image:url(../img/c4.png);
    width: 100%;
    height: 25px;
    /* border: 1px solid; */
    background-size: contain;
    background-repeat: no-repeat;
}
#jiecaobang{
    background-image:url(../img/c5.png);
    width: 100%;
    height: 25px;
    /* border: 1px solid; */
    background-size: contain;
    background-repeat: no-repeat;
}
#hongbao{
    background-image:url(../img/c3.png);
    width: 100%;
    height: 25px;
    /* border: 1px solid; */
    background-size: contain;
    background-repeat: no-repeat;}
.myget{
    text-align:center;}
.rull .close,.rank .close {
    top: 0px !important;
}
.textc6{
    background-image:url(../img/c6.png);
    position: absolute;
    width: 70%;
    height: 40px;

    top: 62%;
    left: 14%;
}