body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
	font-size:13px;
}
ol, ul {
	list-style: none;
}
body {font-family: Arial,Helvetica,sans-serif;}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
html, body {
height: 100%;
}
#header{
background-color:#E8EAEB;
}
#header  h1{
 color:#303233;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin: 0;
}
#header  h1 a{
   background: url(1.png) no-repeat 10px -433px / 30px;
    color: #303233;
    display: block;
    padding-left: 50px;
    padding-right: 10px;
    width: 20%;
    font-weight: 400;
}
body{
height:100%;
}
#body{
height:300px;
width:100%;

}
#body2{
height:320px;
width:100%;

}
.body1{
margin:0.8% 0.8% 0.4% 0.8%;
background-color:#fff;
height:125%;

padding:31px 0 0 18px;

box-shadow: 0 1px 1px rgba(0,0,0,.1);
box-sizing: border-box;

}
.body2{
margin:0.8% 0.8% 0.4% 0.8%;
background-color:;
height:125%;
border-radius: 15px;
padding:10px 0 0 10px;



}
#main  img{
     height: 40px;
     width: 40px;
	 float:left;
}
#main1{
    float:left;
	font-weight:400;
	margin:0 0 28px 17px;
	
}
#main1 h2{
   color: #303233;
    font-size: 16px;
    line-height: 16px;
    width: 75%;
	font-weight:normal;
	
}
#main1 h3{
 margin:9px 0 0 0;
   font-size:15px;
   font-weight:normal;

}
#address{
clear:both;
}
#address  ul  li{
font-size:17px;
margin:0 0 13px 0;

}
#address  ul  li a{
margin:0 0 0 27px;
color:#1D8EC7;
}
#address  ul  li  span{
margin:0 0 0 27px;
}
#main-bottom{
text-align:center;
}
#main-bottom span{
padding:4px 0 0 27px;
}
#main-bottom a{
height:45px;
margin:15px 0.8% 0 0.8%;
display:block;
width:98.6%;
border-radius: 8px;
background:#3490d2;

}
#kai{
 height:100%;
}

#main-bottom p{
background:#3490d2 url(1.png) no-repeat 0 -251px/27px;
height:30px;
width:150px;
float:left;
font-size:18px;
margin:7px 45%;
}
#position1{
margin:8px  0 0 45%;
}
#main-bottom span{
color:#fff;
float:left;
margin:;
display:black;
}
#footer{
position:absolute;
clear:both;
top:95%;
left:45%;

}
#footer a,span{
color:#90979d;
font-size:17px;
}
#footer a:hover{
color:#1d8ec7;

}
@keyframes myfirst｛
from {background: left:20px; top:0px;}
to {background: left:0px; top:0px;;}
｝
@-moz-keyframes myfirst /* Firefox */
{
from {background: left:20px; top:0px;}
to {background: left:0px; top:0px;;}
}
@-webkit-keyframes myfirst {
from {background: left:20px; top:0px;}
to {background: left:0px; top:0px;;}

}
@-o-keyframes myfirst {
from {background: left:400px; top:0px;}
to {background: left:0px; top:0px;;}
}
#move{
position:relative;
animation:myfirst 5s;
-moz-animation:myfirst 5s; /* Firefox */
-webkit-animation:myfirst 5s; /* Safari and Chrome */
-o-animation:myfirst 5s; /* Opera */

}
.xie{
position:absolute;
top:0;left:0;
width:0px;
height:2px;
background-color:#1D8EC7;;
}
#move{
position:relative;
animation:myfirst 0.5s;
-moz-animation:myfirst 0.5s; /* Firefox */
-webkit-animation:myfirst 0.5s; /* Safari and Chrome */
-o-animation:myfirst 0.5s; /* Opera */

}
@keyframes myfirst
{
0%   { left:0px; top:0px;}
1%  { left:8%; top:0;}
100% { left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   { left:0px; top:0px;}
1%  { left:8%; top:0;}
100% { left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   { left:0px; top:0px;}
1%  { left:8%; top:0;}
100% { left:0px; top:0px;}
}
@-o-keyframes myfirst /* Opera */
{
0%   { left:0px; top:0px;}
1%  { left:8%; top:0;}
100% { left:0px; top:0px;}
}
#main2 ul li{
height: 52px;
overflow: hidden;
padding: 10px 0 0;
position: relative;
margin: 0 10px;
border-bottom: 1px solid #e7e7e7;

}
#main2 ul li a img{
display:block;
width:40px;
height:40px;
float:left;
margin:0 20px 0 0;
}
#main2  a{
display:block;
cursor:default;

}
#main2 ul li a h2{
margin:0 0 8px 0;
font-size:19px;
font-weight:normal;
color: #303233;
}
#main2 ul li a p{
color: #303233;
font-weight:normal;
color:#6c7278;
} 
















