/* 
* @Author: 星辉
* @Date:   2015-02-06 10:23:04
* @Last Modified by:   星辉
* @Last Modified time: 2015-04-30 17:58:08
*/

/*
* shopNav
*/

body.shopNav {
    background-color: rgb(245,245,245);
}
.header {
    height: 52px;
    border-bottom: 2px solid;
    line-height: 52px;
    color: rgb(140,171,5);
}

.wrapHeader {
    width: 108px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.header [class^=icon_]{
    width: 28px;
    height: 28px;
    /*border: 1px solid;*/
    position: absolute;
    top: 12px;
    background-size: 100%;
    background-position: 50%;
}

.icon_home {
    background-image: url(../img/home.png);
    width: 28px;
    height: 28px;
    /*border: 1px solid;*/
    position: absolute;
    top: 12px;
    background-size: 100%;
    background-position: 50%;
}

.wrapHeader .title {
    width: 80px;
    left: 42px;
    font-size: 16px;
    color: rgb(140,171,5);
    font-weight: 600;
}

.areaBox {
    border-bottom: 1px solid;
    padding: 6px 0;
    color: rgb(140,171,5);
}

.areaBox .area {
    width: 16.666667%;
    text-align: center;
    margin: 4px 0;
    font-size: 14px;
}

.shopListBox {
    width: 100%;
    position: relative;
    margin: 8px 0 0;
    color: rgb(41,41,41);
}

.shopListBox .shopList {
    width: 96%;
    margin: 0 auto 8px auto;
    border-bottom: 1px solid rgb(218,218,218);
}

.shopPic {
    width: 108px;
    height: 90px;
    margin: 0 0 8px;
    background-color: #ccc;
}

.shopInfo {
    width: 60%;
    margin: 0 0 0 4%;
    padding: 8px 0 0;
}

.shopName {
    margin: 6px 0;
    font-size: 16px;
    font-weight: 600;
}

.shopAddress {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin: 6px 0;
}

.distance {
    position: absolute;
    right: 4px;
}

.contact {
    margin: 6px 0;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.icon-tel {
    /*border: 1px solid #ccc;*/
    position: absolute;
    right: 6px;
    background-image: url(../img/call.png);
    width: 16px;
    height: 16px;
    background-size:100%;
    background-position: 50%;
    top: 2px;
}

/*
*门店导航2
*/
body.shopNav2{
    background-color: rgb(237,237,237);
    color: rgb(21,21,21);
}

.shopNav2 .text {
    color: rgb(21,21,21);
}

.shopBanner {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.shopBanner img{
    width:100%;
    background:red;
    border:none;
}

.shopDetail {
    padding: 8px 6%;
    background: #fff;
    margin: 0 auto 8px;
}

.shopADDTEL {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin: 6px 0 12px;
    color: rgb(21,21,21);
}

.shopADDTEL .num {
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 14px;
}

.location {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
}

.icon-locate {
    width: 40px;
    background-image: url(../img/locate.png);
    /* border: 1px solid; */
    background-repeat: no-repeat;
    background-size: contain;
}

.eventBox {
    background: #fff;
    width: 100%;
}

.limitShopping,.newEvent {
    width: 88%;
    margin: 0 auto;
    padding: 0 4px;
}

.limitShopping>.title, .newEvent>.title{
   font-size: 14px;
   margin: 2px 0 12px;
   color: rgb(21,21,21);
}

.CLleft{
    width: 20px;
    position: absolute;
    top: 8px;
    left: 0;
}

.CLright{
    width: 20px;
    position: absolute;
    top: 8px;
    right:0px;
}

.limitShopping {
    border-bottom: 1px solid rgb(189,189,189);
    padding-bottom: 2px;
}

.arrow-left.arrowLeft {
    width: 8px;
    height: 8px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    position: relative;
    top: 14px;
    color: rgb(189,189,189);
}
.arrow-right.arrowRight{
    width: 8px;
    height: 8px;
    border-right-width: 2px;
    border-top-width: 2px;
    position: relative;  top: 14px;  
    color: rgb(189,189,189);
}

.eventListUl {
    width: 74%;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 6px;
}

.CLpic {
    width: 46px;
    height: 56px;
}

.CLInfo {
    margin: 4px 0 0 6px;
    font-size: 14px;
    line-height: 24px;
}

.CLprice .nowPrice {
    color: #f00;
    font-size: 16px;
    font-weight: 600;
}

.CLcenterItem {
    width: 262px;
    margin: auto;
}

.changeLimit {
    position: relative;
    margin: 6px auto 4px;
}

.eventList {
    list-style: none;
    position: relative;
    margin: 6px 0;
    color: rgb(41,41,41);
}

.eventList:before{
    content:"";
    position:absolute;
    display:block;
    width: 12px;
    height: 12px;
    background-color: rgb(241,86,175);
    border-radius:50%;
    -webkit-border-radius:50%;
    left: -28px;
    top: 3px;
}

.wrapNav [class^=icon_] {
    width: 52px;
    height: 52px;
    border: 4px solid rgb(114,133,133);
    margin: 0 auto;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.icon_phone{
    background-image: url(../img/phone.png);
}

.icon_like{
    background-image: url(../img/like.png);
}

.icon_zixun{
    background-image: url(../img/zixun.png);
}

.moreNav {
    background-color: #fff;
    margin: 8px 0 0;
    padding: 16px 0 8px;
}

.wrapNav .title {
    margin: 8px 0 0;
    color: rgb(33,33,33);
}

.CLcenter {
    margin: 0 auto;
}

.CLprice .RMB.oldPrice {
    font-size: 12px;
    text-decoration: line-through;
}

/*限时抢购*/
body.limiting .header {
    background-color: #fff;
}
.icon_clock{
    background-image: url(../img/clock.png);
    width: 28px;
    height: 28px;
    /*border: 1px solid;*/
    position: absolute;
    top: 12px;
    background-size: 100%;
    background-position: 50%;
}
body.limiting{
     background-color: rgb(237,237,237);
    color: rgb(21,21,21);
}
.limitShoppingBox {
    width: 100%;
    position: relative;
}

.limitShoppingList {
    width: 96%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(189,189,189);
    padding: 10px 0;
}

.limitShoppingList .pic {
    width: 100px;
    height: 68px;
}

.LSlistInfo {
    margin-left: 8px;
    position: relative;
    padding: 12px 0 0;
    width: 72%;
}

.limitShoppingList .title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(41,41,41);
}

.limitShoppingList .detail {
    width: 100%;
    position: relative;
    font-size: 12px;
    line-height: 28px;
}

.limitShoppingList .detail .count {
    color: #f00;
}

.limitShoppingList .detail .buy,
.freeFelt .limitShoppingList .detail .orderBooking {
    width: 100px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    background-color: rgb(140,171,5);
    position: absolute;
    bottom: -4px;
    right: 0;
}

.limitShoppingBoxWrap {
    background-color: #fff;
}

.limitShoppingBoxWrap.off {
    background-color: rgba(0,0,0,0);
}

.limitShoppingBoxWrap.off .buy,
.freeFelt .limitShoppingBoxWrap.off .orderBooking{
    background-color: rgb(186,186,186);
    color: #fff;
}

/*限时抢购2*/
.limiting .banner,
.freeFelt .banner{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.limiting .banner img,
,
.freeFelt .banner img{
    width: 100%;
}

.content {
    width: 100%;
    position: relative;
}

.content .item {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(168,168,168);
    position: relative;
    padding: 10px 0;
}

.gPrice .RMB.nowPrice {
    color: #ff6b00;
    font-size: 18px;
    font-weight: 600;
}

.gPrice .RMB.oldPrice {
    font-size: 12px;
    text-decoration: line-through;
    color: rgb(138,138,138);
}

.item .buyNow,
.freeFelt .bookingNow{
    bottom: 6px;
    background-color: rgb(140,171,5);
    padding: 2px 8px;
    color: #fff;
    font-size: 14px;
    height: 22px;
    width: 70px;
    line-height: 22px;
}

.item.gPrice {
    height: 60px;
    line-height: 70px;
}

.item.detail {
}

.item .arrowRight.setRight {
    top: 14px;
    width: 8px;
    height: 8px;
    color: rgb(138,138,138);
    border-width: 2px;
    right: 4px;
}

.item.detail .title {
    color: rgb(140,171,5);
    margin: 0 0 8px;
    font-size: 14px;
}

.item.detail .longContent {
    font-size: 14px;
    color: rgb(26,26,26);
}

.item.detail .textRight {
    color: rgb(140,171,5);
    font-size: 14px;
}

/*免费体检1*/
.freeFelt .header .icon_mian{
    background-image: url(../img/mian.png);
    width: 28px;
    height: 28px;
    /*border: 1px solid;*/
    position: absolute;
    top: 12px;
    background-size: 100%;
    background-position: 50%;
}

/*免费体检2*/

.freeFelt .content .item{
    border:none;
}

.freeFelt .content .item.gPrice {
    height: 32px;
    line-height: 32px;
    height: 16px;
}

.freeFelt .bookingNow {
    bottom: 0;
    padding: 0;
    bottom: -6px;
}

.freeFelt .item.detail .title {
    margin: 0;
}

.freeFelt .item.detail .longContent {
    text-indent: 2em;
    margin-top: 6px;
}


/*会员中心*/
.freeFelt .header .icon_mian_huiyuan{
    background-image: url(../img/huiyuan_icon.png);
    width: 28px;
    height: 28px;
    /*border: 1px solid;*/
    position: absolute;
    top: 12px;
    background-size: 100%;
    background-position: 50%;
}
.brand_logo {
    background-image: url(../img/yumeiren_brand_logo.png);
    width: 55%;
    height: 150px;
    background-size: 100%;
    margin: 60px auto;
    background-repeat: no-repeat;
}
.a_go_box{
    width: 80%;
    height: 100px;
    margin: 30% auto;
}

.a_go_box a{
    display: block;
    height: 40px;
    width: 100%;
    background: rgb(142,171,0);
    border-radius: 5px;
    line-height: 40px;
    margin-top: 15px;
    text-align: center;
    color: rgb(255,255,255);
    font-weight: bold;
}

/*会员注册*/
.user_register{
    width: 92%;
    height: 100px;
    margin: 5px auto;
}
.user_register .zhuce_span{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(210,210,210);
    margin-top: 10px;
    vertical-align: middle;
    line-height: 40px;
}
.user_register .zhuce_span span{
    font-size: 15px;
    font-weight: bold;
}
.user_register .zhuce_span input{
    border: none;
    margin-left: 5px;
    width: 54%;
}
.user_register .zhuce_span  .getcode{
    color:red;
}
.btn{
    width: 100%;
    height: 35px;
    background-color: rgb(142,171,0);
    border: none;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
}
.wrap_top{
    margin-top: 30px;
}

/*
会员中心主页
*/
.member_pic{
    width: 100%;
    height: 30%;
}
.member_pic img{
    width: 100%;
}
.img_bar{
    height: 35px;
    width: 100%;
    background-color: rgba(103,101,82,0.7);
    position: relative;
    top:-35px;
}
.img_bar div{
    line-height: 35px;
    color: rgb(255,255,255);
}
.img_bar .nickname{
    float: left;
    margin-left:25px;
}
.img_bar .score{
    float: right;
    margin-right:25px;
}
.icon_box{
    width: 100%;
    margin:0px auto;
}
.icon_min{
    width: 33.3%;
    height: 120px;
    float: left;
    margin-top: 20px;
}
.icon_logo{
    width: 58%;
    margin: auto;
    height: 58%;
    border: 3px solid rgb(113,113,113);
    border-radius: 50%;
}
.text_decoration {
    text-align: center;
    vertical-align: middle;
    color: rgb(113,113,113);
    height: 32%;
    line-height: 35px;
}
.gerenziliao{
    background-image: url(../img/gerenziliao.png);
    background-repeat: no-repeat;
    background-size: 67%;
    background-position: 13px 12px;
}
.yuyuefuwu{
    background-image: url(../img/yuyuefuwu.png);
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: 14px 14px;
}
.yaoqinhaoyou{
    background-image: url(../img/yaoqinghaoyou.png);
    background-repeat: no-repeat;
    background-size: 48%;
    background-position: 38px 17px;
}
.jifenduihuan{
        background-image: url(../img/jifenduihuan.png);
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: 14px 14px;
}
.youhuiquan{
            background-image: url(../img/youhuiquan.png);
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: 35px 22px;;
}
.xiaoxitixing{
            background-image: url(../img/xiaoxitixing.png);
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: 14px 14px;
}
.woyaojifen{
                background-image: url(../img/woyaojifen.png);
    background-repeat: no-repeat;
    background-size: 50% 70%;
    background-position:19px 8px;
}
.qiandao{
    background-image: url(../img/qiandao.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 18px 22px;
}
.xianshiqianggou{
        background-image: url(../img/xianshiqianggou.png);
    background-repeat: no-repeat;
    background-size:50%;
    background-position: 40px 12px;
}

/*优惠券*/
.youhuiquanmain{
    width: 90%;
    margin: 0px auto;
}
.diyongquan{
    width: 100%;
    height: 140px;
    max-width: 300px;
    background-image: url(../img/diyongquan.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15px;
    -webkit-box-shadow:8px 8px 20px 0px #B0ABAB;
    box-shadow:8px 8px 20px 0px #B0ABAB;
    margin:15px auto;
}
.diyongquanliaocheng{
    width: 100%;
    height: 140px;
    max-width: 300px;
    background-image: url(../img/diyongquanliaocheng.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-box-shadow:8px 8px 20px 0px #B0ABAB;
    box-shadow:8px 8px 20px 0px #B0ABAB;
    margin:15px auto;
}
.diyongquan .jine{
    margin-left: 52px;
    font-size: 22px;
    position: relative;
    top: 65px;
    color: rgb(212,171,127);
}
.diyongquan .card{
    margin-left: 52px;
    font-size: 15px;
    position: relative;
    top: 65px;
    color: rgb(212,171,127);
}
.diyongquan .money{
    font-size: 40px;
}
.centerBox{
    width: 80%;
    height: 100px;
    margin: auto;
    padding-top: 50px;
}
.name{
    width: 100%;
    color: rgb(255,255,255);
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding:2px 0px;
}
.overtime{
    width: 100%;
    color: rgb(255,255,255);
    text-align: center;
    font-size: 10px;
    padding:2px 0px;
}
.cardno{
    width: 100%;
    color: rgb(255,255,255);
    text-align: center;
    font-size: 13px;
    padding:2px 0px;
}

/*
优惠券详情
*/
.boxcontent{
    width: 95%;
    margin: 10px auto;
}
.line_box{
    margin-top: 20px;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(186,186,186);
    font-weight: 300;
}
.noline{
    border-bottom: 0px;
}
.line_box .code{
    padding-top: 10px;
    width: 100%;
}
.line_box .copy{
    float: right;
    color:rgb(106,184,243);
}
.line_box .dateline{
    width: 100%;
    padding-top: 10px;
    font-size: 13px;
}
.line_box .desc{
    font-size: 14px;
    line-height: 25px;
}

/*预约页面*/
.tips{
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
.select_box{
    height: 35px;
    width:100%;
    margin-top: 10px;
}
.select_box select{
    width: 100%;
    text-align: center;
    text-indent: 5%;
    border: none;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(210,217,223);
}
.addresstip{
    padding: 5px 0px;
    font-size: 14px;
}
.select_box .phone{
    color:red;
}
.height_max{
    height: 80px;
}
.tip_box{
    height: 100px;
    margin:0px auto;
}
.select_box textarea{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(210,217,223);
    border: none;
}

.wenxin{
    text-align: left;
    color:rgb(224,224,224);
    font-size: 13px;
}

/*服务项目*/
.abs { position: absolute; }
.rel { position: relative; }
.h100 { height: 100%; }
.project .row { height: 100px; border-bottom: 1px solid #B0B0B0 }
.project .row.r .bg,
.project .row.r .txt { right: 0; }
.project .row .bg { width: 30%; height: 100%; background-color: #000; opacity: 0.1; }
.project .row .txt { width: 44px; font-size: 20px; margin-left: 12%; margin-top: 20px;
color: #FFF; }
.project .row.r .txt { margin-left: 0; right: 12%; }