/* 
* @Author: æ˜Ÿè¾‰
* @Date:   2015-02-06 10:23:04
* @Last Modified by:   zhang
* @Last Modified time: 2015-04-07 10:19:21
*/

/*é¢œè‰²*/
.header-green-bg{
    background-color: rgb(154,218,204);
}

.header-green{
    color: rgb(154,218,204);
}

.body-green-bg{
    background-color: rgb(228,239,237);
}

.body-green{
    color: rgb(228,239,237);
}

.text-green-bg{
    background-color: rgb(2,149,149);
}

.text-green{
    color: rgb(2,149,149);
}

.border-green-bg{
    background-color: rgb(160,222,211);
}

.border-green{
    color: rgb(160,222,211);
}

.btn-green-bg{
    background-color: rgb(39, 151, 155);
}

.btn-green{
    color: rgb(0,150,149);
}

.tip-red-bg{
    background-color: rgb(248,124,124);
}

.tip-red{
    color: rgb(248,124,124);
}

.text-red-bg{
    background-color: rgb(255,22,10);
}

.text-red{
    color: rgb(255,22,10);
}

.tip-yellow-bg{
    background-color: rgb(255,208,110);
}

.tip-yellow{
    color: rgb(255,208,110);
}

.crown-yellow-bg{
    background-color: rgb(255,173,1);
}

.crown-yellow{
    color: rgb(255,173,1);
}

/*å›¾æ ‡*/
.icon{
    background-image: url(../img/icon.png);
}

/*header*/
.header{
    height: 46px;
    line-height: 46px;
    width: 100%;
}

/*é—¨åº—åˆ—è¡¨*/

.shoplist {
    width: 100%;
    position: relative;
    margin: 16px 0;
}

.shopListBox {
    width: 96%;
    margin: 4% auto;
    position: relative;
}

.shopLogo {
    width: 60px;
    height: 60px;
}

.shopInfoBox {
    width: 68%;
    padding: 4%;
    position: relative;
    left: 4%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.6);
}

.shopInfoBox:before{
    content:"";
    display:block;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left: -6px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.6);
}
.shopListAddress {
    color: rgb(137,137,137);
    font-size: 12px;
    margin: 2% 0;
}

.shopListContact {
    font-size: 10px;
    color: rgb(165,165,165);
    padding-top: 8px;
    border-top: 1px solid #eee;
    margin-top: 8%;
}

.icon-call {
    width: 22px;
    height: 16px;
    background-size: 300%;
    background-position: -4px 0;
    margin-right: 8px;
}

.icon-hav {
    width: 22px;
    height: 22px;
    background-position: -5px -90px;
    background-size: 288%;
    margin-right: 8px;
}

.shopListContact > .myul {
    padding-left: 4%;
    padding-top: 2%;
    line-height: 18px;
}

/* åº—é“ºé¡µé¢ */
.icon-menu {
    width: 20px;
    height: 22px;
    background-size: 280%;
    background-position: -5px -50px;
    top: 12px;
    left: 12px;
}

.icon-user {
    width: 22px;  
    height: 22px;  background-size: 280%;  
    background-position: -6px -28px;  
    top: 12px;  
    right: 12px;
}

.menuItem {
    margin: 0 auto;
    width: 96%;
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.menuLogoWrap {
    width: 70px;
    height: 70px;
    font-size: 12px;
    border: 1px solid;
    position: relative;
}

.menuCount {
    position: absolute;
    top: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
}

.menuLogo {
    width: 94%;
    height: 94%;
    position: relative;
    top: 3%;
    left: 3%;
}

.menuInfoBox {
    width: 70%;
    position: relative;
    left: 4%;
}

.menuDetail {
    color: rgb(108,108,108);
    font-size: 12px;
    margin: 8px 0;
}

.oldPrice {
    color: rgb(163,163,163);
    text-decoration: line-through;
    padding-right: 1em;
    font-size: 12px;
}

span.priceNow {
    font-weight: 600;
    font-size: 12px;
}

.delectOne {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid;
    text-align: center;
    bottom: 0px;
}

.delectOne:after{
    content:"";
    display:block;
    width: 12px;
    border-top:2px solid;
    position:relative;
    margin: 0 auto;
    top: 9px;
}

.shopCart {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    bottom: 0;
    left: 0;
    font-size: 15px;
    line-height: 50px;
    z-index:9;
}

.goPay {
    position: absolute;
    right: 10px;
    width: 80px;
    height: 36px;
    top: 8px;
    font-size: 18px;
    line-height: 36px;
}

span.choose {
    margin: 0 20px 0 10px;
}

.sortHead {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid rgb(21,172,167);
    height: 46px;
    line-height: 46px;
}

.sortWrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 80%;
}

.sortScroll {
    width: 100%;
}

.sortItem {
    border-bottom: 1px solid rgb(21,172,167);
    color: #fff;
    font-size: 16px;
    height: 54px;
    line-height: 54px;
    width: 60%;
    margin: 0 auto;
}

.sortIcon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 16px;
    margin: 0 12px 0 10px;
}

/* ä¸‹å• */
.continueOrdering {
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 36px;
    position:relative;
    left:8px;
}

.continueOrdering:before{
    content:"+";
    font-size:26px;
    font-weight:100;
    position: relative;
    top:6px
 }

.orderInfoBox {
    padding-top: 12px;
}

.orderInfo {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(248,124,124);
    border-top: 1px solid rgb(248,124,124);
    margin-top: 8px;
}

.orderInfoItem {
    position: relative;
    padding: 0 0 0 8px;
    border-top: 1px solid #ccc;
}

.orderInfoItem:nth-of-type(1){
    border-top:none;
}
.orderInfoItemHead {
    line-height: 48px;
    color: RGB(38,38,38);
    height: 48px;
    position: relative;
    font-weight: 500;
}

.orderPriceInfo {
    top: 0;
    right: 30px;
}

.yellowTip {
    border-left: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid;
    position: absolute;
    right: 1px;
    bottom: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.on .yellowTip {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    opacity: 0 !important;
    
}

.orderInfoItemContent {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.orderDetail {
    color: rgb(138,138,138);
    width: 50%;
    font-size: 12px;
    line-height: 20px;
}

.orderEdit {
    width: 28%;
    position: absolute;
    top: 8px;
    right: 0;
}

.orderdel {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(248,124,124);
}

.orderdel:after{
    content:"";
    display:block;
    width: 12px;
    border: 1px solid rgb(248, 124, 124);
    margin:0 auto;
    position:relative;
    top:9px;
    border-radius: 6px;
}
.orderAdd {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(248,124,124);
    margin-left: 20px;
    position:relative;
}

.orderAdd:before{
    content:"";
    display:block;
    height: 12px;
    border: 1px solid rgb(248, 124, 124);
    position:absolute;
    
    top: 3px;
    left:9px
}

.orderAdd:after{
    content:"";
    display:block;
    
    width: 12px;
    border: 1px solid rgb(248, 124, 124);
    position:absolute;
    
    top: 9px;
    
    left: 3px;
    
}

.checkBill {
    height: 60px;
    line-height: 60px;
}

.orderMoreInfoBox {
    margin: 0 auto;
    position: relative;
    width: 94%;
}

.moreinfoName {
    color: rgb(138,138,138);
    margin: 10px 0;
}

.inputBox {
    width: 100%;
    height: 38px;
    margin-bottom: 8px;
    background-color: #fff;
    position: relative;
}

.inputBox input {
    color: rgb(48,48,48);
    width: 96%;
    position: absolute;
    right: 0;
    top: 12px;
    border: none;
}

.selectBox {
    width: 16px;
    height: 16px;
    border: 1px solid rgb(168,168,168);
    margin-right: 12px;
    position: relative;
    top: 4px;
}

.selectBox.on:after {
    content:"";
    display:block;
    width: 20px;
    height:20px;
    background-image: url(../img/icon.png);
    background-size: 300%;
    background-position: -9px 49px;
}

.jifenInfo {
    color: rgb(184,184,184);
}

.jifenInfo span {
    line-height: 28px;
}

.jifenInfo .myul {
    margin-top: 16px;
}

.deyibi {
    width: 60px;
    height: 26px;
    -webkit-appearance: none;
    border: none;
    text-align: center;
    color: rgb(138,138,138);
    padding-left: 10px;
}

.deyibiBox:after{
    /*content:"";*/
    display:block;
    position:absolute;
    width: 8px;
    height: 8px;
    border-left: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    right: 16px;
    bottom: 11px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.deyibiBox {
    position: relative;
    border: 1px solid rgb(219,219,219);
    position: relative;  margin: 0 8px;  width: 70px;  height: 26px;
}

.payType .myul {
    border: 1px solid rgb(226, 226, 226);
    border-right: none;
    line-height: 42px;
    height: 42px;
    font-size: 16px;
    color: rgb(138,138,138);
}

.payStyle {
    border-right: 1px solid rgb(226, 226, 226);
    position: relative;
}

.payStyle.on:after {
    content:"";
    position: absolute;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid rgb(0,150,149);
    right: -8px;
    bottom: -2px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.marginTop40 {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}

.payBill {
    margin: 0 auto;
    position: relative;
    width: 162px;
    height: 34px;
    border: none;
    line-height: 30px;
    display: block;
    font-size: 18px;
    border-radius: 16px;
}


/* ä¸ªäººä¸­å¿ƒ */
.userLogoBox {
    height: 138px;
    padding-bottom: 20px;
    position: relative;
}

.userLogoWrap {
    width: 90px;
    height: 90px;
    border: 1px solid rgba(255,255,255,0.4);
    position: relative;
    top: 20px;
}

.userLogo {
    width: 84%;
    height: 84%;
    position: relative;
    margin: 0 auto;
    top: 6%;
    border: 2px solid;
}

.nickName {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.centerFooter {
    width: 100%;
    height: 88px;
}

.centerHav {
    padding-top: 16px;
    line-height: 24px;
    border-left:1px solid rgb(6,158,153)
}

.cHavU {
    font-size: 18px;
}

.cHavD {
    color: rgb(96,207,203);
    font-size: 12px;
}

.listMenu {
    width: 94%;
    height: 48px;
    line-height: 54px;
    border-bottom: 1px solid rgb(236,236,236);
    padding-left: 6%;
    position:relative;
    font-size: 16px;
}

.listMenu:nth-of-type(2){
    border-top:none;
}

.listMenu:after{
    content:"";
    display:block;
    width: 12px;
    height: 12px;
    border-left:1px solid;
    border-bottom:1px solid;
    transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    position:absolute;
    right: 16px;
    top: 22px;

}

/* è®¢å•åˆ—è¡¨ */

.icon-back {
    width: 14px;
    height: 14px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 16px;
    top: 14px;
}

.orderListBox {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    margin: 6px 0;
}

.orderListBox:nth-of-type(2) {
    margin-top: 11px;
}

.orderListHead {
    width: 96%;
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
}

.orderListSn {
    color: #454a4d;
}

.orderState {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 10px;
    color: #b30207;
}

.orderTime {
    color: #757575;
    margin: 6px 0;
    font-size: 12px;
}

.orderPrice {
    color: #757575;
    font-size: 12px;
}

.orderPrice span{
    color: #ff1c22;}

.orderTurnTip {
    border-width: 14px;
    right: 0;
    bottom: 10px;
}

.OCWrap {
    padding: 10px 0 0 34px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid rgb(231, 231, 231);
}

.OCIIPay {
    height: 48px;
    line-height: 48px;
    text-align: right;
    width: 98%;
    color: #363b3e;
}

.orderContentItemLogoWrap {
    width: 54px;
    height: 54px;
    border: 1px solid #9adacc;
    margin-right: 10px;
}

.orderContentItemLogo {
    width: 52px;
    height: 52px;
    position: relative;
    left: 1px;
    top: 1px;
}

.orderContentItemInfo {
    color: #2f2222;
}

.OCIIprice {
    color: #ff1c22;
}

.orderContentItem {
    margin-bottom: 6px;
}

.orderState.DONE {
    color: #000;
}

.OCIInum{
    margin: 3px 0;
}

/* æŠ½å¥–æ´»åŠ¨ */
.eventBox {
    width: 86%;
    padding: 4%;
    border: 1px solid #e7e7e7;
    margin: 10px auto;
}

.eventBox:nth-of-type(2){
    margin-top:15px;
}

.eventTitle {
    font-size: 18px;
    margin-bottom: 10px;
    color: #414141;
}

.eventTime {
    color: #b1b1b1;
    margin-bottom: 10px;
}

.eventContent {
    color: rgb(177, 177, 177);
}

.eventPic {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

/* ç§¯åˆ†å…‘æ¢ */
.jifenLogo {
    width: 88px;
    height: 90px;
    margin-right: 16px;
}

.jifenTitle {
    color: #414141;
    font-size: 18px;
}

.jifenItemLeft {
    margin: 6px 0 16px;
    font-size: 16px;
    color: #b1b1b1;
}

.needJiFen {
    font-size: 16px;
    color: #ff1c22;
}

.jifenGoods {
    position: relative;
    top: 4px;
}

/* ç¤¾åŒºä¸»é¡µ */
.bbsHeader {
    width: 100%;
    height: 120px;
    position: relative;
    
}

.bbsLogoWrap {
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 80px;
    height: 80px;
    position: relative;
    top: 20px;
    left: 16px;
}

.bbsLogo {
    width: 89%;
    height: 89%;
    border: 2px solid #fff;
    position: relative;
    top: 3%;
    left: 3%;
}

.bbsInfo {
    top: 40px;
    left: 112px;
}

.bbsName {
    font-size: 16px;
}

.bbsMoreInfo {
    font-size: 12px;
    margin-top: 8px;
    color: #009695;
}

.notice {
    height: 45px;
    line-height: 45px;
    width: 95%;
    margin: 0 auto;
    color: #2f2222;
}

.icon-notice {
	width: 24px;
	height: 30px;
	background-size: 300%;
	background-position: -9px -165px;
	position: relative;
	top: 4px;
	margin-right: 16px;
	left: 8px;
}

.notiveContent {
    width: 88%;
    overflow: hidden;
    font-size:14px;
}

.bbsHav {
    width: 93%;
    margin: 0 auto;
    padding: 6px 5px;
    height: 30px;
    font-size: 14px;
}

.bbsHavItem {
    position: relative;
    top: 0px;
    left: -12px;
    padding: 3px 0;
}

.bbsHavItem:nth-of-type(1){
   border-left:none;
}

.icon-heart {
    width: 30px;
    height: 24px;
    background-size: 200%;
    background-position: -6px -228px;
}

.icon-star {
    width: 30px; 
    height: 24px;  
    background-size: 200%;  
    background-position: -6px -200px;
}

.bbsIWrap {
    width:50%;
    margin:0 auto;
    height: 24px;
    line-height: 24px;
}

.bbsBox {
    margin-top: 6px;
    padding: 14px;
}

.bbsuserLogo {
    width: 46px;
    height: 46px;
}

.bbsUserMoreInfo {
    margin-left: 8px;
}

.bbsUserName {
    font-size: 16px;
    margin-bottom: 6px;
    color: #2f2222;
}

.bbsGrade {
    font-size: 12px;
    position: relative;
}

.icon-grade {
    width: 30px;
    height: 22px;
    background-size: 220%;
    background-position: -10px -286px;
}

.bbsBox {
  padding: 14px;
  margin: 0px auto;
  width: 87%;
  margin-top: 6px;

}

.bbsuserLogo {
    width: 46px;
    height: 46px;
}

.bbsUserMoreInfo {
    margin-left: 8px;
}

.bbsUserName {
    font-size: 16px;
    margin-bottom: 6px;
    color: #2f2222;
}

.bbsGrade {
    font-size: 12px;
    position: relative;
}

.icon-grade {
    width: 26px;
    height: 26px;
    background-size: 256%;
    background-position: -8px -672px;
    position: relative;
    bottom: 4px;
    z-index: 2;
}

.bbsGradeDetail {
    height: 17px;
    padding: 0 6px 0 14px;
    position: relative;
    top: 2px;
    right: 14px;
    z-index: 1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 12px;
    line-height: 17px
}

.bbsContent {
    color: #676767;
    margin: 10px 0;
}

.bbsPic {
    width: 180px;
    height: 110px;
    margin-bottom: 10px;
}

.bbsAction {
    width: 100%;
    height: 42px;
    position: relative;
}

.bbsBtn {
    width: 50px;
    height: 30px;
    border: 1px solid rgb(240,240,240);
    position: absolute;
    right: 0;
    top: 10px;
}

.bbsBtn1 {
    width: 55px;
    height: 30px;
    border: 1px solid rgb(240,240,240);
    display: inline-block;
    position: relative;
    margin-left: 6px;
}
.btnbox{
    width: 130px;
    margin-left: 57%;
    margin-bottom:20px;
}

.icon-like {
    width: 24px;
    height: 24px;
    background-size: 260%;
    background-position: -8px -397px;
    position: relative;
    top: 2px;
     -webkit-transition:all 0s;
    left: 10px;
}

.icon-reply {
    width: 24px; 
    height: 24px;  
    background-size: 300%;  
    background-position: -6px -484px;  
    position: relative;  
    top: 4px;
    left: 10px;
}

.bbsLike {
    right: 62px;
}
.bbsLike1 {
    right: 0px;
}

.bbsReply {
    right: 4px;
}

.bbsBtn.on {
    border-color: rgb(255,173,1);
}

.on .icon-like {
     -webkit-transition:all 0s;
    background-image: url(../img/like-on.png);
    background-size: 100%;
    background-position: 50% 50%;
}

.RPBItem {
    position: relative;
    width: 100%;
    min-height: 24px;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
}


.RPBItem1 {
    position: relative;
    width: 100%;
    min-height: 70px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.zhuanfa{
    right: 121px;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  background: url(../img/zhuanfa.png) no-repeat;
  background-size: 20px;
  background-repeat: none;
  background-position: 16px 3px;
}
.topsharebar{
  background: url(../img/zhuanfa1.png) no-repeat right center;
  background-size: 20px;
  background-repeat: none;
  background-position: 92%;
}
.reUserlogo {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.reContent {
    width: 75%;
    padding-top: 2px;
    font-size: 12px;
    color: #999;
    min-height: 36px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.reContent1 {
    width: 76%;
    padding-top: 0px;
    font-size: 12px;
    color: #999;
    min-height: 36px;
}

.delYouComment{
    width: 35px;
    color: #aaa;
    font-size: 12px;
    /* padding-top: 6px; */
    position: relative;
    z-index: 1000;
}

.replyInputBox {
    position: relative;
    margin-top: 12px;
    border-top: 1px solid #eee;
}

.reInputReply {
    width: 100%;
    padding-top: 12px;
    min-height: 24px;
}

.inputReplyBox {
    width: 80%;
    padding-left: 4px;
    border: 1px solid #eee;
    height: 32px;
}

.inputReplyBox input[type="text"] {
    border: none;
    width: 98%;
    height: 100%;
}

span.replayBtn {
    padding: 4px 14px;
    line-height: 24px;
    position: relative;
    /* top: 4px; */
    display: block;
    text-align: center;
    border: 1px solid rgb(239, 224, 224);
    border-left:none;
    font-size: 13px;
}

.postTextBox {
    position: fixed;
    width: 100%;
    height: 46px;
    bottom: 0;
    border-top: 1px solid rgb(240, 240, 240);
    color: rgb(148,148,148);
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    z-index: 9999;


}



.postTextBox span {
position: relative;
bottom: 14px;
line-height: 72px;
display: inline-block;
width: 50%;
text-align: center;
color:rgb(61, 181, 167);
}

.postTextBox span:before{
    content: "";
    display: inline-block;
    position: relative;
    top: 8px;
    left: -2%;
   
    background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 28px;
    height: 28px;
    /*position: absolute;
    top: 8px;
    left: 8px;*/
}


.postEditBox.on{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    -webkit-transition:all 0.6s;
    z-index: 99999999999999;
}
.postEditBox {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}

.PEBHead {
    width: 100%;
    height: 45px;
    /* border-bottom: 1px solid #eee; */
    line-height: 45px;
}

.PEBClose.PEBAction {
    /*border-right: 1px solid #eee;*/
    background-color: #ccc;
    color: #fff;
}

.PEBContent {
    width: 96%;
    margin: 10px auto;
    height: 260px;
    /* border: 1px solid #EEE; */
    padding: 1%;
}

.PEBContent textarea#postTie {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    line-height: 18px;
}

textarea::-webkit-input-placeholder{
    color:#ccc;
    font-size: 14px;
}
.icon-camera:before{
    content: "";
    display: inline-block;
    position: relative;
    top: 0;
    left: 4%;
   
    background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 28px;
    height: 28px;
    /*position: absolute;
    top: 8px;
    left: 8px;*/
    background-image: url(../img/camera.png);
}

.addImg {
    display: inline-block;
    position: relative;
    left: 2%;
    padding-right: 4px;
}
/* äººæ°”æ¦œ */

.rankBox {
    margin-top: 6px;
}

.rankItem {
    height: 58px;
    line-height: 58px;
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.rankItemTittle{
    height: 46px;
    line-height: 46px;
}
.rankIcon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 18px;
    margin-right: 16px;
    line-height: 22px;
    background-color: rgb(217,198,152);
    text-align: center;
    color: #fff;
}

.icon-crown {
    width: 26px;
    height: 26px;
    background-size: 260%;
    background-position: -8px -196px;
    background-color: transparent;
    position: relative;
    right: 2px;
    top: 11px;
}

.rankName {
    color: #8d8d8d;
    font-size: 16px;
    margin-right: 12px;
}

.ranNum {
    color: #8d8d8d;
    font-size: 16px;
    position: absolute;
    right: 12px;
}

.suserlogo {
    width: 46px;
    height: 46px;
    position: relative;
    top: 6px;
    margin-right: 12px;
}

.bbsInlineGrade {
    position: relative;
    top: 20px;
}

.rankItem:nth-of-type(2) .rankIcon {
    background-color: rgb(255,96,53);
}
.rankItem:nth-of-type(3) .rankIcon {
    background-color: rgb(255,140,37);
}
.rankItem:nth-of-type(4) .rankIcon {
    background-color: rgb(255,191,37);
}

/* 6 æˆ‘çš„ç¤¾åŒº */
.bbsUserInfoBox {
    padding: 22px 0 22px 20px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.bbsCenterLogoWrap {
    width: 68px;
    height: 68px;
    border: 1px solid rgba(0,151,146,.15);
}

.bbsCenterLogo {
    border: 2px solid rgba(0, 151, 146, 1);
    width: 86%;
    height: 86%;
    position: relative;
    top: 4%;
    left: 4%;
}

.bbsCenterMoreInfo {
    height: 64px;
    font-size: 16px;
    margin-left: 14px;
    position: relative;
    top: 10px;
}

.bbsUserNameEdit {
    font-size: 12px;
    text-align: center;
    width: 50px;
    height: 22px;
    line-height: 22px;
    border: 1px solid;
    color: #bfbfbf;
    position: relative;
    top: 12px;
}

/* å®˜ç½‘é¦–é¡µ */
.sliderBox {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.sliderSwrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.indexHav {
    width: 61%;
    margin: 0 auto;
    height: 42px;
    padding: 20px 0;
}

.indexHavItem {
    width: 42px;
    height: 42px;
    background-color: #5cbcbb;
    position: relative;
}



.indexMenuBox {
    width: 96%;
    margin: 0 auto 6px;
    height: 126px;
}

.flex1 {
    flex: 2;
    -webkit-flex: 2;
    -webkit-box-flex: 2;
}

.flex2 {
    flex: 3;  
    -webkit-flex: 3;  
    -webkit-box-flex: 3;
}

.greenLighterMenu {
    background-color: rgb(192,218,138);
    margin-right: 6px;
}

.greenMenu {
    background-color: rgb(160,222,211);
}

.orangeMenu {
    background-color: rgb(235,192,125);
    margin-right: 6px;
}

.redMenu {
    background-color: rgb(234,128,128);
    margin-bottom: 6px;
}

.blueMenu {
    background-color: rgb(150,229,246);
}

.sIndexMenu {
    width: 100%;
    height: 60px;
}


.textShadow {
    text-shadow: 2px 1px 2px rgba(0,0,0,.2);
}

.menuText1 {
    position: relative;
    top: 26px;
    text-align: center;
    width: 100%;
}

.menuText2 {
    position: relative;
    top: 14px;
    left: 39%;
    min-width: 58px;
}

.menuText3 {
    position: relative;
    top: -6px;
    left: 42%;
    width: 58px;
    font-size: 12px;
}
.icon-edit {
    background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 30px;
    height: 28px;
    position: absolute;
    top: 8px;
    left: 6px;
    background-image: url(../img/edit.png);
}

.icon-phone2 {
     background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 30px;
    height: 28px;
    position: absolute;
    top: 8px;
    
     left: 6px;
    background-image: url(../img/phone.png);
}

.icon-hands {
     background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 30px;
    height: 28px;
    position: absolute;
    top: 8px;
    
     left: 6px;
    background-image: url(../img/hands.png);
}

.icon-text {
    background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 46px;
    height: 40px;   
    background-image: url(../img/text.png);
    position: relative;
    top: 24px;
    left: 34%;
}

.icon-map {
   background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 46px;
    height: 40px;  
    background-image: url(../img/map.png);
   position: relative;  top: 24px;  
   left: 36%;
}

.icon-user2 {
    background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    width: 46px;
    height: 40px;  
    background-image: url(../img/user.png);
    position: relative;  
    top: 38px;  
    left: 10%;
}

.icon-shop {
    width: 30px;
    height: 30px;
   background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
     
    background-image: url(../img/shop.png);
    position: relative;  
    top: 14px;  
    left: 16%;
}

.icon-wanted {
   width: 30px;
    height: 30px;
   background-size: contain;
    background-position: 50%;
    background-repeat:no-repeat;
    background-image: url(../img/wanted.png);
   position: relative;  top: 14px;  left: 16%;
}

.logoBgTop{
    content:"";
    display: block;
    position: absolute;
    background-image: url(../img/logo-bg.png);
}
/* å…¬å¸ç®€ä»‹è¯¦æƒ… */
.companyHead {
    width: 100%;
    height: 120px;
    position: relative;
}

.logoBgBottom{
    content:"";
    display: block;
    position: absolute;
    background-image: url(../img/logo-bg.png);
}
.introductionBox {
    width: 84%;
    margin: 10px auto;
    padding: 3%;
    box-shadow: 1px 2px 2px rgba(9, 2, 4, 0.23);
}

.inHead {
    color: #029595;
    font-size: 16px;
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;
}

.inContent {
    color: #767676;
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    line-height: 20px;
}

.inForMore {
    font-size: 16px;
    height: 30px;
    line-height: 38px;
    font-weight: 500;
}

.inImg {
    width: 85%;
    height: 140px;
    margin: 0 auto;
}
.mine
.tipsBox, .tipsBoxOk {
    z-index: 999999;
    width: 140px;
    height: 120px;
    background:rgb(33,132,127);
    opacity: 0.75;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -70px;
    border-radius: 4px;
    position: fixed;
}

.tipsBox span, .tipsBoxOk span {
    display: block;
    width: 39px;
    height: 39px;
    margin: 23px auto 12px;
}

.tipsBox p, .tipsBoxOk p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.loadMore{
    width:100%;
    height:35px;
    line-height:35px;
    color:#ccc;
    font-size:14px;
    text-align:center;
    margin-top:6px;
}

.timeshows{
    height:30px;
    color:#a9a9a9;
    font-size:12px;
    line-height:52px;
}
.tipsBox, .tipsBoxOk {
    z-index: 999999;
    width: 140px;
    height: 120px;
    background:rgb(33,132,127);
    opacity: 0.75;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -70px;
    border-radius: 4px;
    position: fixed;
}

.tipsBox span, .tipsBoxOk span {
    display: block;
    width: 39px;
    height: 39px;
    margin: 23px auto 12px;
}

.tipsBox p, .tipsBoxOk p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}


/*å›¾ç‰‡ä»¥åŠåœ°ç†ä½ç½®çš„æ˜¾ç¤º*/
.showIcon{
    display: -webkit-box;
    display: flex;

}
.showIcon .smile{
    width:12%;
    height: 24px;
    background: url('../img/smiles.png') left no-repeat;
    margin-top: 9px;
    position: relative;
    background-size: 24px;
}
.huati_showIcon{
    display:none;
}
.huati_showIcon .smile{
  width: 12%;
  height: 24px;
  background: url('../img/smiles.png') left no-repeat;
  margin-top: -116px;
  position: relative;
  background-size: 24px;
  left: 55px;
}

.tiezi_showIcon{
    display:none;
}
.tiezi_showIcon .smile{
  width: 12%;
  height: 24px;
  background: url('../img/smiles.png') left no-repeat;
  margin-top: 12px;
  position: relative;
  background-size: 24px;
  left: 0px;
  margin-bottom: 8px;
}

/*è¡¨æƒ…å†…å®¹æ˜¾ç¤ºæ¡†*/
.showIcon .smile .content{
    padding-left: 4px;
    width: 747%;
    border: 1px solid #ccc;
    /* -webkit-box-shadow:2px 2px 3px #111;
    box-shadow:2px 2px 3px #111; */
    max-height: 150px; 
    position: absolute;
    bottom: 45px;
    left: -136%;
    background: #fff;
    display: none;
    overflow-y: scroll;
}
.showIcon .smile .contentreplay{
        left: 0;
}
.showIcon .local{
    width: 60%;
    height:24px;
    background: url('../img/position.png') left no-repeat;
    margin-top: 9px;
    padding-left: 30px;
    color: #969696;
    font-size: 12px;
    line-height: 24px;
    background-size: 15px;
}

.content img {
    margin-left: 6px;
    margin-top: 1px;
}

.postAddress{
    font-size: 10px;
    color: #ccc;
    background: url('../img/position.png') left no-repeat;
    background-size:6px;
    width: 98%;
    margin: 2px auto;
    padding-left: 15px;
}

div.likeCount {
    position: absolute;
    right: 12px;
    top: 6px;
    color: #999;
}

.on div.likeCount {
    position: absolute;
    right: 8px;
    top: 6px;
    color: #FFAD01;
}

div#replyCount {
    position: absolute;
    right: 9px;
    top: 6px;
    color: #999;
}

/*æŸ¥çœ‹æ›´å¤š*/
.lookUpMore{
    height: 35px;
    line-height: 35px;
    background: #fff;
    color: #aaa !important;
    text-align: center;
    font-size: 14px;
    display: block;
}

/*åˆ é™¤è‡ªå·±çš„å¸–å­*/
.deletes{
    width: 50%;
    text-align: right;
    margin-right:10px;
}
.deletes a{
    color: #aaa;
    font-size: 12px;
}

/*ä¿®æ”¹å­—ä½“é¢œè‰²å’Œå¤§å°*/
.fixColor{
    color: #656565;
    font-size: 10px;
}

/*æ³¨æ„ä¿®æ”¹*/
.notices{
    padding: 10px 20px;
    line-height: 22px;
    text-indent: 2em;
}
.topic_new{
	width: 50px;
	height: 25px;
	background-color: rgb(239, 23, 23);
	/* position: relative; */
	left: 87%;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	color: rgb(255,255,255);
	top: -13px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
}
.bbsMoreInfo span:nth-of-type(2){
    display: block;
}
.icon-huati{
  width:22px;
  height:22px;
  background-image: url(../img/huati.png);
  background-size:22px;
  background-repeat: none;
  position:relative;
  top:2px;
  right:2px;
}
.topic_shap{
    color:rgb(16, 183, 197);
}
.topic_title{
    width: 96%;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.topic_title input{
height: 35px;
width: 100%;
border: none;
font-size: 12px;
padding-left: 2px;
}
.shaixuan_box{
    width: 97%;
    height: 40px;
    line-height: 40px;
    background:rgb(198, 236, 227);
    margin: 5px auto;
    border-radius: 5px;
}
.shaixuan_box a{
    width: 50%;
    display: inline-block;
    text-align: center;
    color: rgb(255,255,255);
    float: left;
}
.shaixuan_box .a_on {
    color:rgb(18, 139, 139);
}
.nickname{
    color:rgb(49, 144, 157);
}

.jisuanBox{
  width: 100px;
  height: 20px;
  float: right;
  color: red;
}
.jisuanBox span{
  display:inline-block;
  width:20px;
  height:20px;
}

.jisuanBox .circle{
  border:1px solid red;
  text-align: center;
}
.jisuanBox .circle .add{
    line-height: 19px;
}
.jisuanBox .circle.add,
.jisuanBox .circle.sub { border-radius: 0;  background-color: rgb(94, 177, 56);
 border: 0;  color: #FFF;  font-size: 26px; }
 .jisuanBox .circle.add{
    float: right;
 }
.jisuanBox.order { border: 1px solid rgb(94, 177, 56); width: 71px; line-height: 19px; }
.jisuanBox .countBuy { color: #000; position: relative; top: -3px; left: 4px;
 }
.msgnum{
  float: right;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  color: white;
  background: rgb(245, 59, 59);
  border-radius: 50%;
  line-height: 22px;
  text-align: center;
  position: relative;
  top: 18px;
}
