/* 
* @Author: Administrator
* @Date:   2015-08-28 11:26:45
* @Last Modified by:   Administrator
* @Last Modified time: 2015-08-28 15:10:17
*/
.main{
	position: absolute;
	top: calc(50% - 30.8%);
	text-align: center;
	color: #7f7f7f;
	font-size: 12px;
}
.main-p{
	/* border: 5px solid #DCDCDC; */
	/* padding: 2%; */
	/* margin: 2%; */
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	/* padding: 5%; */
}
.main li{
	width: 41%;
	display: inline-block;
	margin:10px;
	font-size: 0;
}
p {
	font-size: 12px;
	margin-top: -8px;
}