/* 
* @Author: 星辉
* @Date:   2014-12-25 11:35:09
* @Last Modified by:   星辉
* @Last Modified time: 2014-12-25 11:58:59
*/
.AllSliderBox {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.AllSliderBoxSwrap {
    width: 100%;
    height: 100%;
}

.ASilder {
    width: 100%;
    height: 100%;
}

#wrap {
	position:relative;	/* needed */
	z-index:1;			/* needed and important */
	height:500px;		/* needed */
	overflow:hidden;	/* suggested */
}

#scroller,#scroller2 {
	position:absolute;	/* optional. Seems to work with absolute, relative and without it */
	top:0;				/* optional */
	padding:10px;
	background:#eee;
}