*{
    padding:0;
    margin:0;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    /*transition:all 0.2s;*/
    /*transition-timing-function:ease-out;*/
    /* Firefox 4 */
    /*-moz-transition:all 0.2s;*/
    /*-moz-transition-timing-function:ease-out;*/
    /* Safari and Chrome */
    /*
    -webkit-transition:all 0.2s;
    -webkit-transition-timing-function:ease-out;
    */
    /* Opera */
    /*-o-transition:all 0.2s;*/
    /*-o-transition-timing-function:ease-out;*/
    font-family:Helvetica, "微软雅黑", Verdana;
    -webkit-text-size-adjust:none; }
*:focus{
    outline:none;}
body{
    height:100%;
    width:100%;
    overflow:scroll;
    margin: 0;
    padding: 0;
}
.main.Introduce {
    padding:  0px 5px;
    padding-bottom: 50px; 
    width: 97%;
    z-index: 999;
}
.main{
    width:100%;
    background-size:100%;
    position: absolute;

}
.main-page{
    position:absolute;
    height:100%;
    width:100%;
    background-image:url(../img/bg.jpg);
    background-size:100%;
}
.logobox{
    width: 100%;
    height: 50%;
    /*border:1px solid red;*/
    position: fixed;
    top: 0%;
}
.logo {
    height: 200px;
    width: 200px;
    /* border: 1px solid;*/
    position: relative;
    margin: 0 auto;
    top: 20%;
    background-image:url(../img/logo.png);
    background-size:100%;
}
.myul{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;  }
.myli{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex:1; 
    }
.hav.myul {
    position: relative;
    top: 68% !important;
}
.item-logo{
    border-radius: 50%;
}
.l{
    width: 70px;
    height: 70px;
    margin:0 auto;
}
.m{
    width: 54px;
    height: 54px;
    position: relative;
    top: 7px;
    left: 7px;
}
.s{
    width: 46px;
    height: 46px;
    position: relative;
    top: 4px;
    left: 4px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    font-size: 13px;
}
.a{
    border: 1px solid rgba(241,25,64,0.08);    
    }

.b {
    border:1px solid rgba(241,25,64,0);  
    background: rgba(241,25,64,0.25);
}

.c {
    background: rgba(241,25,64,1);
}
.d{
    border: 1px solid rgba(255,143,0,0.15);
}

.e {
    border:1px solid rgba(255,143,0,0);
    background: rgba(255,143,0,0.4);
}

.f {

    background: rgba(255,143,0,0.8);

}
.s div {
    position: relative;
    top: 10px;
    /* left: 9px; */

    /* border: 1px solid; */
    color:#fff;
    width: 46px;
    text-align: center;
}

.hav-name {
    text-align: center;
    margin-top: 5px;
    color:#7f7f7f;
    font-size: 12px;
}
.item {
    margin: 0px 4px;
    width: 30%;
}
.item.itemBtn { width: 23%; }
.hav.myul { max-width: 98%; }
.havbox {
    width: 100%;
    /*height: 50%;*/
    position: fixed;
    bottom: 6%;
    z-index: 99999;
}

.hav {
    /* border: 1px solid; */
    max-width: 90%;
    margin: 0 auto;
}
.listbox {
    width: 100%;
    /*height: 75%;*/
    position: relative;
    top: -5px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.listpic {
    width: 75%;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 10%;
    background-color:#f8f8f8;
}

.listtitlebox {
    position: relative;
    top: 15%;
    width: 76%;
    min-height: 43px;
    /* border: 1px solid; */
    margin: 0 auto;
    margin-top: 10px;
}

.listtitlebox.myul {}

.dd {
    font-size: 20px;
    text-align: center;
    color: #9EBF26;
}

.mmyy {
    font-size: 9px !important;
    /* letter-spacing: -1px; */
    color: #c3c3c3;
}

.date {
}

.title {
    font-size: 14px;
    width: 91%;
    background-color: #9EBF26;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    position: relative;
    /*   top: 10%;
      left: 7%; */
}
.ieat.title:before{
/*
    content: "";
    border-right: 5px solid #9EBF26;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
    position: absolute;
    left: -4px;
    top:4px;
*/
}
.titlebox {
    width: 100%;
    /*height: 100%;*/
    /* border: 1px solid red; */
    overflow: visible;
    margin-left: 4px;
    margin-top: 0px;
    position: relative;
}

.arrow {
    border-right: 6px solid #9EBF26;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
    width: 0px;
    height: 0px;
    position: relative;
    left: 3%;
    top: 26%;
}
.opacity{
    //opacity:0.5 !important;
}

.shop.listtitlebox {
    width: 58%;
}

.shop.titlebox {
    width: 100%;
}

.shop.title:before{
    content: "";
    border-bottom: 5px solid #00C3FF;

    border-right: 5px solid rgba(0, 0, 0, 0);

    border-left: 5px solid rgba(0, 0, 0, 0);
    position: absolute;
    left: 3px;
    top: -3px;
}

.listCircle {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0,195,255,0.3);
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
}

.IntroduceHead {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

.listCircle div {
    width: 12px;
    height: 12px;
    background-color: rgb(0,195,255);
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
}

.IntroduceHead span {
    color: #666;
    margin-left: 5px;
}

.IntroduceContent {
    width: 100%;
    border: 1px solid;
    height: 250px;
}
span.smallText {
    display: inline-block;
    text-align: center;
    font-size: 9px !important;
    overflow: visible;
    width: 50px;
    position: absolute;
    left: -2px;
    line-height: 70px;
}
.havbox.wenjuan {
    position: relative;
    height: 10%;
    bottom: 10px;
    margin-top: 10%;
}
.havbox.square {
    bottom: 10px;
    margin-top: 10%;
}
.WenJuanBox {
    width: 100%;
    margin-top: 35px;
    border-top: 1px solid rgb(38,204,255);
}

.WenJuanBoxHead {
    width: 60%;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(38,204,255);
    color: #fff;
    border-radius: 25px;
    position: relative;
    bottom: 20.5px;
    line-height: 39px;
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,1);
    overflow: hidden;
}

.WenJuanHeadText {
    position: absolute;
    right: 0px;
    width: 80%;
    border-left: 1px rgba(255,255,255,0.35);
    border-left-style: solid;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
}

.WenJuanNum {
    width: 23%;
    text-align: center;
}
.main.wenjuan {
    position: relative;
}

.havbox.wenjuan .hav {
    top: 0px !important;
}

.WenJuanBoxContent {
    /*background-color: rgba(38,204,255,0.5);*/
    width: 100%;
    margin: 0 auto;
    margin-top: -15px;
}
.TITile {
    width: 43%;
    text-align: right;
    white-space: nowrap;
}

.WJBCTextItem {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    line-height: 32px;
    border-top: 1px solid rgba(38,204,255,0.1);
    padding-top: 15px;
}

.WJBResultGood {
    width: 20%;
    margin-left: 5%;
    text-align: center;
}

.WJBResultBad {
    width: 20%;  margin-left: 5%;
    text-align: center;
}

.WJBCTextItem .On {
    border: 1px solid rgba(38,204,255,0.65);
}
.DescribeText {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-top: 5%;
}
.red{
    border-color: rgb(237,123,96);
    background-color:rgb(237,123,96);
}
.yellow{
    border-color: rgb(235,197,54);
    background-color:rgb(235,197,54);
}
.blue{
    border-color: rgb(61,189,238);
    background-color: rgb(61,189,238);
}
.purple{
    border-color: rgb(188,141,237);
    background-color: rgb(188,141,237);
}
.ItemName {
    width: 35px;
    height: 35px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    color: #000;
    background-color: #fff;
    z-index: 999;
    position: absolute;
}

.Result {
    width: 40%;
    height: 10px;
    background-color: rgb(219,247,255);
    top: 16px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.ZhuGuanItem {
    width: 90%;
    height: 40px;
    margin: 15px auto;
}

.Bad .Count {
    position: absolute;
    height: 100%;
    right: 0px;
}
.Good .Count {
    position: absolute;
    left: 0px;
    height: 100%;
}

.Good.Result {
    left: 42px;







}

.Bad.Result {
    left: 1px;
}
.WTItem {
    width: 100%;
    position: relative;
    margin: 15% 0;
}

.WTCircle {
    width: 260px;
    height: 260px;
    margin: 0 auto;
    border: 1px solid rgba(38,204,255,0.8);
    border-radius: 50%;
    margin-top: 10px;
}

.WTSelector {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}
.WTDescrib {
    background-color: rgb(1,195,255);
    color: rgba(255,255,255,0.9);
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
    padding: 1% 4%;
    padding-top: 0;
    border-radius: 10px;
    margin-top: 10px;
    line-height: 23px;
}

.WTDescrib:before {
    content:'';
    display: block;
    position: relative;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(1,195,255);
    bottom: 7px;
}

.WTGood {
    width: 50%;
    border-right: 1px solid rgb(38,204,255);
}

.WTBad {
    width: 50%;
}
.WTSelect.WTG {
    margin-right: 4%;
}
.WTCircle div {
    background-position: 50%;
    background-repeat: no-repeat;
    /*  background-size: contain;*/
}
.WJPost {
    text-align: center;
    width: 100%;
    font-weight: 600;
}
.R.ItemName {
    position: relative; 
    margin: 0 20px;
/*
    margin: 0 14%;
*/
}

.R.ZhuGuanItem {
    width: 65%;
    padding-left: 20%;
}

.CheckBox {
    position: relative;
    top: 15px;
}
.main.ShenQing {
    position: relative;
    padding-top: 10%;
}

.main.ShenQing .myul {
    width: 80%;
    min-height: 40px;
    margin: 15px auto;
    position: relative;
}

.InputBox {
    right: 0;
    width: 80%;
    /*height: 100%;*/
    border: 1px solid rgb(188,141,237);
    background-color: #fff;
    border-radius: 7px;
}
.InputBox:before {
    content:"";
    display:block;
    width: 10px;
    height: 10px;
    left: -6px;
    top: 14px;
    position:absolute;
    border-left:1px solid rgb(188,141,237);
    border-top:1px solid rgb(188,141,237);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #fff;
}
.lableIcon {
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 4px;
}

.InputBox input[type="text"] ,
.InputBox input[type="tel"] {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    position: absolute;
    right: 0;
}
.iconBox {
    /* border: 1px solid; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../img/icon-shenqing.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    line-height: 31px;
}
.ShenQing .myul:nth-of-type(2) .iconBox {
    background-position: 0 17%;
}

.ShenQing .myul:nth-of-type(3) .iconBox {
    background-position: 0 33%;
}

.ShenQing .myul:nth-of-type(4) .iconBox {
    background-position: 0 50%;
}

.ShenQing .myul:nth-of-type(5) .iconBox {
    background-position: 0 67%;
}

.ShenQing .myul:nth-of-type(6) .iconBox {
    background-position: 0 84%;
}

.ShenQing .myul:nth-of-type(7) .iconBox {
    background-position: 0 100%;
}
.InputBox textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    position: absolute;
    right: 0;
}

.ShenqingJiaru {
    width: 70%;
    position: relative;
    text-align: center;
    margin: 15px auto;
    padding-bottom: 100px;
}

.lcirle {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(188,141,237,0.4);
    border-radius: 50%;
    position: relative;
    top: 34px;
    margin-left: 10px;
}

.bcirle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgba(188,141,237,0.4);
    position: relative;
    top: 29px;
    margin-left: 10px;
}

.ShenqingJiaru .item {
    text-align: center;
}

.ShenqingJiaru span.smallText {
    /* display: inherit; */
    width: 63px;
    top: 67px;
    color: rgb(211,211,211);
}

.ShenqingJiaru .item {
    margin-right: 19px;
}
.ShenqingJiaru .item-logo.m.e {
    border: 1px solid rgb(188,141,237);
    background-color: rgba(188,141,237,0);
}

.ShenqingJiaru .item-logo.l.d {
    border: 1px solid rgba(188,141,237,0.4);
}
.PicBox {
    width: 100%;
    position: relative;
    height: 230px;
    background-color: #468;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /*box-shadow: 0px 1px 5px rgb(0,0,0);*/
}

.ItemBox {
    position: relative;
    width: 100%;
    border-bottom: 2px solid rgb(217,56,6);
}

.DetailItem {
    width: 100%;
    min-height: 25px;
    border-top: 1px solid #b1b1b1;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.PriceBox {
    width: 65%;
    height: 100%;
    position: absolute;
    top: 2px;
}

.PriceNow {
    width: 80px;
    color: rgb(217,56,6);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-left: 5px;
    margin-right: 3px;
}

.OldPrice {
    min-width: 20px;
    color: rgb(194,194,194);
    font-size: 14px;  text-align: center;
    line-height: 55px;
    text-decoration: line-through;
}

.RMB:before {
    content: "¥";
}

.getIt {
    height: 47%;
    font-size: 20px;
    color: rgb(73,50,0);
    font-weight: 600;
    /* line-height: 52px; */
    border-left: 1px solid #c8c7b3;
    position: absolute;
    top: 15px;
    text-align: center;
    width: 35%;
    right: 0;
}

.noborder {
    border: none;
}

.titleblack {
    color: rgb(37,37,37);
}

.ItemBox .titleblack.title {
    background: none;
    font-size: 20px;
    font-weight: 600;
    width: 90%;
}
.contentgray.content {
    width: 95%;
    margin: 0 auto;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 5px;
}

.contentgray {
    color: rgb(124,124,124) ;
}

.inItem {
    width: 70%;
    position: relative;
    margin: 8px auto;
    height: 13px;
    font-size: 14px;
}

.iblue {
    color: rgb(0,195,255);
}

.inItem .Ia {
    width: 60%;
    margin-right: -40px;
}

.inItem .Ia:nth-child(2) {
    position: absolute;
    right: 0;
}

.DetailItem .inItem:first-child {
    margin-top: 12px;
}
.inItemb {
    width: 70%;
    line-height: 30px;
    padding-left: 10px;
    font-size: 12px;
    text-decoration:none;
}

.inItem.map {
    width: 70px;
    border: 4px solid #fff;
    height: 60px;
    position: absolute;
    right: 6%;
    top: 19px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.inItemb .Ib:first-child {
    font-size: 14px;
}
.Ib a:link {
    text-decoration:none;
    color: rgb(124,124,124) ;}
.Ib a:visited {
    text-decoration:none;
    color: rgb(124,124,124) ;}
.Ib a:hover {
    text-decoration:none;
    color: rgb(124,124,124) ;}
.Ib a:active {
    text-decoration:none;
    color: rgb(124,124,124) ;}
.title.ieatXianGou:before {
    content: "";
    border-bottom: 6px solid;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: 100%;
}
.square .listpic {
    width: 80%;
    height: 80%;
    border-radius: 0;
}
.titletext {
    color: white;
}
.iGreen{
    color:rgb(88,212,184) !important;
    background-color:rgb(88,212,184) !important;
}
.top {
    width: 95%;
    height: 35px;
    position: fixed;
    border-bottom: 1px solid rgb(178,178,178);
    color: rgb(167,167,167);
    padding-left: 5%;
    font-size: 20px;
    margin: 10px 0;
    margin-top: 0;
    background-color: #fff;
    z-index: 999;
    line-height: 35px;
}



.main.member {
    top: 5%;
}

.havbox.member {
    /* bottom: 0%; */
}
.Home {
    position: fixed;
    top: -25px;
    margin-left: 40%;
    z-index: 9999;
}

.c3 {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255,143,0,1);
    border-radius: 50%;
    background-position: 0 15px;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
}

.c2 {
    width: 52px;
    height: 52px;
    border: 4px solid rgba(255,143,0,0.3);
    border-radius: 50%;
    top: 6px;
    left: 6px;
    position: relative;
}

.c1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(255,143,0,0.1);
    margin: 0 auto;
    position: relative;
}
.main.liuYan {
    top: 6%;
}
.liuYan .listpic {
    width: 240px;
    height: 240px;
    left: 40px;
    top: 15%;
}
.liuYanLogo {
    width: 74px;
    height: 74px;
    border: 6px solid #fff;
    border-radius: 50%;
    top: 65%;
    position: absolute;
    right: 0;


    background-color: bisque;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.liuYanTimeLine {
    position: absolute;
    /* border: 1px solid; */
    top: 35%;
    left: 7%;
    width: 55px;
}

.LYTime {
    width: 31px;
    height: 30px;
    position: relative;
    overflow-wrap: break-word;
    font-size: 12px;
}

.Tcircle {
    width: 20px;
    height: 20px;
    background-color: rgb(141,195,100);
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
}

.InTcircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 4px;
    left: 4px;
}
.Tcircle:after {
    content:"";

    display: inline-block;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid rgb(141,195,100);
    position: absolute;
    right: -4px;
    top: 3px;
}

.liuYan .listtitlebox {
    left: 8%;
    width: 68%;
    min-height: 50px;
    top: 20%;
}
.shuLine {
    position: fixed;
    width: 48px;
    height: 100%;
    top: -10px;
    border-right: 2px solid rgb(141,195,100);  left: 0px;
}
.mainBox {
    width: 100%;
    /* min-height: 200px; */
    /**/

    position: absolute;
    height: 100%;
    /* overflow:hidden; */
}

.mainBoxSwrap,.sliderBoxSwrap{
    width: 100%;
    /* min-height: 200px; */

    height: 100%;
}
.sliderBox {
    width: 85%;
    /* min-height: 200px; */

    position: absolute;

    border: 1px solid red;
    margin: 0px auto;
    overflow: scroll;
    height: 100%;
}
.inslider,.inslider2 {
    width: 100%;
    height: 100%;
    background-color: #951;
}
.slider {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /* background-color: red; */

    position: relative;
    display: none;
}
.slider.on{
    display: block;
}
.slider.page2{
    position: absolute;
    right: -100%;
}
.hide{
    display: none;
}
span.icon {
    font-size: 22px;
    line-height: 42px;
}

span.icon.icon-chacha {
    font-size: 26px;
}
.s.f span.icon {
    line-height: 32px;
}

span.icon.icon-youhui {
    font-size: 30px;
}
span.icon.iconplus {
    font-size: 60px;
    line-height: 45px;
    color: rgb(234,134,255);
}
.camera{
    background-image: url("../img/camera.png");
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#fff !important;
    border:0 !important;
}

.camera.circulPub { border-radius: 240px; height: 240px; width: 240px; color: #FFF; top: -20px; position: relative; }
.camera.circulPubIcon { background-color: transparent; }

/*
  .confirmIcon { background: url('../img/confirm_icon.png') -13px -11px no-repeat;   width: 54px; height: 51px; display: inline-block; }
  .confirmIcon.iConName { background-position:  -13px -11px; }
  .confirmIcon.iConTel { background-position:  -12px -90px; }
  .confirmIcon.iConAddress { background-position:  -12px -169px; }
*/
  .GoodsCtrlDec { background-image: url('../img/iconDec.png'); display: inline-block; width: 22px; height: 22px; }
  .GoodsCtrlInc { background-image: url('../img/iconInc.png');   display: inline-block; width: 22px; height: 22px; }
