@CHARSET "UTF-8";
.customers{
    display:none;
    position:fixed;
    z-index:2000;
    background:#000;
    opacity:0.6;
    top:-126px
    }
.c_detail{
    display:none;
    width:800px;
    height:330px;
    border-radius:0px;
    z-index:3000;
    background:#ddd;
    position:fixed;
    }
.c_detail a:hover{
    background:url('../img/bg_css3.png') 0 -93px no-repeat;
    }
.c_detail a:link{
    position:absolute;
    top:7px;
    right:5px;
    width:22px;
    height:22px;
    background:url('../img/bg_css3.png') 0 -72px no-repeat;
    }
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    