
/* @Author: zhang
* @Date:   2015-04-13 17:35:14
* @Last Modified by:   zhang
* @Last Modified time: 2015-04-21 16:46:53
*/

*,img,a{
	padding: 0;
	margin:0;
	text-decoration: none;
	border: 0;
	font-family: "微软雅黑","STHeitiTC-Medium",Verdana,Helvetica;
	list-style: none;
	/*color: #fff;*/
}
*:focus{
	outline: none;
}
.bodys{
	background: #e6e6e6;
	text-align: center;
}
/*
	头部蓝色
 */

.header-blue{
    background:#0BA7FE;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    position: relative;
    color: #fff;
}
/*出境特价游*/
/*左边侧边栏*/
.wrap-lan{
	position: absolute;
    left: 10%;
    width: 8%;
    top: 0;
    height: 50px;
}
.left-lan{
	position: absolute;
    left: 0px;
    width: 75%;
    top: 17px;
    border-top: 3px solid #fff;
}
.left-lan:nth-of-type(2){
   top: 24px;
}
.left-lan:nth-of-type(3){
   top: 31px;
}
/*主题内容*/
.article{
	padding-bottom: 20px;
}
.wraps{
	width:93%;
	margin: 0 auto;
	padding-top: 10px;
}
.wraps a{
	display: block;
}
.wraps a:nth-of-type(2n) li{
	float: right;
	width: 48%;
	background: #fff;
	margin-top: 10px;
}
.wraps a:nth-of-type(2n+1) li{
	float: left;
	width: 48%;
	background: #fff;
	margin-top: 10px;
}

.wraps a li img{
    height: 90px;
	margin-top: 5%;
	width: 90%;
}
/*旅游标题*/
.wraps a li .title{
    display: block;
    height: 55px;
    overflow: hidden;
	color: #7e7e7e;
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-size: 16px;
	line-height: 27px;
	font-weight: 500;
	margin-top: 3px;
}
/*灰色的线条*/
.gray-line{
	width: 93%;
	border-top: 1px solid #e4e4e4;
	margin: 0 auto;
	margin-top: 10px;
}
/*价格*/
.price{
	color: #ea7375;
	text-align: left;
	width: 90%;
	text-indent: 7px;
	margin-top: 8px;
	padding-bottom: 8px;
}
.price:before{
    content: "￥";
    color: #ea7375;
}

/*我的订单*/
/*返回箭头*/
.wrap-lan .arrow{
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
	width: 15px;
	height: 15px;
	margin-top: 17px;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.order-wraps{
	width: 100%;
}
.order-wraps li{
	width: 100% !important;
	margin: 0 auto;
	background: #fff;
	margin-top: 10px
}
.order-wraps li:nth-of-type(1){
	margin-top: 0;
}
.order-wraps li .title{
	display: flex;
	display: -webkit-box;
	width: 90%;
	margin: 0 auto;
}
.order-wraps li .title .order-no{
	color: #7e7e7e;
	display: block;
	text-align: left;
	width: 80%;
	padding-top: 10px;
}
.order-wraps li .title .absort{
	width: 20%;
	text-align: right;
	display: block;
	padding-top: 10px;
}
.order-wraps li .title .absort a{
	color: #F88F96;
	display: inline !important;
}
.order-wraps li .order-body{
	display: flex;
	display: -webkit-box;
	width: 90%;
	margin:20px auto 0;
	padding-bottom: 20px;
}
.order-wraps li .order-body .left,.order-wraps li .order-body .right{
	width: 50%;
}
.order-wraps li .order-body .left img{
	width: 100%;
}
.order-wraps li .order-body .right .title{
	text-align: left;
	color: #6d6d6d;
	font-size: 14px;
}
.order-wraps li .order-body .right .date,.order-wraps li .order-body .right .prices{
	text-align: left;
	font-size: 12px;
	color: #b3b3b3;
	margin: 0 auto;
	width: 90%;
	margin-top: 4%;
}
.order-wraps li .order-body .right .prices .prices:before{
    content: "￥";
    color: #e24c67;
}
.order-wraps li .order-body .right .prices .prices{
	color: #e24c67;
}

/*滑动轮播样式*/
.scrollImg{
	position:relative;
	display:block;
	width:100%;
	height:240px;

}
#iSlider-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
}

#iSlider-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
#iSlider-wrapper li {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	list-style: none;
}
#iSlider-wrapper li  img{
	max-width: 100%;
	max-height: 100%;
}

/*下面显示文字以及说明的地方*/
.contentShow{
	color: #030303;
	text-align: left;
	width: 90%;
	margin: 10px auto;
	font-size: 15px;
	line-height: 22px;
}

/*会员价格*/
.vipprice{
	margin: 5px auto;
	width: 90%;
	text-align: left;
}
.vipprice span:nth-of-type(1),.vipprice span:nth-of-type(3){
	color: #8f8f8f;
	font-size: 15px;
}
.vipprice span:nth-of-type(2){
	color: #db6d2e;
	font-size: 20px;
}
.vipprice span:nth-of-type(2):before{
	content: "￥";
	color: #db6d2e;
}

/*畅游价*/
.travel{
	text-align: left;
	width: 90%;
	margin: 5px auto;
	display: flex;
	display: -webkit-box;
	color: #8f8f8f;
}
.travel .trvalPrice:nth-of-type(1){
	font-size: 14px;
	width: 60%;
	display: block;
	text-align: left;
}
.travel .trvalPrice:nth-of-type(2){
	font-size: 14px;
	width: 40%;
	text-align: right;
	display: block;
}
.travel .trvalPrice:nth-of-type(2) a{
	color: #07a2f4;
}
.travel .trvalPrice span:nth-of-type(2){
	text-decoration: line-through;
}
.travel .trvalPrice span:nth-of-type(2):before{
	content: "￥";
}
/*出发地*/
.goWhere{
	color: #5c5c5c;
	text-align: left;
	/*font-size: 20px;*/
	width:90%;
	margin: 20px auto;
}
.whereGo{
	background: #75d395;
	padding: 5px 20px;
	-webkit-border-top-left-radius: 60px;
	-webkit-border-top-right-radius: 60px;
	-webkit-border-bottom-left-radius: 60px;
	-webkit-border-bottom-right-radius: 60px;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	color: #fff;
}
.aim{
	background: #f99e1c;
}

/*外部包裹的*/
#wrap{
	background: #fff;
	padding: 10px 0;
	border-bottom: 1px solid #d8d8d8;
}

/*线路特色*/
.road-line{
	width: 90%;
	background: #fff;
	margin: 10px auto;
	border-radius:4px;
	-webkit-border-radius:4px;
	border: 1px solid #c6c6c6;
	padding: 10px;
	color: #000;
	text-align: left;
}
/*存放图片*/
.saveImg{
	width: 30px;
	height: 30px;
	background: #76c26a;
	border-radius:50%;
	-webkit-border-radius:50%;
	text-align:center;
}
.road-line .title{
	display: flex;
	display: -webkit-box;
}
.saveImg img{
	width: 60%;
	margin-top: 27%;
}
.roadColor{
	font-size: 20px;
	color: #000;
	margin-left: 10px;
	margin-top: 3px
}
/*线路说明简介*/
.road-line p{
	color: #777777;
	font-size: 14px;
	text-align: left;
	width: 90%;
	margin: 0 auto;
	line-height: 24px;
	text-indent: 10px;
	margin-top: 10px;
}
.jiage > p{
    width: 100%;
}
.road-line .gray-line{
	width: 100%;
}
.register{
	width: 100%;
	min-height: 60px;
	background: rgba(0,0,0,0.7);
	position: fixed;
	bottom: 0;
}
.register .submit{
	width: 90%;
	margin: 0 auto;
	display: flex;
	display: -webkit-box;
}
.register .submit .left{
	width: 45%;
	background: #0ba7fe;
	color: #fff;
	height: 40px;
	line-height: 40px;
	border-radius:3px;
	-webkit-border-radius:3px;
	margin-top: 10px;
	display: block;
}
.register .submit .middle{
	width: 10%;
}
.register .submit .right{
	width: 45%;
	background: #ff3f3e;
	color: #fff;
	height: 40px;
	line-height: 40px;
	border-radius:3px;
	-webkit-border-radius:3px;
	margin-top: 10px;
	display: block;
}
.precent-90{
	width: 90%;
	margin: 0 auto;
}
/*预定*/
.productInfo{
	color: #2c2c2c;
	font-size: 16px;
	margin-top: 20px;
	text-align: left;
}
.productInfo .title{
	text-align: left;

}
.productInfo-block{
	background: #fff;
	border: 1px solid #dadada;
	color: #000;
	margin-top: 10px;
}
.productInfo-block-block{
	width: 90%;
	margin: 10px auto;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	/*position: relative;*/
}
/* .productInfo-block-block:after{
    content: "";
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:10px solid #00a1ec;
} */
/*选择日期*/
.selectedDate{
	width: 100%;
	text-align: left;
	color: #aeaeae;
	font-size: 14px;
	position: relative;
}
.selectedDate .tangle,.tangle{
	position: absolute;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:10px solid #00a1ec;
    right: 0;
    bottom: 8px;
    z-index: 1;
}

/*选择人数*/

/*三角形*/
/* .tangle{
    width: 4px;
    height: 4px;
    background: #00a1ec;
}*/
#man{
	display: -webkit-box;
	display: flex;
}
#man .left{
	width: 48%;
	position: relative;
}
.tourist1,.tourist2{
	position: relative;
}
#man .showDDL,.tourist1 .showDDL,.tourist2 .showDDL{
	background: #fff;
	border: 1px solid #dadada;
	position: absolute;
	top: 50px;
	width: 100%;
	right: -1px;
	display: none;
	z-index: 1000;
	max-height: 150px;
    overflow-y: scroll;
}
#man .showDDL div,.tourist1 .showDDL div,.tourist2 .showDDL div{
	border-top: 1px solid #dadada;
	padding: 5px;
}
#man .showDDL div:nth-of-type(1),.tourist1 .showDDL div:nth-of-type(1),.tourist2 .showDDL div:nth-of-type(1){
	border:none;
}
#man .middle{
	width: 4%;
}
#man .right{
	width: 48%;
	position: relative;
}
.choiceChildren .lefts{
	width: 100%;
}

.choiceChildren .rights{
    width: 100%;
}
.limitWidth{
	width: 45%;
}
/*输入框*/
input[type='text']{
	width: 100%;
	border: 0;
	height: 27px;
}
/*支付按钮*/
.alipay{
	margin: 30px auto 10px;
	width: 30%;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #0ba7fe;
	-webkit-border-top-left-radius: 60px;
	-webkit-border-top-right-radius: 60px;
	-webkit-border-bottom-left-radius: 60px;
	-webkit-border-bottom-right-radius: 60px;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	font-size: 18px;
	text-align: center;
}

/*出境特价游左侧栏*/
#showLeftLan{
	position: absolute;
	z-index: 2000;
	width: 60%;
	min-height: 100%;
	background: #383e56;
	left: -60%;
}

/*出境特价游右侧栏*/
#rightBody{
	position: relative;
	left: 0;
}
#wrapBody{
	width: 100%;
	overflow-x:hidden;
}
#showLeftLan{
	box-shadow: inset -3px 0 3px #26262e;
	-webkit-box-shadow: inset -3px 0 3px #26262e;
}
#showLeftLan .choiceZone{
    color: #fff;
    font-size: 14px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: rgba(255,255,255,0.1);
}

#showLeftLan .zone{
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: left;
    display: flex;
    display: -webkit-box;
}
#showLeftLan .zone .left{
	width: 90%;
	text-indent: 1.5em;
}
#showLeftLan .zone .right{
	font-size: 15px;
}

/*减号*/
.symbol{
	border-top:1px solid #fff;
	width: 10px;
	margin-top: 19px;
}
/*加号*/
.symbolAdd:after{
	content: "+";
	color: #fff;
}
/*展示列表*/
.list{
	background: rgba(255,255,255,0.1);
	color: #06aaf1;
	font-size: 13px;
}
.list li{
	height: 40px;
	line-height: 40px;
	text-align: left;
	text-indent: 1.5em;
}

/*出境特价游其二*/
.zoneLinks{

}
.zoneLinks ol{
    display: flex;
    display: -webkit-box;
}
.zoneLinks ol li{
    width: 20%;
    color: #373737;
    background: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
}
.zoneLinks ol li:after{
    content: "";
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:6px solid #afafaf;
    position: relative;
    top: 12px;
    left: 2px;
}
/*地区列表*/
.zoneLinks ul{
	 display: flex;
     display: -webkit-box;
     width: 100%;
     margin-top: 6px;
}
.zoneLinks ul li{
	width:20%;
	color: #fff;
	font-size: 12px;
	height: 40px;
}
.zoneLinks ul li div{
    /*width: 70%;*/
	height: 80%;
	color: #797979;
	margin: 10% auto 0;
	line-height: 32px;
}
.zoneLinks ul li .choice{
	background: #f99e1c;
	/*width: 70%;*/
	height: 80%;
	border-radius:8px;
	-webkit-border-radius:8px;
	margin: 10% auto 0;
	line-height: 32px;
	color: #fff;
}

/*灰色背景*/
.gray-color{
	background: #e6e6e6 !important;
}

/*加载更多*/
.loading{
	color: #818181;
	margin-top: 15px;
}

/*价格说明*/
.jiage{
	width: 90%;
	margin: 10px auto;
	color: #8F8F8F;
	text-align: left;
	font-size: 12px;
}