@charset "UTF-8";
.content{margin-top: 15%;}
.ui-btn-lgs{
        font-size: 18px;
        height: 44px;
        line-height: 44px;
        display: block;
        width: 100%;
        border-radius: 5px;
}
.ui-container{
    margin-bottom:55px;
}
#device_group_id{
        width:180px;
}