/* 
* @Author: Administrator
* @Date:   2015-07-16 11:05:33
* @Last Modified by:   Administrator
* @Last Modified time: 2015-07-23 14:54:38
*/
.index_header{
	  padding: 40px 0;
}
.index_logo{
	background:url(../image/logo1.png) no-repeat;
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	margin:0 auto;
}
.index_nav{
	/*padding: 0 20px;*/
}
.index_user{
	border-radius: 3px;
  background-color: #e4dfcd;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5px;
}
.index_user input {
	border:0;
	outline: none;
	color: #b3b3b3;
	background-color: rgb(228, 223, 205);
}
.index_register{
	width: 90%;
	margin:0 auto;
	text-align: center;
	padding:10px 0px;
	color: #897326;
}
.index_btn{
	background-color: #b9a251;
	width: 75%;
	margin:0 auto;
	color:#fff;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	font-size: 17px;
	letter-spacing: 10px;
	box-shadow: 0 0px 3px rgba(0,0,0,0.5) inset;
	border-bottom: 1px solid #484130;
	}
.search_header{
	background-color: #c4af69;
           padding: 15px;
	  border-bottom: 1px solid #847031;
 	box-shadow: 0px -1px 0px rgba(255,255,255,0.8)inset;
}
.search_input{
	width: 85%;
	margin:0 auto;
	border-radius: 20px;
	height: 30px;
	background-color: #faf8f2;
	box-shadow: 0 2px 1px #816621;
	position: relative;
}
.search_arrow{
  	padding-left: 10px;
  	height:28px;
  	line-height: 28px;
}
.search_icon{
 	 color: #c4b173;
 	 margin-left: 5px
}
.search_arrow input{
	  border: 0;
	  outline: none;
	  color: #000;
	  width: 63%;
	  background-color: rgb(250, 248, 242);
	  margin-left: 5px;
	  font-size: 12px;
	  vertical-align: initial;
}
.search_arrow input::-webkit-input-placeholder{
	color:  #eae2bc;
	font-size: 12px;
}
.search_nav{
	border-bottom: 1px solid #c4af69;
	padding: 10px;
	display:-webkit-box;
}
.search_nav_left{
     border-radius: 5px;
     overflow: hidden;
     width: 100px;
    height: 119px;
}
.search_nav_left_img{
	background:url("../image/home_img.png") no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.search_nav_right{
	margin-left: 10px;
	-webkit-box-flex:1;
}
.search_nav_right p{
	  color: #595856;
  /* letter-spacing: 0px; */
  /* text-overflow: ellipsis; */
  /* width: 100%; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search_btn{
background-color: #c4af69;
  color: #fff;
  text-align: center;
  padding: 3px;
  width: 80px;
  border-radius: 5px;
  float: right;
  font-size: 14px;
  letter-spacing: 5px;
  border:1px solid #a9934b;
  box-shadow: 0 1px 1px #fff inset;
}
.referral{
	position: absolute;
	  z-index: 99999999;
	   left: 7px;
	  width: 20%;
	  display: none;
}
.referral ul {
	border-radius: 3px;
}
.referral ul li{
	background-color: #826813;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #b19742;
}
.search_bed_ul_li.up .referral1{
	display: block;
}
.up{
	display:block;
}
.referral1{
	position: absolute;
	 z-index: 99999999;
	 width: 28%;
	 display: none;
}
.referral1 ul{
	background-color:#C4AF69;
	border-radius: 3px
}
.referral1 ul li{
	color: #fff;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #b19742;
}