/* 
* @Author: Administrator
* @Date:   2015-07-17 16:02:34
* @Last Modified by:   Administrator
* @Last Modified time: 2015-07-23 11:51:45
*/
.search_bed{
	padding: 10px;
	border-bottom: 1px solid 
}
.buy_money{
	
}
.buy_count{
	padding: 8px;
	font-size: 13px;
}
.count_input{
	width: 18%;
	border:1px solid #c3af6a;
	border-radius: 5px;
	text-align: center;
	color:#c3af6a;
	height: 19px;
	line-height:19px;
	margin-left:5px;
}
.buy_count input{
	outline: none;
}
.jian{
  width: 16px;
  height: 16px;
  color: #cccccc;
  font-size: 16px;
  border: 2px solid #cccccc;
  display: inline-block;
  vertical-align: bottom;
  line-height: 14px;
  margin-left: 23px;
}
.jia{
width: 16px;
  height: 16px;
  color: #cccccc;
  font-size: 14px;
  border: 2px solid #cccccc;
  display: inline-block;
  vertical-align: bottom;
  line-height: 16px;	
  margin-left:5px;
  text-align: center;
}
.buy_datum{
	padding:10px;
	border-bottom:1px solid #c3af6a;
	color:#282828;
	font-size:14px;
}
.buy_datum:last-child{
	border-bottom:none;
}
.money{
	letter-spacing: 2px;
	color:red;
}

.buy_datum.on .buy_datum_show{
	display: block;
}
.buy_datum_show{
	display: none
}
.search_bed{
  border-bottom: 1px solid #c4af69;
  padding: 10px 0px;	
}
.search_bed_ul{
	display: -webkit-box;
	 margin-left: 10px;
}
.search_bed_ul_li{
	-webkit-box-flex:1;
	color:#7f7f7f;
	border:1px solid #cfbf87;
	text-align: center;
	border-radius: 20px;
	width: 30%;
	margin-right: 10px;
	height: 20px; 
 	 line-height: 20px;	
}
.user_header{
	height: 48px;
	background-color: #ffffff;
	  text-align: center;
  margin: 20px 0;
}
.user_header img{
	width:50%;
	height: 48px;
}
.user_header_message{
	border-top: 1px solid #7e6b2b;
	border-bottom: 1px solid #7e6b2b;
	background:url(../image/bg_img.png) no-repeat;
	background-size: 100%;
	width: 100%;
}
.user_header_message1{
	background:url(../image/user_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	padding-bottom: 10px;
}
.user_header_message_img{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	border:1px solid #b19657;  
          background-color:#f5ecce;
           margin: 0 auto;
 	 margin-top: 20px;
    /*box-shadow: 0 2px 1px rgba(0,0,0,0.3),0 0 173px rgba(255,255,255,0.8);*/
}
.user_header_message_img1{
	border-radius: 50%;
	width: 115px;
	height: 115px;	
	margin:0 auto;
	margin-top:2.5px;
         overflow: hidden;
}
.user_header_message_img img{
	width: 100%;
	height:100%;

}
.user_header_message_img:before{
	content:"";
          box-shadow:;
}
.user_size{
	text-align:center;
	color:#fff;
	margin:8px 0px;
}
.user_size span{
	  text-shadow: 0 0 3px rgba(0,0,0,1);
 	letter-spacing: 1px;
 	 font-size: 16px;
}
.My_points{
	float:right;
	color:#fff;
}
.My_points span{
	  margin-right: 15px;
}
.user_service ul{
	display:-webkit-box;
}
.user_service ul li{
	-webkit-box-flex:1;
	text-align:center;
	padding: 25px 0px;
  	color: #000;
}
.user_service ul li p{
	font-size:15px;
}
.user_service ul li p img{
	  width: 15%;
}
.user_arrow1{
	background:url(../image/arrow1.png) no-repeat;
	background-size:100%;
	width: 26px;
  	height: 30px;
	display:inline-block;
}
.user_arrow2{
	background:url(../image/arrow2.png) no-repeat;
	background-size:100%;
	  width: 30px;
  	height: 30px;
	display:inline-block;
}
.user_arrow3{
	  background: url(../image/arrow3.png) no-repeat;
	  background-size: 100%;
	  width: 26px;
	  height: 22px;
	  display: inline-block;
	  margin-top: 8px;
}
.user_arrow4{
	background:url(../image/arrow4.png) no-repeat;
	background-size:100%;
	  width: 23px;
  	height: 29px;
	display:inline-block;
}
.site_top ul{
    display:-webkit-box;
    position:relative;
}
.site_top ul li{
	width:50%;
	text-align:center;
	background-color:#ad9a55;
	color:#fff;
	height:30px;
	line-height:30px;
	font-size:14px;
}
.site_top ul li:first-child{
       border-right: 1px solid #e0d9be;
       box-shadow: -1px 0 1px #786934 inset;
}
.icon_arrow{
	  font-size: 21px;
	  vertical-align: top;
  	margin-left: 10px;
}
#province{
	  border: 0;
	  outline: none;
	  background-color: rgb(173, 154, 85);
	  color: #fff;
	  font-size: 14px;
	  letter-spacing: 1px;
}
.city{
	 border: 0;
	  outline: none;
	  background-color: rgb(173, 154, 85);
	  color: #fff;
	  font-size: 14px;
	  letter-spacing: 1px;
}
.site_nav{
	padding:10px;
	border-bottom:1px solid #c3af6a;
	position: relative;
}
.site_nav p{
      letter-spacing: 1px;
}
.right_site{
	  position: absolute;
	  font-size: 28px;
	  right: 10px;
	  top: 31px;
}
.home_img{
	width:100%;
}
.home_img img{
	width:100%;
	border-bottom:1px solid #857747;
}
.footer_home{
	padding:10px;
}
.home_btn{
	color:#fff;
	background-color:#c3af6a;
	border:1px solid #a9934a;
	border-radius:3px;
	width:40%;
	float:right;
	text-align:center;
	height:30px;
	line-height:30px;
	letter-spacing: 2px;
}
.buy_bottom{
	padding: 10px;
}
.buy_bottom ul{
	/*display: -webkit-box;*/
	position:relative;
	height: 32px;
}
.buy_bottom ul li{
	width:47.5%;
	text-align:center;
	position: absolute;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
}
.buy_bottom ul li:first-child{
       left:0;
       background-color: #dddddd;
       color: #666666;
       border:1px solid #a5a5a5;
}
.buy_bottom ul li:last-child{
	right: 0;
	background-color:#c3af6a;
	color: #ffffff;
	border:1px solid #9c863b;
}
.buy_datum:nth-child(5){
   border-bottom:  none;
}
.site_shi{
	display: -webkit-box;
}
.site_top select{
	border: 0;
	background-color: rgb(173, 154, 85);
	color: #fff;
}
.name_user{
	  color: #c4b173;
	  text-align: center;
	  width: 38px;
	  display: inline-block;
	  border-right: 1px solid #c4b173;
	  height: 20px;
	  line-height: 18px;
	  padding-right: 5px;
}