/* 
* @Author: Administrator
* @Date:   2015-07-20 09:25:49
* @Last Modified by:   Administrator
* @Last Modified time: 2015-07-22 13:10:26
*/
.store_top{
	padding: 10px;
	border-bottom: 1px solid  #d4c9a5;
	display: -webkit-box;
}
.store_icon{
	background:url("../image/icon_message.png") no-repeat;
	background-size: 100% 100%;
	width: 90px;
	height: 95px;
}
.store_site p{
	  color: #333333;
	  margin-left: 10px;
	  margin-top: 10px;
	  font-size: 12px;
}
.store_site p:last-child{
	  letter-spacing: 1px;
}
.store_nav{
  	  position: relative;
}
.store_ul{
           display: -webkit-box;
  	border-bottom: 1px solid #d4c9a5;
}
.store_ul li{
	height: 30px;
	letter-spacing: 1px;
}
.store_ul li:nth-child(2){
	  -webkit-box-flex: 1;
	  padding-left: 10px; 	
}
.icon_yan{
	background:url("../image/icon_yan.png") no-repeat;
	background-size:100%;
	width: 20px;
	height:17px;
	margin-top: 3px;
}
.icon_xinxi{
	background:url("../image/icon_xinxi.png") no-repeat;
	background-size:100%;
	width: 20px;
	height:20px;
}
.icon_tel{
	background:url("../image/icon_tel.png") no-repeat;
	background-size:100%;
	width: 20px;
	height:20px;
}
.store_room{
	position: absolute;
	right: 10px;
            z-index: 9999;
            display: none;
}
.store_nav.on .store_room{
	display: block;
}

.store_nav.on .store_room ul{
	display: block;
	border-bottom:1px solid #d4c9a5;
	border-left:1px solid #d4c9a5;
	border-right:1px solid #d4c9a5;
	  background-color: #DADADA;
	  /* border: #000; */
	
}
.store_room ul li{
	text-align: center;
	color: #333333;
          padding: 10px;
          letter-spacing: 1px;
          width: 80px;
}
.store_room ul li:hover{
	color: #ae943b
}
.tel{
	letter-spacing: 2px;
}
.tel_input{
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 30px;
	  width: 100%;
	  border: 0;
	  opcity: 0;
	  opacity: 0;
}
.project{
	border: 1px solid #b49f57;
	border-radius: 3px;
	background-color: #fff;
}
.project_top{
	background-color: #c3af6a;
	padding: 5px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.project_nav{
	padding: 10px;
	color: #000;
}
.project_nav p{
	font-size: 13px;
}
.project_nav p span{
	font-size: 12px;
}
.ml5mr5{
	margin:5px 0;
}
.project_jian{
	width: 18px;
	height: 18px;
	background:url(../image/jian.png) no-repeat;
	background-size: 100%;	
	display: inline-block;
	vertical-align: text-bottom;
}
.project_xiala{
	  width: 20px;
	  height: 20px;
	  background: url(../image/icon_xiala.png) no-repeat;
	  background-size: 100%;
	  display: inline-block;
	  position: absolute;
	  right: 10px;
	  top: 8px;
}
.project_nav_input{
	background-color: #faf7ee;
	border:1px solid #b49f57;
	border-radius: 3px;
	padding: 8px;
	position: relative;
}
.project_nav_input input{
	border: 0;
	background-color:#faf7ee;
	width: 95%;
	color: #c1bfbb;
}
.project_btn{
	background-color: #c3af6a;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	width: 35%;
	margin:0 auto;
	border-radius: 5px;
	font-size: 16px;
	letter-spacing: 5px;
}
.project_size{
	color: #fff;
  	font-size: 16px;
 	margin-left: 5px;
 	text-shadow: 0 0 2px #5E5E5E;
}
/*.Mask{
	  position: fixed;
	  left: 0;
	  top: 0;
	  height: 100%;
	  width: 100%;
	  background-color: rgba(0,0,0, 0.4);
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	  transition: opacity 0.3s 0s, visibility 0s 0.3s;
	  z-index: 9999;
}
.Mask.is-visible{
	  opacity: 1;
	  visibility: visible;
	  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.Mask_nav{
	padding: 0px 20px;
	margin-top: 30%;
}
.Mask_nav ul{
	background-color: #ffffff;
	border: 1px solid #c3af6a;
	border-radius: 5px
}
.Mask_nav ul li{
	padding: 5px 10px;
	font-size: 14px;

}
.Mask_nav ul li:first-child{
	color: #c3af6a;
	border-bottom: 1px solid #c3af6a;
}*/
.project_nav_input select{
	  position: absolute;
	  top: 6;
	  left: 0;
	  width: 85%;
	  height: 20px;
	  opacity: 1;
	  border: 0;
	  background-color: rgb(250, 247, 238);
	  outline: none;
	  color:#c1bfbb;
	  margin-left: 8px;
	   line-height: 20px;
}
.store_data_nav{
	  box-shadow: 0 4px 4px rgba(139, 132, 132, 0.5);
}